<h1><%= _("Editing a Team") %></h1>

<% form_tag team_path(@team), :id => 'form_team', :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Validate") %>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
