<h1><%= _("List of the teams") %></h1>

<table>
  <tr>
    <td><%= _("Name") %></td>
    <td><%= _("Contact") %></td>
    <td><%= _("Motto") %></td>
  </tr>
<% for team in @teams %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.contact %></td>
    <td><%= team.motto %></td>
    <td><%= link_to _('Show'), team %></td>
    <td><%= link_to _('Edit'), edit_team_path(team) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('New team'), new_team_path %>
