<h1><%= _("Team %s") % @team.name %></h1>
<p>
  <b><%= _("Contact") %> : </b><%= link_to @team.contact %>
</p>
<p>
  <b><%= _("Motto") %> : </b><%= @team.motto %>
</p>
<%= show_liste(@team.users, _('Members')) {|u| link_to u.name, account_path(u)} %>
<%= show_liste(@team.contrats, _('Contracts')) {|c| link_to c.name, contrat_path(c)} %>

<%= link_to _('Edit'), edit_team_path(@team) %> |
<%= link_to _('Back'), teams_path %>
