<%= error_messages_for 'license' %>

<p><label for="license_name"><%=_('License|Name')%></label><br />
<%= text_field 'license', 'name'  %></p>

<p><label for="license_url"><%= _("Url") %></label><br />
<%= text_field 'license', 'url'  %></p>

<p><label for="license_certifie_osi"><%= _("OSI Certified") %></label>
<%= check_box 'license', 'osi_certified' %></p>
