<%= error_messages_for 'contributionstate' %>

<p><label for="contributionstate_name"><%=_('Contributionstate|Name')%></label><br />
<%= text_field 'contributionstate', 'name'  %></p>

<p><label for="contributionstate_description"><%=_('Contributionstate|Description')%></label><br />
<%= text_area 'contributionstate', 'description'  %></p>

