<%= error_messages_for 'urlsoftware' %>

<p><label for="urlsoftware_valeur"><%=_('Value')%></label><br />
<%= text_field 'urlsoftware', 'valeur'  %></p>

<p><label for="urlsoftware_software"><%=_('Software')%></label><br />
  <%= select("urlsoftware", "software_id", @softwares) %></p>

<p><label for="urlsoftware_typeurl"><%=_('Kind')%></label><br />
  <%= select("urlsoftware", "typeurl_id", @typeurls) %></p>
