<h1><%= _('Edit a comment') %></h1>

<% form_tag comment_path(@comment), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to 'Show', comment_path(@comment) %> |
<%= link_to_back %>
<%= link_to_issue @comment.issue, :text => _('Return to the issue') %>
