<h1><%= "#{@request_tosca.full_id} #{@request_tosca.resume}" %></h1>

<%= render :partial => "requests/tabs/description" %>

<%= render :partial => "requests/tabs/comment", :locals =>
         { :comment => @comment } %>

<%= link_to 'Modifier', edit_comment_path(@comment) %> |
<%= link_to_request @comment.request, :text => _('Return to the request') %>
