<h1><%= "#{@issue.pretty_id} #{@issue.resume}" %></h1>

<%= render :partial => "issues/tabs/description" %>

<%= render :partial => "issues/tabs/comment", :locals =>
         { :comment => @comment, :not_collapsed => true } %>

<%= link_to _('Edit'), edit_comment_path(@comment) %> |
<%= link_to_issue @comment.issue, :text => _('Return to the issue') %>
