<%= error_messages_for 'contract' %>

<table class="topbox">
  <tr><td>
    <table class="form">
      <tr>
        <th><label for="contract_client_id"><%=_('Customer')%></label></th>
        <td><%= select(:contract, :client_id, @clients) %></td>
      </tr><tr>
        <th><label for="contract_chrono"><%= _("Contract|Chrono") %></label></th>
        <td><%= text_field :contract, :chrono %></td>
      </tr><tr>
        <th><label for="contract_mailinglist"><%=_("Mailing list")%></label></th>
        <td><%= text_field 'contract', 'mailinglist'  %></td>
      </tr><tr>
        <th><label for="contract_ouverture"><%= _('Start') %></label></th>
        <td><%= date_select :contract, :ouverture %></td>
      </tr><tr>
        <th><label for="contract_cloture"><%=_('End')%></label></th>
        <td><%= date_select :contract, :cloture %></td>
      </tr><tr>
        <th><label for="contract_veille_technologique"><%= _("Technological survey") %></label></th>
        <td><%= check_box :contract, :veille_technologique %></td>
      </tr><tr>
        <th><label for="contract_newsletter"><%= _("Newsletter") %></label></th>
        <td><%= check_box :contract, :newsletter  %></td>
      </tr><tr>
        <th><label for="contract_name"><%= _("Domain") %></label></th>
        <td><%= text_field :contract, :name %></td>
      </tr><tr>
        <th><label><%=_('Commitments')%> <%= link_to_new_engagement %></label></th>
        <td><%= show_form_engagements(@contract.engagements, @engagements, 'contract[engagement_ids]') %></td>
      </tr>
    </table>
  </td>
  <td>
    <table class="form">
     <tr>
      <th><label><%= _("Type") %></label></th>
       <td><% Contract::Rules.each do |r| %>
               <%= radio_button(:contract, :rule_type, r) %>
               <%= _(r) %> <%= link_to_new_rule(r) %>
           <% end %></td>
     </tr><tr>
       <th><label for="contract_rule_id"><%= _('Ruled by') %></label></th>
       <td><div id="contract_rules">
          <%= render :partial => 'rules' %>
	   </div></td>
     </tr><tr>
     <% options = {:size => 1, :style => 'text-align: center;' } %>
       <th><label for="contract_heure_ouverture"><%= _("Schedules") %></label></th>
       <td><%= text_field :contract, :heure_ouverture, options  %><%= _("h") %> -
           <%= text_field :contract, :heure_fermeture, options  %><%= _("h") %></td>
     </tr><tr>
       <td colspan="2">
       <fieldset>
        <legend><%=_('Engineers assigned to this contract')%></legend>
        <%= hbtm_check_box(@contract.engineer_users, @ingenieurs,
                         'contract[engineer_user_ids]', :size => 3) %>
       </fieldset>
      </td>
     </tr>
     <tr>
       <td colspan="2">
       <fieldset>
        <legend><%=_('Teams managing this contract')%></legend>
        <%= hbtm_check_box(@contract_team, @teams, 
                         'contract[team_ids]', :size => 3) %>
       </fieldset>
      </td>
     </tr>
    </table>
  </td></tr>
</table>
