<% time = Time.now.hash %>
<% random_field = "software[#{time}]" %>

<% # Add this script to give the focus to the version field in the last software added. %>
<% # Improve usability : allows to use easily this form without touching the mouse %>
<% if @release.nil? %>
  <script type="text/javascript">
   <%= update_page do |page|
         # allows to use this page as a cli
         page.delay(0.5) { page["#{random_field}[version]"].focus() }
         # allows to choose successively the same software
         page["select_software"].value = "";
       end %>
  </script>
 <% @release= Release.new( :release => " ", :inactive => false, :version => Version.new ) %>
<% end %>
<% new_record = @release.new_record? %>

<tr id="<%=@random_id%>" class="<%=cycle('odd', 'even')%>"
    <%=%Q{style="display: none} if new_record %> >
  <% # default values for a new package are set here %>
  <td><label for="<%=random_field%>[active]"> <%= @logiciel.name %></label></td>
  <td>
    <%= (new_record ? text_field_tag("#{random_field}[version]") : @release.version) %>
  </td>
  <td>
    <% # text_field_tag("#{random_field}[release]") ?? %>
    <%= (new_record ? '1' : @release.release) %>
  </td>
  <td align='center'>
    <%= check_box_tag("#{random_field}[inactive]", @release.inactive?) unless new_record %>
  </td>
  <td>
    <%= hidden_field_tag "#{random_field}[release_id]", @release.id %>
    <%= hidden_field_tag "#{random_field}[software]", @logiciel.id %>

   <% # Only admin can remove a software, since it can have a great impact on requests %>
   <%= link_to_function(StaticImage::delete, :class => "no_hover" ) { |page|
         page.visual_effect :fade, @random_id, :duration => 0.5
       } unless new_record && session[:user].role_id != 1 %><br />
  </td>
</tr>
