<h1><%= _('Edit a contract') %> <%= StaticImage::spinner %></h1>

<% form_tag contract_path(@contract), :id => 'contract_form',
     :name => 'contract_form' ,:method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>

<%= link_to_show_and_list(@contract) %>
