<h1><%= _("List of contracts") %> <%= StaticImage::spinner %></h1>

<%= show_pages_links(@contract_pages, _('a contract')) %>

<% titles = [_('Name'), _('Type'), _('Issues'), _('Releases'),
  _('Users'), _('Mailing list'), _('Start'), _('=>'), _('End')] %>
<%= show_table(@contracts, Contract, titles) { |c|
  result = ''
  result << "<td>#{link_to_contract(c)}</td>"
  result << "<td>#{c.rule_type}</td>"
  result << "<td>#{c.issues.size}</td>"
  result << "<td>#{c.releases.size}</td>"
  result << "<td>#{c.users.size}</td>"
  result << "<td>#{mail_to(c.internal_ml)}</td>"
  result << "<td>#{c.start_date_formatted}</td>"
  result << '<td></td>' # used for the arrow
  result << "<td>#{c.end_date_formatted}</td>"
  result << "#{link_to_actions_table c}"
}%>

<%= show_pages_links(@contract_pages, _('a contract')) %><br />
<%= link_to _('Ordered by end date'), actives_contracts_path %>
