<h1><%= _('New contract') %> <%= StaticPicture::spinner %></h1>

<% form_tag( contracts_path, :id => 'main_form', :name => 'main_form' ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create") %>
<% end %>

<%= link_to_back %>
