<% links = link_to_edit_and_list(@contract) %>
<%= links %>
<% teams = @contract.teams %>
<% versions = @contract.versions %>
<%= StaticImage::spinner %>
<div class="subcolumns">
  <div class="c50l">
    <div class="show">
   <table>
    <tr>
     <td style="vertical-align: middle"><b><%= _('Client') %></b></td>
     <td><%= link_to logo_client(@contract.client), @contract.client %></td>
    </tr>
    <tr>
     <td><b><%= _('Name') %></b></td>
     <td><%= @contract %></td>
    </tr>

    <% rule = @contract.rule %>
    <% if rule %>
    <tr>
      <td colspan="2">&nbsp;&nbsp;<%= link_to_edit_rule(rule) %>
       <i><%= rule.short_description %> <%= link_to_rule(rule) %></i></td>
     </tr>
    <% end %>

    <% salesman = @contract.salesman %>
    <% if salesman %>
    <tr>
     <td><b><%= _('Salesman Contact') %></b></td>
     <td><%= link_to salesman.name, account_path(salesman) %></td>
    </tr>
    <% end %>

    <% manager = @contract.manager %>
    <% if manager %>
    <tr>
     <td><b><%= _('Technical Account Manager') %></b></td>
     <td><%= link_to manager.name, account_path(manager) %></td>
    </tr>
    <% end %>

    <tr>
     <td><b><%= _('Internal mailing list') %></b></td>
     <td><%= @contract.internal_ml %></td>
    </tr>
    <tr>
     <td><b><%= _('Customer mailing list') %></b></td>
     <td><%= @contract.customer_ml %></td>
    </tr>
    <tr>
     <td><b><%= _('Start') %></b></td>
     <td><%= complete_date(@contract.start_date) %></td>
    </tr>
    <tr>
      <td><b><%= _('End') %></b></td>
      <td><%= complete_date(@contract.end_date) %></td>
    </tr>
    <tr>
     <td colspan="2">
      <fieldset>
       <legend><%= _("Contractual commitments") %></legend>
       <%= show_table_commitments @contract.commitments %>
      </fieldset>
     </td>
    </tr><tr>
     <td colspan="2">
      <fieldset>
       <legend><%= _("Human ressources") %></legend>
       <table width="100%"><tr><td>
        <% title = n_('expert', 'experts', @contract.engineer_users.size) %>
        <%= show_list(@contract.engineer_users, title) do |u|
              link_to u.name, account_path(u)
            end %>
        </td><td>
         <% title = n_('Team','Teams', teams.size ) %>
         <%= show_list(teams, title) { |t| link_to t.name, team_path(t) } %>
        </td>
    </tr></table>
      </fieldset>
     </td>
    </tr>
   </table>
</div></div>
<div class="c50r"><div class="show">
   <table>
    <tr>
     <td style="width: 36em;">
       <p><b><%= _('Supported software') %> :
            <%= link_to StaticImage::edit, { :action => "supported_software", :controller => "contracts"} %></b></p>
       <% unless versions.empty? %>
       <div class="long_bloc_scroll">
        <%= show_list(versions) { |v| link_to v.full_software_name, v } %>
       </div>
       <% end %>
     </td>
    </tr>
   </table>
  </div>
  <div class="show">
    <p><b><%= _('Manage tags for this contract') %></b></p>
    <%= link_to StaticImage::icon_tag, tags_contract_url(@contract) %>
  </div>
  <div class="show" id="subscribers">
    <%= render :partial => 'subscribers' %>
  </div>
</div>
</div>

<br/>

<%= links %>

<%# TODO : before next release : aggregation of all time credits %>
<%# left panel seems to be a good place for those informations %>
<% if false %>
  <p><b><%= _('Obligation') %> : </b> <%= @contract.obligation? %></p>
  <p><b><%= _('System') %> : </b> <%#= @contract.socle? %></p>
<% elsif false %>
  <p><b><%= _('Number of tickets') %> : </b><%= @contract.tickets_total %></p>
  <p><b><%= _('Number of used tickets') %> : </b><%= @contract.tickets_consommes %></p>
                                          <%#We specify the plural for internationnalisation %>
  <p><b><%= _('Time per ticket') %> : </b><%= pluralize(@contract.ticket_temps, _("minute"), _("minutes")) %></p>

  <br/><h1><b><%= _("Error, wrong type of contract") %></b></h1>
<% end %>
