<p><b><%= _('Client') %></b> : <%= link_to_client(@contract.client) %></p>
<p><b><%= _('Name') %></b> : <%= @contract %></p>
<% rule = @contract.rule %>
<% if rule %>
  <p>&nbsp;&nbsp;<%= link_to_edit_rule(rule) %>
    <%= rule.short_description %>
    <%= link_to_rule(rule) %></p>
<% end %>
<% if @contract.commercial %>
 <p><b><%= _('Commercial Contact') %></b> : <%= @contract.commercial.name %></p>
<% end %>
<p><b><%= _('Internal mailing list') %></b> : <%= @contract.internal_ml %></p>
<p><b><%= _('Customer mailing list') %></b> : <%= @contract.customer_ml %></p>
<p><b><%= _('Start') %></b> : <%= @contract.ouverture_formatted %></p>
<p><b><%= _('End') %></b> : <%= @contract.cloture_formatted %></p>


<% if false %>
  <p><b><%= _('Obligation') %> : </b> <%= @contract.astreinte? %></p>
  <p><b><%= _('System') %> : </b> <%#= @contract.socle? %></p>
<% elsif false %>
  <p><b><%= _('Number of tickets') %> : </b><%= @contract.tickets_total %></p>
  <p><b><%= _('Number of used tickets') %> : </b><%= @contract.tickets_consommes %></p>
                                          <% #We specify the plural for internationnalisation %>
  <p><b><%= _('Time per ticket') %> : </b><%= pluralize(@contract.ticket_temps, _("minute"), _("minutes")) %></p>

  <br/><h1><b><%= _("Error, wrong type of contract") %></b></h1>
<% end %>

<p><b><%= _("Contractual commitments") %> : </b></p>
<%= show_table_commitments @contract.commitments %>

<%= show_list(@contract.engineer_users, _('expert')) {|u| link_to u.name, account_path(u)} %>

<% header = _("%s managing this contract") % n_('Team','Teams', @teams.size ) %>
<%= show_list(@teams, header) { |t| link_to t.name, team_path(t) } %>

<p><b><%= _('Supported software in this contract') %> : <%= link_to StaticImage::edit, { :action => "supported_software", :controller => "contracts"} , :class => "no_hover" %></b></p>
<%= show_list(@contract.versions) { |v| link_to v.full_software_name, v } %>

<br/>
<br/>
<br/>

<%= link_to_edit_and_list(@contract) %>
