<% links = link_to_edit_and_list(@contract) %>
<%= links %>
<% tam = @contract.tam %>
<% rule = @contract.rule %>
<% teams = @contract.teams %>
<% versions = @contract.versions %>
<% salesman = @contract.salesman %>
<%= StaticPicture::spinner %>
<div class="subcolumns">
 <div class="c50l">
  <div class="show">
   <table>
    <tr>
     <td style="vertical-align: middle"><b><%= _('Client') %></b></td>
     <td><%= link_to logo_client(@contract.client), @contract.client %></td>
    </tr>
    <tr>
     <td><b><%= _('Name') %></b></td>
     <td><%= @contract %></td>
    </tr>

    <% if rule %>
    <tr>
     <td colspan="2">&nbsp;&nbsp;<%= link_to_edit_rule(rule) %>
                     <i><%= rule.short_description %> <%= link_to_rule(rule) %></i></td>
     </tr>
    <% end %>

    <% if salesman %>
    <tr>
     <td><b><%= _('Salesman Contact') %></b></td>
     <td><%= link_to salesman.name, account_path(salesman) %></td>
    </tr>
    <% end %>

    <% if tam %>
    <tr>
     <td><b><%= _('Technical Account tam') %></b></td>
     <td><%= link_to tam.name, account_path(tam) %></td>
    </tr>
    <% end %>

    <% if @session_user.expert? %>
    <tr>
     <td><b><%= _('Internal mailing list') %></b></td>
     <td><%= @contract.internal_ml %></td>
    </tr>
    <% end %>

    <tr>
     <td><b><%= _('Customer mailing list') %></b></td>
     <td><%= @contract.customer_ml %></td>
    </tr>
    <tr>
     <td><b><%= _('Start') %></b></td>
     <td><%= complete_date(@contract.start_date) %></td>
    </tr>
    <tr>
      <td><b><%= _('End') %></b></td>
      <td><%= complete_date(@contract.end_date) %></td>
    </tr>
   </table>
  </div><div class="show">
   <fieldset>
    <legend><%= _("Contractual commitments") %></legend>
     <%= show_table_commitments @contract.commitments %>
   </fieldset>
  </div>
 </div><div class="c50r">
   <div class="show">
    <fieldset>
     <legend><%= _("Human ressources") %>:</legend>
     <table width="100%"><tr>
       <th><%= n_('Expert', 'Experts', @contract.engineer_users.size) %></th>
       <th><%= n_('Team','Teams', teams.size ) %></th>
      </tr><tr>
       <td>
        <%= show_list(@contract.engineer_users, '', :no_title => true) do |u|
              link_to u.name, account_path(u)
            end %>
       </td><td>
        <%= show_list(teams, '', :no_title => true) { |t| link_to t.name, team_path(t) } %>
       </td>
      </tr>
     </table>
    </fieldset>
   </div>
   <% if @session_user.expert? or (@session_user.recipient? && !versions.empty?) %>
   <div class="show"><table>
    <tr>
     <td style="width: 36em;">
       <p><b><%= _('Supported software') %>:
            <%= link_to StaticPicture::edit, { :action => "supported_software", :controller => "contracts"} %></b></p>
       <% unless versions.empty? %>
       <div class="long_bloc_scroll">
        <%= show_list(versions) { |v| link_to v.full_software_name, v } %>
       </div>
       <% end %>
     </td>
    </tr>
   </table></div>
   <% end %>
   <% if @session_user.expert? or (@session_user.recipient? && !versions.empty?) %>
   <div class="show">
    <p><b><%= _('Tags') %>:</b>
    <%= link_to StaticPicture::icon_tag, tags_contract_url(@contract) %></p>
   </div>
   <% end %>
   <% if @session_user.expert? %>
   <div class="show" id="subscribers">
     <%= render :partial => 'subscribers' %>
   </div>
   <% end %>
 </div>
</div>

<br/>

<%= links %>
