<h1><%= _("Supported software in this contract") %></h1>

<% options = { :before => "Element.show('spinner')",
               :success => "Element.hide('spinner')",
               :url => {:action => "ajax_add_software", :controller => "contracts"},
               :with => "Form.Element.serialize('select_software')"
               } %>
<% form_tag( {:action => "add_software"}, :id => "main_form") do %>
<table class="show" cellpadding="5" >
  <tr>
    <th width="70"><%= _('Software') %></th>
    <th><%= _('Version') %></th>
	<th><%= _("Generic ?") %></th>
    <th></th>
  </tr>
  <% @versions.each do |v| %>
    <% @software = v.software %>
    <% @version = v %>
    <%= render :partial => "contracts/software" %>
  <% end %>
  <tr id="end"></tr>
</table>

<table class="show" cellpadding="5">
  <tr><td>
    <fieldset><legend><%= _('Add software') %></legend>
    <table cellpadding="5">
      <tr>
        <td><label for="select_software"><%=_('Software')%></label></td>
        <td>
         <%= select_empty "select", "software", @softwares, {},
                          { :onchange => remote_function(options) } %>
         <%= link_to image_create(_('a software')), new_software_path %>
        </td>
        <td width="20"> <%= StaticPicture::spinner %></td>
      </tr>
    </table>
    </fieldset>
 </td></tr>
</table>

<input name='id' type='hidden' value='<%= @contract.id %>'>

<table class="show" cellpadding="5">
  <tr><td>
    <%= submit_tag _('Validate') %>
  </td></tr>
</table>
<% end %>
