<table style="width: 100%;"><tr>
  <td><b><u><%= _("Your answer :") %></u></b></td>

  <% unless @statuts.empty? %>
  <td align="center">
    <label for="comment_statut_id"><%= _("Status") %></label>
    <%= select_empty(:comment, :statut_id, @statuts) %>
  </td>
  <% end %>
  <% if @ingenieur %>
  <td align="center">
    <label for="comment_severity_id"><%= _("Severity") %></label>
    <%= select_empty(:comment, :severity_id, @severities) %>
  </td>
  <td align="center">
    <label for="comment_ingenieur_id"><%= _("Assign") %></label>
    <select id="comment_ingenieur_id" name="comment[ingenieur_id]"><option value="">» </option>
       <%= options_from_collection_for_select(@ingenieurs, :last, :first) %>
       <%= option_groups_from_collection_for_select(@teams, :engineers_collection_select, :name, :id, :name) %>
    </select>
  </td>
  <% end %>
</tr></table>


<div class="issue_tab_content">
<table width="100%" class="comment">
 <tr class="public">
  <td class="infos" align="center"><br />
     <%= avatar(@recipient, @ingenieur) %><br />
     <br /><br />
    <% if @ingenieur %>
       <label for="comment_private"><%= _("Private ?") %></label>
     <%= check_box(:comment, :private) %><br />
     <br /><br /><br /><br /><br /><br /><br />
     <% if @issue.contract.credit? %>
      <%= text_field :comment, :elapsed, :size => 1 %>
      <label for="comment_elapsed"><%= _('Tickets spent') %></label>
     <% end %>

    <% end %>
  </td><td class="text" align="center" style="width:100%;">
   <%= text_area :comment, :text, :style => 'width:100%;' %>
     <%= file_column_field('attachment', 'file', :size => 45) %><br />
     <%= submit_tag _("Answer") %>
  </td>
 </tr>
</table>
</div>
