<% client = @issue.client %>

<p><label><%= _("Recipient :") %></label>
<% if client %>
  <%= select('issue', 'recipient_id',
        client.recipients.collect{|l| [ l.name, l.id]}) %>
<% end %>
</p>

<p><label><%= _("Engineer :") %></label>
<% if client %>
<%= select('issue', 'ingenieur_id',
        client.ingenieurs.collect{|l| [ l.name, l.id]},
        :include_blank => true) %>
<% end %>
</p>

<p><label><%= _("Issue type :") %></label>
<% if client %>
  <%= select('issue', 'typeissue_id',
          client.typeissues.collect{|l| [ l.name, l.id]}) %>
<% end %>
</p>

<p><label><%= _("Severity :") %></label>
<% if client %>
  <%= select('issue', 'severity_id',
          client.severities.collect{|l| [ l.name, l.id]}) %>
<% end %>
</p>

<p><label><%= _("Base :") %></label>
<% if client %>
  <%= select('issue', 'socle_id',
          client.socles.collect{|l| [ l.name, l.id]}) %>
<% end %>
</p>

<p><label><%= _("Software :") %></label>
<% if client %>
  <%= select('issue', 'software_id',
          client.softwares.collect{|l| [ l.name, l.id]}) %>
<% end %>
</p>
