<h1><%= _("Update the issue %s (administration)") % @issue.id %>
    <%= StaticPicture::spinner %></h1>

<% form_tag(issue_path(@issue.id), {:method => :put, :multipart => true,
              :id => 'main_form', :name => 'main_form' }) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Update") %>
<% end %>

<%= link_to_back %>
