<h1><%= @issue.resume %></h1>
<%= render :partial => 'issues/tabs/description' %>
<br />

<h1><%= _("Comments") %></h1>
<%= render :partial => 'issues/tabs/tab_comments' %>
<br />

<h1><%= _("History") %></h1>
<%= render :partial => 'issues/tabs/history' %>
<br />

<h1><%= _("Phonecalls") %></h1>
<%= render :partial => 'issues/tabs/phonecalls' %>
<br />

<h1><%= _("SLA") %></h1>
<%= render :partial => 'issues/tabs/cns' %>
<br />

<script type="text/javascript"><!--
  window.onload = print();
  tosca_show_all_comments();
//--></script>
