<%# It's separated by roles, since viewer & customer see different things %>
<% cache("issues/#{@issue.id}/front-#{@session_user.role_id}") do %>
 <div class="content">
     <div class="software">
      <p><%= image_expand_all %>
      <%= link_to_function _('Expand all'), 'tosca_expand_all_comments()' %>
      <%= image_collapse_all %>
      <%= link_to_function _('Collapse all'), 'tosca_collapse_all_comments()' %>
      <% software = @issue.software %>
      <% if software %>
        <%= public_link_to(software_logo(software), software_path(software)) %>
      <% end %></p>
     </div>
   <h1>
    <% options = edit_issue_path(@issue.id) %>
    <%= link_to(StaticPicture::edit, options) %>
    <%= "#{@issue.pretty_id} #{@issue.resume}" %>
    <% options = print_issue_path(@issue.id) %>
    <%= link_to(StaticPicture::print, options) %>
   </h1>
   <div id="comment-list" class="clearfix">
     <%= render(:partial => 'issues/tabs/comment',
       :collection => @comments, :locals =>{:not_collapsed => false}) %>
     <!-- IE Column Clearing : this browser really sucks -->
     <div id="ie_clearing"> &#160; </div>
   </div>

   <script type="text/javascript">
     $('comment_<%=@issue.first_comment_id%>').removeClassName('collapsed');
     $('comment_<%=@issue.last_comment_id%>').removeClassName('collapsed');
   </script>

   <div>
    <% if @session_user.authorized? "comments/comment" %>
     <% action = comment_comment_path(@issue) %>
     <% form_tag(action, :method => :post, :multipart => true) do %>
      <%= render :partial => 'comment_form' %>
      <p>&nbsp;</p>
     <% end %>
    <% end %>
   </div>

   <%# see tab_menu for ajax links %>
   <div class="issue_tab clearfix" id="issue_tab">
    <%= render :partial => 'issues/tabs/tab_empty' %>
     <!-- IE Column Clearing : this browser really sucks -->
     <div id="ie_clearing"> &#160; </div>
   </div>
 </div>
<% end %>
