<%= error_messages_for 'paquet' %>

<!--[form:paquet]-->


<table class="topbox">
 <tr>
  <td>
   <table class="show">
     <tr>
       <td><label for="paquet_logiciel_id"><%= _('Software')%></label></td>
       <td><%= select("paquet", "logiciel_id", @logiciels.collect{|l| [ l.name, l.id]}) %></td>
     </tr><tr>
       <td><label for="paquet_contrat_id"><%= _('Contract')%></label></td>
       <td><%= select("paquet", "contrat_id", @contrats.collect{|c| [ c.name, c.id]}) %></td>
     </tr><tr>
       <td><label for="paquet_name"><%= _('Name')%></label></td>
       <td><%= text_field 'paquet', 'name'  %></td>
     </tr><tr>
       <td><label for="paquet_version"><%= _('Version')%></label></td>
       <td><%= text_field 'paquet', 'version'  %></td>
     </tr><tr>
       <td><label for="paquet_release"><%= _('Release')%></label></td>
       <td><%= text_field 'paquet', 'release'  %></td>
     </tr><tr>
       <td><label for="paquet_conteneur_id"><%= _('Container')%></label>
           <%= link_to_new_conteneur %></td>
       <td><%= select("paquet", "conteneur_id", @conteneurs.collect{|l| [ l.name, l.id]}) %></td>
     </tr><tr>
       <td><label for="paquet_distributeur_id"><%= _('Distributor')%></label>
           <%= link_to_new_distributeur %></td>
       <td><%= select("paquet", "distributeur_id", @distributeurs.collect{|l| [ l.name, l.id]}) %></td>
     </tr><tr>
       <td><label for="paquet_mainteneur_id"><%= _('Package author')%></label>
           <%= link_to_new_mainteneur %></td>
       <td><%= select("paquet", "mainteneur_id", @mainteneurs.collect{|l| [ l.name, l.id]}) %></td>
     </tr><tr>
       <td><label for="paquet_active"><%= _('Supported') + ' ?'%></label></td>
       <td><%= check_box( 'paquet' , 'active')%></td>
     </tr>
   </table>
  </td><td>
   <div class="info"
    <fieldset>
    <legend><%= _('Specific additionnal configuration')%></legend>
       <%= text_area 'paquet', 'configuration', :style => 'width:
       100%;', :rows => 15  %>
    </fieldset>
   </div>
  </td></tr>
</table>

<!--[eoform:paquet]-->
