<%= error_messages_for 'version' %>

<table class="topbox">
 <tr>
  <td>
   <table class="show">
     <tr>
       <th><label for="version_logiciel_id"><%= _('Software')%></label></th>
       <td><%= select(:version, :logiciel_id, @logiciels) %></td>
     </tr><tr>
       <th><label for="version_contract_id"><%= _('Contract')%></label></th>
       <td><%= select(:version, :contract_id, @contracts) %></td>
     </tr><tr>
       <th><label for="version_name"><%= _('Name')%></label></th>
       <td><%= text_field 'version', 'name'  %></td>
     </tr><tr>
       <th><label for="version_version"><%= _('Version')%></label></th>
       <td><%= text_field 'version', 'version'  %></td>
     </tr><tr>
       <th><label for="version_release"><%= _('Release')%></label></th>
       <td><%= text_field 'version', 'release'  %></td>
     </tr><tr>
       <th><label for="version_conteneur_id"><%= _('Container')%></label>
           <%= link_to_new_conteneur %></th>
       <td><%= select(:version, :conteneur_id, @conteneurs) %></td>
     </tr>
       <tr><th colspan="2"><label for="version_distributeur_id"><%= _('Distributor')%></label>
           <%= link_to_new_distributeur %></th></tr>
       <tr><td colspan="2"><%= select(:version, :distributeur_id, @distributeurs) %></td></tr>
     <tr>
       <th><label for="version_mainteneur_id"><%= _('Package author')%></label>
           <%= link_to_new_mainteneur %></th>
       <td><%= select(:version, :mainteneur_id, @mainteneurs) %></td>
     </tr><tr>
       <th><label for="version_active"><%= _('Supported') + ' ?'%></label></th>
       <td><%= check_box( 'version' , 'active')%></td>
     </tr>
   </table>
  </td><td>
   <div class="info">
    <fieldset>
    <legend><%= _('Specific additionnal configuration')%></legend>
       <%= text_area 'version', 'configuration', :style => 'width:
       100%;', :rows => 15  %>
    </fieldset>
   </div>
  </td></tr>
</table>

