<% logiciel = @paquet.logiciel %>
<%= public_link_to _('Homepage') , bienvenue_url%> >
 <%= public_link_to _('Softwares') , logiciels_path %> >
  <%= public_link_to logiciel.groupe.name, logiciel_path(logiciel.groupe_id) %> >
   <%= public_link_to logiciel.name, logiciel_path(logiciel) %> >
    <%=@paquet.version%><%="-#{@paquet.release}" unless @paquet.release.blank? %>
     <%= link_to_edit(@paquet) %>

   <h2><%= _('Source package')%></h2>

<% unless @paquet.active %>
<div class="show">
  <p><%= _('<b>Note : </b>This package isn\'t from now on your perimeter.
  It is preserved here only for historical reasons.')%></p>
 </div>
<% end %>

<table class="topbox">
  <tr><td>
   <div class="show" style="min-width: 30em;">
    <p><b><%= _('Software') + ' : '%></b> <%= @paquet.logiciel.name %></p>
    <p><b><%= _('Contract') + ' : '%></b> <%= @paquet.contract.client.name %></p>

    <% for column in Paquet.content_columns %>
     <p><b><%= _(column.human_name) %>:</b> <%= @paquet.send(column.name) %></p>
    <% end %>

    <p><b><%= _('Container') + ' : '%></b> <%= @paquet.conteneur.name unless @paquet.conteneur.nil? %></p>
    <p><b><%= _('Distributor')+ ' : '%></b> <%=h @paquet.distributeur.name unless @paquet.distributeur.nil? %></p>
    <p><b><%= _('Maintainer')+' : '%></b> <%=h @paquet.mainteneur.name unless @paquet.mainteneur.nil? %></p>
   </div>
   <p><b><%= pluralize(@paquet.binaires.count, _('binary') ) %></b> <%= link_to_new_binaire(@paquet.id) %></p>
    <% options = {:no_title => true, :edit => 'binaire'} %>
   <p>
     <% if @paquet.binaires.size > 0 %>
        <%= public_show_list(@binaires, _('binary'), options) {|b|
            link_to_binaire(b) << _(' <i>on</i> ') << b.socle.name
          } %>
     <% end %>
   </p>
  </td><td>
   <% unless @beneficiaire or @paquet.configuration.blank? %>
   <div class="info">
    <fieldset>
    <legend><%=_('Configuration')%></legend>
     <%= @paquet.configuration %>
    </fieldset>
   </div>
   <% end %>
  </td></tr>
</table>

<br />
<% unless @changelogs.empty? %>
<p><%= _('This package has been updated')%><b><%= pluralize(@changelogs.size, _('times') ) %></b></p>
 <div class="bloc_scroll">
   <%= show_list(@changelogs, _('changelog'), :no_title => true) { |c|
      indent(c.to_s) } %>
 </div>
<% end %>


<p>&nbsp;</p>

<%= link_to_edit_and_list(@paquet) %>
