<h1><%= _('Edit an url') %></h1>

<% form_for(@hyperlink) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :model_type %><br />
    <%= f.text_field :model_type %>
  </p>
  <p>
    <%= f.label :model_id %><br />
    <%= f.text_field :model_id %>
  </p>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to _('Show'), @hyperlink %> |
<%= link_to _('Back'), hyperlinks_path %>
