<p>
  <b><%= t('Name') %> :</b>
  <%=h @hyperlink.name %>
</p>

<p>
  <b><%= t('Model type') %> :</b>
  <%=h @hyperlink.model_type %>
</p>

<p>
  <b><%= t('Model id') %> :</b>
  <%=h @hyperlink.model_id %>
</p>


<%= link_to t('Edit'), edit_hyperlink_path(@hyperlink) %> |
<%= link_to t('Back'), hyperlinks_path %>
