<table id="requests_list" class="full">
  <thead>
   <tr>
      <th width='2%'><%= _('Id') %><%#= sortable_header(:id, :label => _("Id")) %></th>
      <th width='7%'><%= _('Software') %><%#= sortable_header(:logiciel_id, :label => _("Software")) %></th>
      <th width='7%' colspan="2"><%= _('Type')%><%#= sortable_header(:typerequest_id, :label => _("Type")) %></th>
      <% if @ingenieur %>
        <th width='7%'><%= _('Client')%><%#= sortable_header(:client_id , :label => _("Client")) %></th>
      <% end %>
      <th><%= _('Summary')%><%#= sortable_header(:description, :label => _("Summary")) %></th>
      <th width='10%'>
       <% if @ingenieur %>
         <%=_('Owner')%><%#= sortable_header(:ingenieur_id, :label => _("Owner")) %>
       <% else %>
         <%=_('Submitter')%><%#= sortable_header(:recipient_id, :label => _("Submitter")) %>
       <% end %>
      </th>

      <th width='8%'><%=_('Updated on')%><%#= sortable_header(:updated_on, :label => _("Updated on"), :descend => true) %></th>
   </tr>
 </thead>

   <% recipient = Recipient.new(:id => 0) %>
   <% ingenieur = Ingenieur.new(:id => 0)
      def ingenieur.name; '-'; end %>
   <% for request in @requests %>
   <tr <%= tr_attributes(request_path(request)) %>>
        <td><%= request.id %></td>
        <% #When we have a dirty hack, we have to make others ...
           if request.respond_to? :logiciels_name
             logiciel_name = request.logiciels_name
           else
             logiciel_name = request.logiciel.name
           end 
        %>        
        <td><%= logiciel_name %></td>
        <td></td>
        <% #Yet another dirty hack ...
           if request.respond_to? :typerequests_name
             typerequests_name = request.typerequests_name
           else
             typerequests_name = request.typerequest.name
           end 
        %>  
        <td nowrap="nowrap"><span class="request_<%=request.statut_id%>">&nbsp;<%= typerequests_name %><%= StaticImage::severite(request) %></span></td>
       <% if @ingenieur %>
        <% #Dirty hacks are really bad ...
           if request.respond_to? :clients_name
             clients_name = request.clients_name
           else
             clients_name = request.client.name
           end 
        %>  
        <td><%= clients_name %></td>
       <% end %>
        <% recipient = request.recipient if recipient.id != request.recipient_id %>
        <td><b><%= link_to_request request %></b></td>
        <td>
         <% if @ingenieur %>
          <% if ingenieur.nil? || (ingenieur.id != request.ingenieur_id)
               ingenieur = request.ingenieur
             end %>
          <%= name(ingenieur) %>
         <% else %>
          <%= recipient %>
         <% end %>
        </td>
        <td><span class="date"><%= request.updated_on_formatted %></span></td>
   </tr>
   <% end %>

<% if @requests.size == 0 %>
  <tr><td colspan="11">
    <p><%= _("No request found.") %></p>
  </td></tr>
<% end %>

</table>
