<h1><%= (@own_requests.empty? ? _('No pending request') :
         n_('My pending request', 'My pending requests', @own_requests.size)) %>
    <%= StaticImage::spinner %></h1>

<p><%= _('This list only contains requests which require an action on your behalf.') %></p>
<%=  _('In technical terms, this list contains all requests ') %>
 <% if @recipient %>
     <%= _('for which our services have requested further information or your validation.') %>
 <% elsif @ingenieur %>
     <%= _("that are active (SLA is running), and all suspended requests where the last comment is from a customer, or that are newly assigned to you.") %>
 <% end %>
<br /><br /><hr />
<p><%= auto_link(_('Feel free to inform us in %s if you feel some requests should not be here.') %
         [ link_to(_('the idea box'), suggestions_welcome_path) ]) %></p>

<% unless @own_requests.empty? %>
  <%= render :partial => 'requests/lists/pending_table',
             :locals => { :requests => @own_requests } %>
<% end %>

<% unless @own_requests.empty? && @team_requests.empty? %>
 <h1><%= (@team_requests.empty? ? _('My team has not any pending request') :
         n_("My team has %d pending request", "My team has %d pending requests", @team_requests.size) % @team_requests.size) %></h1>

 <% unless @team_requests.empty? %>
  <%= render :partial => 'requests/lists/pending_table',
             :locals => { :requests => @team_requests } %>
 <% end %>
<% end %>
