<%# TODO use instance_variable_defined? when debian will have a better %>
<%# version of ruby ... :/ %>

<% if defined?(@attachment) and not @attachment.blank? %>
  <p>
    Une pièce jointe est disponible. Vous pouvez y accéder dans la demande.
  </p>
<% end %>

<span>
<font color="#909090">
-- <br />
<a href="<%= App::Help::NewIssueUrl %>">Rappel sur les statuts et nos engagements.</a><br /><br />
Ceci est un mail automatique du <%= App::InternetAddress %>.<br /><br />
Pour y répondre, contactez-nous :<br /><ul>
<li> Par téléphone au <%= "#{App::PhonePrefix} #{App::PhoneText} (#{App::ContactPhone})" %></li>
<li> Par le portail web <a href="<%= App::CompanySite %>"><%= App::InternetAddress %></a></li>
</ul><b>Merci de ne pas y répondre par mail.</b>
</font>
</span>
