<b>User : </b><%= @user %><br />
<b>User Agent : </b><%= @env['HTTP_USER_AGENT'] %><br/>
<b>Date : </b><%= Time.now %><br />
<b>Message : </b><%= @exception.message %><br />
<b>Location : </b><%= @env['REQUEST_URI'] %><br />
<b>Server : </b><%= @env['SERVER_NAME'] %><br />
<b>Action : </b><%= @params.delete('action') %><br />
<b>Controller : </b><%= @params.delete('controller') %><br />
<b>Query : </b><%= @env['QUERY_STRING'] %><br />
<b>Method : </b><%= @env['REQUEST_METHOD'] %><br />
<b>SSL : </b><%= @env['REQUEST_PORT'].to_i == 443 %><br />
<b>Agent : </b><%= @env['REQUEST_HTTP_USER_AGENT'] %><br />

<hr/>

<b>Backtrace</b><br />
<%= @trace.to_a.join('<br />') %><br />


<hr/>

<b>Params</b><br />
<ul>
<% @params.delete('user_password') # not to display password %>
<% @params.each do |key, val| %>
  <li><%= key %> : <%= val %></li>
<% end %>
</ul>

<hr/>

<b>Session</b><br />
<ul>
<% @session.each do |key, val| %>
  <li><%= key %> : <%=h val.inspect %></li>
<% end %>
</ul>

<hr/>

<b>Environment</b><br />
<ul>
<% @env.each do |key, val| %>
  <li><%= key %> : <%= val %></li>
<% end %>
</ul>
