<% name = @comment.user %>

<% modified = [] %>
<% if @comment.statut_id
     modified << "<b>#{@comment.statut.name}</b>"
   end %>
<% if @comment.engineer_id
     modified << "assignée à <b>#{@comment.engineer.name}</b>"
   end %>

<% url_issue = url_for(:controller => "issues", :action => "show", :id => @issue.id, 
   :only_path => false)
   link_to_issue = "<a href=\"#{url_issue}\">demande ##{@issue.id}</a>" %>
<% if @comment.private %>
  <i><%= h name %></i> a écrit un comment <b>non visible</b> par le bénéficiaire pour la <%= link_to_issue %> :
<% else %>
  <% modified = modified.empty? ? 'commentée' : modified.join(' et ') %>
  La <%= link_to_issue %> vient d&lsquo;être <%=modified%> par <i><%= h name %></i> :
<% end %>
<br />

<hr noshade size="1px"/>
<%= @comment.text %><br />
<hr noshade size="1px"/>
<% if @comment.severity_id %>
  La demande a été requalifiée avec une sévérité <b><%=@comment.severity.name%></b>. <a href="<%= App::Help::IssueSeverityUrl%>">Cette page</a> vous présente en détail la signification de ce changement.<br />
<% end %>

<%= render :partial => 'end_mail' %>
