Bonjour,
<p>
<% if @result.size == 0 %>
  Il n'y a eu aucun mouvement sur la période considérée.
<% else %>
  Voici le compte rendu de l'activité <%= App::ServiceName %> pour <%= @time %>.
<% end %>
</p>

<% @result.each do |c| %>
  <% contract = c.contract %>
  <h4>Contrat : <%= contract.name %></h4>
  <ul>
  <% c.issues.each do |d| %>
    <% issue = d.issue %>
    <% old_issue = d.issue_at %>
    <li>
      <% severite = issue.severite
         severite = "sans sévérité"

         issue_type = issue.typeissue.to_s
         type = ""
         case issue_type
         when "Anomalie"
           type = "L'" << issue_type
         else
           type = "La demande "
           case issue_type
           when "Évolution", "Information"
             type << "d'"
           else
             type << "de "
           end
           type << issue_type
         end

         software = ""
         software = " (#{issue.software})" if issue.software
      %>

      <%= "##{issue.id}#{software} " %>

      <% if issue.statut_id == 7 #Clôturée %>
        => <i>Clôturée</i>
      <% else %>
        <%= ": #{type} #{severite} est #{issue.statut}" %>, ouverte depuis <%= distance_of_time_in_words_to_now(issue.created_on) %>
        <% if issue.elapsed.workaround? and not issue.statut_id == 5 #Contournée %>
          a été <i>contournée</i>
        <% end %>
        <% if issue.elapsed.workaround? and
              issue.elapsed.correction? and
              ( not issue.statut_id == 5 and not issue.statut_id == 6 ) %>
          et
        <% elsif issue.elapsed.correction? and not issue.elapsed.workaround? %>
          a été
        <% end %>
        <% if issue.elapsed.correction? and not issue.statut_id == 6 #Corrigée %>
          <i>corrigée</i>
        <% end %>

        <% if old_issue.severite and old_issue.severite != issue.severite %>
          a eu sa <strong>sévérité modifiée</strong> (anciennement : <%= old_issue.severite %>)
        <% end %>
        <% if old_issue.statut and old_issue.statut != issue.statut %>
          a eu son <strong>statut modifié</strong> (anciennement : <%= old_issue.statut %>)
        <% end %>
      <% end %>
    </li>
  <% end %>

  </ul>
<% end %>

<p>
Vous pouvez trouver un compte rendu de l'activité plus complet à cette adresse : <a href="https://www.08000linux.com/lstm/reporting/digest">https://www.08000linux.com/lstm/reporting/digest</a>
</p>

<%= render :partial => 'end_mail' %>
