Bonjour,<br />

<% if @user.recipient? %>
  <p>
&nbsp;&nbsp;Vous recevez ce courriel car vous avez été identifié(e) en tant que bénéficiaire du marché passé entre <%= App::CompanyName %> et <%= @user.client.name %>.
  </p>
  <%= render :partial => 'user_access' %>
<% else %>
  <p>
&nbsp;&nbsp;Vous recevez ce courriel car vous avez désormais accès à notre outil de travail en ligne développé pour vous par <%= App::CompanyName %>.<br /><br />
   <%#On doit faire ça car la méthode link_to ne semble pas fonctionner %>
   <% url = "http://www.08000linux.com/" %>
   Vous pouvez accéder au portail <%= "<a href=\"#{url}\">www.08000linux.com</a>" %>.
  </p>
<% end %>
<p>
&nbsp;&nbsp;Vos codes d'accès sont :<br />
   <ul>
    <li>identifiant : <%= @user.login %></li>
    <li>mot de passe: <%= @user.pwd %></li>
   </ul>
</p>
&nbsp;&nbsp;Pensez à personnaliser votre mot de passe dès votre première connexion.<br />
<%= render :partial => 'end_mail'%>
