<%= error_messages_for 'typecontribution' %>

<p><label for="typecontribution_name"><%= _("Name") %></label><br />
<%= text_field 'typecontribution', 'name'  %></p>

<p><label for="typecontribution_description"><%= _("Description") %></label><br />
<%= text_area 'typecontribution', 'description'  %></p>
