<%= error_messages_for 'urllogiciel' %>

<p><label for="urllogiciel_valeur"><%=_('Value')%></label><br />
<%= text_field 'urllogiciel', 'valeur'  %></p>

<p><label for="urllogiciel_logiciel"><%=_('Software')%></label><br />
  <%= select("urllogiciel", "logiciel_id",
             @logiciels.collect{|l| [ l.name, l.id]},
             :selected => params[:logiciel_id].to_i) %></p>

<p><label for="urllogiciel_typeurl"><%=_('Kind')%></label><br />
  <%= select("urllogiciel", "typeurl_id",
             @typeurls.collect{|t| [ t.name, t.id]}) %></p>
