<% for column in Urllogiciel.content_columns %>
<p>
  <b><%= _(column.human_name) %>:</b> <%= @urllogiciel.send(column.name) %>
</p>
<% end %>

<p><b><%=_('Software')%>:</b> 
   <%= public_link_to_logiciel @urllogiciel.logiciel %>
</p>

<p><b>
   <%=_('Kind') %>:</b> <%=h @urllogiciel.typeurl.name %>
</p>

<%= link_to_edit_and_list(@urllogiciel) %>
