<h1><%= _("Access denied") %></h1>

<div class="information error">
<% text = "<p>" << _("This page is restricted.") << "</p>" <<
          "<p>" << _("You can go to the homepage.") << "</p>" <<
          "<p>" << _("You can also login with a user who has more rights :") << "</p>"
%>
<%= text %>
</div>

<%= render :file => "account/login" %>

<%= public_link_to_home %>

<%# This is a hard link because it must point on the base url%>
<p><a href="http://<%= issue.host %>/"><%= _("Reconnect") %></a></p>
