<% options = { :update => 'col1_content', :method => :get,
    :url => clients_path,
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>
<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>
<%# used_by remote_link_to_clients %>
 <input id="filters_active" name="filters[active]" type="hidden" value="0" />

<div class="menu_title" onclick="Element.toggle('menu_action')">
  > <%= _('Action') %>
</div>
<ul id="menu_action">
  <li><%= link_to _('Create a new client'), new_client_path %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_consultation')">
> <%= _('Consultation') %></div>
<ul id="menu_consultation">
  <li><%= remote_link_to_clients :actives %></li>
  <li><%= remote_link_to_clients :all %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_search')">
> <%= _('Search') %></div>
<ul id="menu_search">
  <li><b><%= _('By name') %></b><br />
    <%= text_field :filters, :text %></li>
  <li><b><%= _('By system') %> </b><br />
    <%= select_filter(@systems, 'system') %></li>
</ul>
<% end %>

<%= observe_form 'filters', options %>
