<%= error_messages_for 'client' %>

<div class="subcolumns">
  <div class="c50l">
    <div class="show tinymce">
      <table>
        <tr>
         <td><label for="client_name"><%= _("Name") %></label></td>
         <td><%= text_field :client, :name  %></td>
        </tr><tr>
         <td colspan="2"><label for="client_address"><%= _("Address") %></label><br />
             <%= text_area :client, :address, :rows => 9 %></td>
        </tr><tr>
         <td colspan="2"><p><label for="client_context"><%= _("Context") %>(<%=_('Private')%></label><br />
            <%= text_area :client, :context, :rows => 10 %></p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="c50r">
    <div class="show">
      <table>
        <tr>
         <td><label for="client_inactive"><%= _("Inactive") %></label></td>
         <td><%= check_box :client, :inactive %></td>
        </tr><tr>
       <td colspan="2"><label for="client_image"><%= _("Logo") %></label></td>
        </tr><tr>
         <td colspan="2"><%=  file_column_field 'picture', 'image'  %></td>
        </tr><tr>
         <td><label for="client_access_code"><%= _("Access code") %></label></td>
         <td><%= text_field :client, :access_code, :size => 5 %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
