<h1><%= _("Edit the client %s") % @client.name %></h1>

<% form_tag client_path(@client), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Edit") %>
<% end %>

<%= link_to _("Show"), client_path(@client) %> |
<%= link_to_back %>
