<h1><%= t("Edit the client %s") % @client.name %></h1>

<% form_tag client_path(@client), :multipart => true, :method => :put, :id => 'main_form' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t("Edit") %>
<% end %>

<%= link_to t("Show"), client_path(@client) %> |
<%= link_to_back %>
