<%= public_link_to t('Homepage') , welcome_path %> >
<%= @client.name %> <%= link_to_edit edit_client_path(@client)%>

<div class="subcolumns">
  <div class="c50l">
    <div class="show">
      <%= link_to_new_contract(@client.id) %><br />
      <%= show_list(@client.contracts, t('contract')) do |c|
        result = ''
        edit = link_to_edit(edit_contract_path(c))
        result << "#{edit}&nbsp;" if edit
        result << "<b>#{link_to c.rule.name, contract_path(c)}</b>"
        result << t(" from %s to %s") % [c.start_date_formatted, c.end_date_formatted]
        result << ' '
        if c.rule.max == -1
          result << t('on your complete system')
        elsif c.releases.size > 0
          result << t("concerning %s releases") % c.releases.size
        end
        result << '.'
        result << show_table_commitments(c.commitments)
        result << c.rule.complete_description(c.total_elapsed, c) if c.total_elapsed > 1
        result << '<br />&nbsp;'
        result
      end %>
    </div>
  </div>
  <div class="c50r">
    <div class="show">
      <% if @session_user.expert? %>
        <table class="full">
          <tr>
            <td><b><%= t('Name') %></b></td>
            <td><%= @client.name %></td>
            <td rowspan="2" align="right"><%= logo_client(@client) if @client.picture %></td>
          </tr><tr>
            <td><b><%= t('Access code') %></b></td>
            <td><%= @client.access_code %></td>
          </tr>
          <% unless @client.address.blank? %>
            <tr><td colspan="3">
                <fieldset>
                  <legend><%= t('Address')%></legend><%= @client.address %>
                </fieldset>
            </td></tr>
          <% end %>
          <% unless @client.context.blank? %>
            <tr><td colspan="3">
                <fieldset>
                  <legend><%= t('Context')%></legend><%= @client.context %>
                </fieldset>
            </td></tr>
          <% end %>
        </table>
      <% end %>

      <ul>
        <li>
          <%= t('View the') %>
          <%= link_to(t('Activity report'), general_reporting_path) %>
        </li>
        <li>
          <%= t('View') %> <%=  n_('the', 'the',2) %>
          <%= link_to(t('Contributions'), list_contribution_path(:id => 'all', :client_id => @client.id)) %>
        </li>
        <li>
          <%= link_to( t('Distribution of issues in time'), calendar_reporting_path) %>
        </li>
      </ul>

    </div>
  </div>
</div>

<%= link_to_edit_and_list @client %>
