<h1><%= _("Statistics by clients") %></h1>

<%= show_pages_links(@client_pages, _("a client")) %>
<% 
  titres = [ _("Logo"), _("Name")]
  @typedemandes.each { |t| titres << t.name  }
  titres << _("TOTAL")
  total = 0
  addline = ['', '',]
  @typedemandes.each { |t|
    sub_total =  Demande.find_all_by_typedemande_id(t.id).size
    addline << "<b>#{sub_total}</b>"
    total += sub_total
  }
  addline << "<b>#{total}</b>" 
%>
<%= show_table(@clients, Client, titres, :add_lines => [addline]) { |c|
  result = ''
  total = 0
  if c.image
    result << "<td>#{image_tag(url_for_file_column(c.image, 'image', 'thumb'))}</td>"
  else
    result << '<td></td>'
  end
  result << "<td>#{link_to_client(c)}</td>"
  @typedemandes.each{ |t|
    count = c.demandes.find_all_by_typedemande_id(t.id).size
    result << "<td>#{count}</td>"
    total += count
  }
  result << "<td><b>#{total}</b></td>"
}%>

<%= show_pages_links(@client_pages, _("a client")) %>

<%= link_to_back %>
