<h1><%= _("Statistics by clients") %></h1>
<h1>THE CODE SOURCE OF THIS PAGE HAS TO BE REWRITTEN</h1>

<%= show_pages_links(@client_pages, _("a client")) %>
<%
  titres = [ _("Name") ]
  @typeissues.each { |t| titres << t.name  }
  titres << _("TOTAL")
  total = 0
  addline = ['' ]
  @typeissues.each { |t|
    sub_total =  Issue.find_all_by_typeissue_id(t.id).size
    addline << "<b>#{sub_total}</b>"
    total += sub_total
  }
  addline << "<b>#{total}</b>"
%>
<%= show_table(@clients, Client, titres, :add_lines => [addline]) { |c|
  result = ''
  total = 0
  result << "<td>#{link_to logo_client(c), client_path(c)}</td>"
  @typeissues.each{ |t|
    count = c.issues.find_all_by_typeissue_id(t.id).size
    result << "<td>#{count}</td>"
    total += count
  }
  result << "<td><b>#{total}</b></td>"
}%>

<%= show_pages_links(@client_pages, _("a client")) %>

<%= link_to_back %>
