<div class="subcolumns">
  <div class="c50l">
    <div class="show">
      <h3><%=_('Help')%></h3>
 <% links = [ public_link_to_help_new_issue,
              public_link_to_howto_issue,
              public_link_to_help_issue_status ] %>
  <%= show_list(links) %>
  <p><%=_("Don't hesitate to")%>
    <%=  mail_to(App::TeamEmail, _('contact us'))%>
    <%=  _("if needed")%>.</p>
 </div>

 <div class="show">
  <h1><%= _('About')%> <%=App::Name%> v<%=App::Version%></h1>

  <p><%= _('This software was created at')%>
      <a href="http://www.linagora.com">Linagora</a>
      <%= _("by the OSSA Team.")%></p>
      <p><%= _('This journey would not have been possible without
      the <b>developers</b> who have taken part in this project,
      without the testers who have contributed to it\'s quality and
      without quite a bit of <b>free software</b> which has enabled the
      development to be fast and agile. They are all warmly thanked here.
      %s would be nothing without them.') % App::Name %></p>
      <p><%= _("It is now an Open Source software you can get at ") %>
      <a href="http://www.tosca-project.net"><%= _("the homepage of the project")%></a>.
      </p>
 </div>
 <div class="show">
   <h2><%= _('Developers')%></h2>
  <ul>
    <li>Michel Loiseleur</li>
    <li>Adrien Grellier</li>
    <li>Guillaume Dufloux</li>
    <li>Julien Heyman</li>
    <li>Munteanu Olimpiu Andrei</li>
    <li>Rémy-Christophe Schermesser</li>
  </ul>
</div>
  </div>
  <div class="c50r">
    <div class="show">
     <h2><%= _('Quality Assurance') %></h2>
  <ul>
    <li>Jonathan Clarke</li>
    <li>Mehdi Rande</li>
    <li>Philippe Brière</li>
    <li>Richard Samson</li>
  </ul>
 </div>
     <div class="show">
      <h2><%= _('Free software used by %s') % App::Name %></h2>
      <ul>
        <li><a href="http://www.ruby-lang.org">Ruby</a>
          <ul>
            <li><a href="http://www.yotabanana.com/hiki/ruby-gettext.html">Ruby-GetText (LGPL)</a></li>
            <li><a href="http://fastercsv.rubyforge.org">FasterCSV (GPLv2)</a></li>
            <li><a href="http://mongrel.rubyforge.org/">Mongrel (GPLv2)</a></li>
          </ul>
        </li>
        <li><a href="http://www.rubyonrails.org">Ruby on Rails (MIT)</a>
          <ul>
            <li><a href="http://www.kanthak.net/opensource/file_column">FileColumn (MIT)</a></li>
            <li><a href="http://nubyonrails.com/pages/gruff">Gruff (MIT)</a></li>
            <li><a href="http://wiki.rubyonrails.org/rails/pages/HowToUseTinyMCE">TinyMCE (LGPL)</a></li>
            <li><a href="http://www.craigambrose.com/projects/redbox">RedBox (MIT)</a></li>
            <li><a href="http://gettextlocalize.rubyforge.org/">GetText-Localize (MIT)</a></li>
            <li><a href="http://ultraviolet.rubyforge.org/index.xhtml">UltraViolet (MIT)</a></li>
            <li><a href="http://john.guen.in/rdoc/x_send_file/">XSendFile (MIT)</a></li>
            <li><a href="http://plugins.require.errtheblog.com/browser/classic_pagination">Classic Pagination (MIT)</a></li>
            <li><a href="http://form-test-helper.googlecode.com/svn/form_test_helper/">Form Test Helper (MIT)</a></li>
          </ul>
        </li>
        <li><a href="http://www.yaml.de/en/home.html">YAML, the (X)HTML/CSS framework (CCA 2.0)</a></li>
        <li><a href="http://www.famfamfam.com/lab/icons/silk/">Fam Fam Fam Silk Icons (CCA 2.5)</a></li>
        <li><a href="http://www.mysql.com">MySQL (GPL)</a></li>
        <li><a href="http://httpd.apache.org/">Apache (APL)</a></li>
      </ul>
     </div>
  </div>
</div>
