<% user = @session_user %>
<% connected = public_link_to(t('connected'), login_accounts_path) %>
<link rel="alternate" href="contributions/all/list.atom" title="" type="application/atom+xml" />
<table><tr><td rowspan="2"><%= StaticPicture::tosca %> </td><td><h2 class="spacer"><%=t('Contents')%></h2></td></tr>
  <tr><td>
      <%= t('Welcome to the %s management tool', :value => App::ServiceFullName) %><%= user ? ", #{user.title} #{user.name}" : '.' %>
  </td></tr>
</table>

<%# 6 : public access %>
<% role_id = (user ? user.role_id : 6) %>
<%# cache("welcome/#{role_id}/#{user.client_id if user and user.recipient?}") do %>
  <div class="subcolumns">
    <div class="c50l">
      <div class="show">
        <h3><%= t('Issues')%></h3>
        <% if user %>
          <p><%= t("You can see the list of %s", :value => link_to(t("issues"), issues_path)) %>.</p>
          <% if role_id < 5 # 5 : viewer access %>
            <p><%= t("You can also %s", :value => link_to(t("make an issue"), new_issue_path)) %>.</p>
          <% end %>
        <% else %>
          <p><%= t("You are not %s, so you cannot access the issues interface of our service.") % connected %></p>
        <% end %>
      </div>
      <div class="show">
        <h3><%= t('Documents')%></h3>
        <% if user %>
          <p><%= t("You can consult your {{value}} online", :value => link_to(t('activity report'), general_reporting_path)) %>.</p>
          <p><%= t("You can also see the {{value}}", :value => link_to( t('Distribution of issues in time'), calendar_reporting_path)) %></p>
          <p><%= t("You can see the %s") % link_to( t('weekly report of issues'), weekly_reporting_path) %></p>
        <% else %>
          <p><%= t("When you are %s, you can access an activity report") % connected %><br />
          <%= t("dynamically showing the activity of our service for you in real time.")%></p><br />
        <% end %>
      </div>
      <% if user %>
        <div class="show">
          <h3><%= t('Idea Box')%></h3>
          <p><%= t("You have an idea which can improve our services?<br />
              Your comments and suggestions are welcome in %s.") %
            link_to(t('the idea box'), suggestions_welcome_path) %></p>
        </div>
      <% end %>
    </div>
    <div class="c50r">
      <% if user and user.recipient? %>
        <div class="show">
          <h3><%= t('Offer')%></h3>
          <% client = user.client %>
          <table>
            <tr><td style="width: 1%;" rowspan="2"><%=logo_client client%> </td><td>
              <%= t("You benefit from one of our offers, which detail is available here: %s") % link_to_my_client %></td>
            </tr>
          </table>
          <p><%= t('We hope this tool wil give you entire satisfaction.')%></p>
          <% access_code = user.client.access_code %>
          <% unless access_code.blank? %>
            <p><%= t('Your call number is')%>
              <b><%=App::ContactPhone %></b>,
            <b><%= t("and your access code is %s") % access_code %></b></p>
          <% end %>
        </div>
      <% end %>

      <div class="show">
        <h3><%=t('Software')%></h3>
        <p><%= t("You can see the list of %s.", :value => public_link_to_softwares) %>
        <%= t("This software is sorted into a precise and simple %s, distributed by activity group.") % public_link_to_groups %></p><br />
        <% unless user %>
          <p><%=t("We have a large range of offers for support with a SLA. This Service Level Agreement can be very strong and is guaranteed by contract.")%>
            <%=t("Don't hesitate to")%>
            <%=mail_to(App::TeamEmail, t('contact us.'))%></p><br />
          <% end %>
        <p><%=t("You can consult and follow all the %s done by our team in Open Source communities.") % public_link_to_contributions  %></p>
      </div>

      <div class="show">
        <h3><%=t('This site has changed')%></h3>
        <p><%= t("As you can see, this tool has been updated. Here is a shortlist of changes : ") %>
        <ul>
          <% if user and user.engineer? %>
            <li><%= t('The new translation Framework really sucks.') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%# end %>
