<% user = @session_user %>
<% connected = public_link_to(t('connected'), login_accounts_path) %>
<link rel="alternate" href="contributions/all/list.atom" title="" type="application/atom+xml" />
<table>
  <tr>
    <td rowspan="2"><%= StaticPicture::tosca %> </td><td><h2 class="spacer"><%= t(:Contents) %></h2></td>
  </tr>
  <tr>
    <td>
      <%= t('Welcome to the {{value}} management tool', :value => App::ServiceFullName) %><%= user ? ", #{user.title} #{user.name}" : '.' %>
    </td>
  </tr>
</table>

<%# 6 : public access %>
<% role_id = (user ? user.role_id : 6) %>
<% cache("welcome/#{role_id}/#{user.client_id if user and user.recipient?}") do %>
  <div class="subcolumns">
    <div class="c50l">
      <div class="show">
        <h3><%= t(:issue, :count => 2).to_s.capitalize! %></h3>
        <% if user %>
          <p><%= t(:consult_list_of, :value => link_to(t(:issues), issues_path)) %>.</p>
          <% if role_id < 5 # 5 : viewer access %>
            <p><%= t(:submit_an_issue, :value => link_to(t(:a_new_issue), new_issue_path)) %>.</p>
          <% end %>
        <% else %>
          <p><%= t(:access_denied, :value => connected) %>.</p>
        <% end %>
      </div>
      <div class="show">
        <h3><%= t(:Reporting)%></h3>
        <% if user %>
          <p><%= t(:report, :value => link_to(t(:activity_report), general_reporting_path)) %>.</p>
          <p><%= t(:report, :value => link_to(t(:calendar_report), calendar_reporting_path)) %></p>
          <p><%= t(:report, :value => link_to(t(:weekly_report), weekly_reporting_path)) %></p>
        <% else %>
          <p><%= t("When you are %s, you can access an activity report") % connected %><br />
          <%= t("dynamically showing the activity of our service for you in real time.")%></p><br />
        <% end %>
      </div>
      <% if user %>
        <div class="show">
          <h3><%= t(:title).to_s.capitalize! %></h3>
          <p><%= t(:content, :value => link_to(t(:title), suggestions_welcome_path)) %></p>
        </div>
      <% end %>
    </div>
    <div class="c50r">
      <% if user and user.recipient? %>
        <div class="show">
          <h3><%= t(:offer)%></h3>
          <% client = user.client %>
          <table>
            <tr>
              <td style="width: 1%;" rowspan="2"><%= logo_client client %> </td>
              <td>
                <%= t("You benefit from one of our offers, which detail is available here: %s") % link_to_my_client %>
              </td>
            </tr>
          </table>
          <p><%= t('We hope this tool wil give you entire satisfaction.')%></p>
          <% access_code = user.client.access_code %>
          <% unless access_code.blank? %>
            <p><%= t('Your call number is')%>
              <b><%=App::ContactPhone %></b>,
            <b><%= t("and your access code is %s") % access_code %></b></p>
          <% end %>
        </div>
      <% end %>

      <div class="show">
        <h3><%= t(:software).to_s.capitalize! %></h3>
        <p><%= t(:consult_list_of, :value => public_link_to_softwares) %>.<br />
        <%= t(:classification, :value => public_link_to_groups) %>.</p>
        <p><%= t(:contributions, :value => public_link_to_contributions) %>.</p>
      </div>

      <div class="show">
        <h3><%=t(:this_site_has_changed)%></h3>
        <p> <%=t(:this_tool_has_been_updated) %>
        <ul>
          <% if user and user.engineer? %>
            <li><%= t(:translation_framework_sucks) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
