<% user = @session_user %>
<% connected = public_link_to(t(:Connected), login_accounts_path) %>
<link rel="alternate" href="contributions/all/list.atom" title="" type="application/atom+xml" />
<table>
  <tr>
    <td rowspan="2"><%= StaticPicture::tosca %> </td><td><h2 class="spacer"><%= t(:Contents) %></h2></td>
  </tr>
  <tr>
    <td>
      <%= t(:welcome_to_the_management_tool, :value => App::ServiceFullName) %><%= user ? ", #{user.title} #{user.name}" : '.' %>
    </td>
  </tr>
</table>

<%# 6 : public access %>
<% role_id = (user ? user.role_id : 6) %>
<% cache("welcome/#{role_id}/#{user.client_id if user and user.recipient?}") do %>
  <div class="subcolumns">
    <div class="c50l">
      <div class="show">
        <h3><%= t(:'Models.Issue').pluralize %></h3>
        <% if user %>
          <p><%= t(:consult_list_of, :value => link_to(t(:'Models.Issue').pluralize.downcase, issues_path)) %>.</p>
          <% if role_id < 5 # 5 : viewer access %>
            <p><%= t(:submit_an_issue, :value => link_to(t(:a_new_issue), new_issue_path)) %>.</p>
          <% end %>
        <% else %>
          <p><%= t(:access_denied, :value => connected) %>.</p>
        <% end %>
      </div>
      <div class="show">
        <h3><%= t(:Reporting)%></h3>
        <% if user %>
          <p><%= t(:report, :value => link_to(t(:activity_report), general_reporting_path)) %></p>
          <p><%= t(:report, :value => link_to(t(:calendar_report), calendar_reporting_path)) %></p>
          <p><%= t(:report, :value => link_to(t(:weekly_report), weekly_reporting_path)) %></p>
        <% else %>
          <p><%= t(:when_you_are_value_you_can_access_an_activity_report, :value => connected) %><br />
          <%= t(:dynamically_showing_the_activity_of_our_service_for_you_in_real_time) %></p><br />
        <% end %>
      </div>
      <% if user %>
        <div class="show">
          <h3><%= t(:idea_box).capitalize %></h3>
          <p><%= t(:content, :value => link_to(t(:idea_box), suggestions_welcome_path)) %></p>
        </div>
      <% end %>
    </div>

    <div class="c50r">
      <% if user and user.recipient? %>
        <div class="show">
          <h3><%= t(:offer) %></h3>
          <% client = user.client %>
          <table>
            <tr>
              <td style="width: 1%;" rowspan="2"><%= logo_client client %></td>
              <td>
                <%= t(:you_benefit_from_one_of_our_offers_which_detail_is_available_here, :value => link_to_my_client) %>
              </td>
            </tr>
          </table>
          <p><%= t(:we_hope_this_tool_wil_give_you_entire_satisfaction)%></p>
          <% access_code = user.client.access_code %>
          <% unless access_code.blank? %>
            <p>
              <%= t(:your_call_number_is)%>
              <b><%=App::ContactPhone %></b>,
              <b><%= t(:and_your_access_code_is, :value => access_code) %></b>
            </p>
          <% end %>
        </div>
      <% end %>

      <div class="show">
        <h3><%= t(:'Models.Software').capitalize %></h3>
        <p>
          <%= t(:consult_list_of, :value => public_link_to_softwares) %>.<br />
          <%= t(:classification, :value => public_link_to_groups) %>.
        </p>
        <p>
          <%= t(:contributions, :value => public_link_to_contributions) %>
        </p>
      </div>

      <div class="show">
        <h3><%= t(:this_site_has_changed) %></h3>
        <p><%= t(:this_tool_has_been_updated) %></p>
        <ul>
          <% if user and user.engineer? %>
            <li><%= t(:tosca_changelog) %></li>
          <% end %>
        </ul>
      </div>
      
    </div>
  </div>
<% end %>
