<h1><%= _('Status of the Issues')%></h1>
<br />
<br />

<p><b><%= _('Status list')%> </b></p>

<table>
<% for statut in @statuts %>
  <tr class=<%= "issue_" + statut.id.to_s %> >
    <td><%=h statut.name %></td>
    <td><%=h statut.description %></td>
  </tr>
<% end %>
</table>


