<h1><%= _('Idea Box')%></h1>

<p><%= _('Vous have an idea in order to improve our services ? Don\'t hesitate to fill in the form!<br />
Every proposition will be consider with a lot of attention')%></p>

<% form_tag suggestions_welcome_path do %>
<table class="show">
  <tr>
    <th><%=  _('Your suggestions on our service :')%></th>
  </tr>
  <tr>
    <td><%= text_area :suggestion, :team, :cols => 80 %></td>
  <td>
  <tr>
    <th><hr /><%= _('Your suggestions on our tool : ')%></th>
  </tr>
  <tr>
    <td><%= text_area :suggestion, :tosca, :cols => 80 %></td>
  </tr>
  <tr>
    <td align="center"><%= submit_tag _('Submit')%></td>
  </tr>
</table>
<% end %>
