<h1><%= t(:idea_box) %></h1>

<p><%= t(:have_an_idea) %></p>

<% form_tag suggestions_welcome_path do %>
  <div class="subcolumns">
    <div class="c50l">
      <h2><%= t(:your_suggestions_on_our_service) %></h2>
      <%= text_area :suggestion, :team, :cols => 80 %>
    </div>
    <div class="c50r">
      <h2><%= t(:your_suggestions_on_our_tool) %></h2>
      <%= text_area :suggestion, :tosca, :cols => 80 %>
    </div>
  </div>

  <p><center><%= submit_tag t(:Validate) %></center></p>
<% end %>
