<div style="float :right">
<%= link_to_close_redbox(StaticImage::hide_notice) %>&nbsp;&nbsp;
</div>

<br />&nbsp;&nbsp;<b><%= _('Dress this site as you wish')%>.</b>
<hr />

<br />
&nbsp;&nbsp;&nbsp;<%= preview_image(:dark) %>&nbsp;&nbsp;&nbsp;<br /><br />
&nbsp;&nbsp;&nbsp;<%= preview_image(:green) %><br /><br />
&nbsp;&nbsp;&nbsp;<%= preview_image(:pink) %><br /><br />
