<table id="demandes_list" class="show" width='100%'>
   <tr>
      <th width='2%'><%= _('Id') %><%#= sortable_header(:id, :label => _("Id")) %></th>
      <th width='7%'><%= _('Software') %><%#= sortable_header(:logiciel_id, :label => _("Software")) %></th>
      <th width='7%' colspan="2"><%= _('Type')%><%#= sortable_header(:typedemande_id, :label => _("Type")) %></th>
      <% if @ingenieur %>
        <th width='7%'><%= _('Client')%><%#= sortable_header(:client_id , :label => _("Client")) %></th>
      <% end %>
      <th><%= _('Summary')%><%#= sortable_header(:description, :label => _("Summary")) %></th>
      <th width='10%'>
       <% if @ingenieur %>
         <%=_('Owner')%><%#= sortable_header(:ingenieur_id, :label => _("Owner")) %>
       <% else %>
         <%=_('Submitter')%><%#= sortable_header(:recipient_id, :label => _("Submitter")) %>
       <% end %>
      </th>

      <th width='8%'><%=_('Updated on')%><%#= sortable_header(:updated_on, :label => _("Updated on"), :descend => true) %></th>
   </tr>

   <% recipient = Recipient.new(:id => 0) %>
   <% ingenieur = Ingenieur.new(:id => 0)
      def ingenieur.name; '-'; end %>
   <% for demande in @demandes %>
   <tr <%= tr_attributes(demande_path(demande)) %>>
        <td><%= demande.id %></td>
        <td><%= demande.logiciels_name %></td>
        <td></td>
        <td nowrap="nowrap"><span class="demande_<%=demande.statut_id%>">&nbsp;<%= demande.typedemandes_name %><%= StaticImage::severite(demande) %></span></td>
       <% if @ingenieur %>
        <td><%= demande.clients_name %></td>
       <% end %>
        <% recipient = demande.recipient if recipient.id != demande.recipient_id %>
        <td class="wrapped"><b><%= link_to_demande demande %></b></td>
        <td>
         <% if @ingenieur %>
          <% if ingenieur.nil? || (ingenieur.id != demande.ingenieur_id)
               ingenieur = demande.ingenieur
             end %>
          <%= name(ingenieur) %>
         <% else %>
          <%= recipient %>
         <% end %>
        </td>
        <td><span class="date"><%= demande.updated_on_formatted %></span></td>
   </tr>
   <% end %>

<% if @demandes.size == 0 %>
  <tr><td colspan="11">
    <p><%= _("No request found.") %></p>
  </td></tr>
<% end %>

</table>
