<h1><%= @title %><%= StaticImage::spinner %></h1>

<% links = show_pages_links(@demande_pages, 'une nouvelle demande',
                    :url => demandes_url) %>
<%= links %>

<%= render :partial => 'demandes/lists/requests_table' %>

<%= links %>
