<h1><%= (@demandes.empty? ? _('No pending request') :
         n_('My pending request', 'My pending requests', @demandes.size)) %> (Beta)</h1>

<% links = show_pages_links(@demande_pages, 'une nouvelle demande',
                    :no_new_links => true) %>
<%= links %>

<%=render( :partial => 'demandes/lists/requests_table' )%>

<%= links %>

<div class="show" style="margin: 0px auto">
  <p><%= _('This list only contains requests which require an action on your behalf.') %></p>
  <%=  _('In technical terms, this list contains all requests ') %>
   <% if @beneficiaire %>
       <%= _('for which our services have requested further information or your validation.') %>
   <% elsif @ingenieur %>
       <%= _("that are active (SLA is running), and all suspended requests where the last comment is from a customer, or that are newly assigned to you.") %>
   <% end %>
  <br /><br /><hr />
  <p><%= auto_link(_('Feel free to inform us in %s if you feel some requests should not be here.') % 
           [ link_to(_('the idea box'), suggestions_welcome_path) ]) %></p>
</div>
