<% delete_ho = { :method => :delete, :confirm =>
  _("Are you sure you want to delete this comment ?") } %>
<% user = comment.user %>

<div class="comment-container collapsed <%=(comment.private ? 'private' : 'public')%>">
  <div class="comment-header" onclick="tosca_show_all_comments()">
    <strong><%= user.name if user %></strong>
    - <span><%= comment.created_on.to_s(:short) %></span>
  </div>
  <div class="comment-content">
    <table class="comment-table">
      <td class="infos" align="center">
        <%= "##{comment.id}" %><br />
        <% if user and user.client? and user.recipient %>
          <%= logo_client(user.recipient.client) %>
        <% else %>
          <%= StaticImage::logo_service %>
        <% end %><br />

        <% display_edit = (@ingenieur or (user and @recipient.user_id == user.id)) ? true : false %>
        <%= link_to(StaticImage::edit, edit_comment_path(comment)) if display_edit %>&nbsp;
        <% if @ingenieur %>
          <%= link_to(StaticImage::delete, comment_path(comment), delete_ho) %>&nbsp;
        <% end %>
        <%= '<br />' if display_edit %>
      </td>
      <td class="text">
        <%= display_comment comment %>
      </td>
    </table>
  </div>
</div>

