<% options = { :update => 'request_tab',
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')",
    :method => :get }
   request_id = @request_tosca ? @request_tosca.id : @request_id %>
<ul class="request_tabnav" id="request_tabnav">
 <li>
   <% options[:url] = ajax_description_request_path(request_id) %>
   <%= link_to_remote_tab _('Description'), 'ajax_description', options %>
 </li>
 <li>
   <% options[:url] = ajax_comments_request_path(request_id) %>
   <%= link_to_remote_tab _('Comments'), 'ajax_comments', options %>
 </li>
 <li>
   <% options[:url] = ajax_history_request_path(request_id) %>
   <%= link_to_remote_tab _('History'), 'ajax_history', options %>
 </li>
 <li>
   <% options[:url] = ajax_attachments_request_path(request_id) %>
   <%= link_to_remote_tab _('Attachments'), 'ajax_attachments', options %>
 </li>
 <li>
   <% options[:url] = ajax_appels_request_path(request_id) %>
   <%= link_to_remote_tab _('Phonecalls'), 'ajax_appels', options %>
 </li>
 <li>
   <% options[:url] = ajax_cns_request_path(request_id) %>
   <%= link_to_remote_tab _('SLA'), 'ajax_cns', options %>
 </li>
 <li>
   <%= StaticImage::spinner %>
 </li>
</ul>
