<% options = { :update => 'request_tab',
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')",
    :method => :get }
   request_id = @request_tosca ? @request_tosca.id : @request_id %>
<ul class="request_tabnav" id="request_tabnav">
 <li>
   <% options[:url] = ajax_history_request_path(request_id) %>
   <% desc = _('History') + ' ' + StaticImage::history %>
   <%= link_to_remote_tab(desc, 'ajax_history', options) %>
 </li>
 <li>
   <% options[:url] = ajax_attachments_request_path(request_id) %>
   <% desc = _('Attachments') + ' ' + StaticImage::documents %>
   <%= link_to_remote_tab(desc, 'ajax_attachments', options) %>
 </li>
 <li>
   <% options[:url] = ajax_appels_request_path(request_id) %>
   <% desc = _('Phonecalls') + ' ' + StaticImage::telephone %>
   <%= link_to_remote_tab(desc, 'ajax_appels', options) %>
 </li>
 <li>
   <% options[:url] = ajax_cns_request_path(request_id) %>
   <% desc =  _('SLA') + ' ' + StaticImage::sla_running %>
   <%= link_to_remote_tab(desc, 'ajax_cns', options) %>
 </li>
 <li>
   <%= StaticImage::spinner %>
 </li>
</ul>
