<div id="content" class="content">
  <h1><%= _('The newsletter')%></h1>
  <h2>Seul les données de l'édito et de l'article long ( au milieu de la newsletter) 
    compte son prise en compte pour l'instant :)</h2>
  <% form_tag newsletter_result_news_url,:method => :post do %>
  <div style="float:left">
    <div>
      <label for="Edito"><%= _('Edito')%></label><br />
      <%= box_news 'edito', :size => 5 %>
    </div><br /><br />
    <div >
      <p><%= _('Long article :')%></p>
      <%= box_news 'long_article', :size => 5 %>
      <br /><br />
    </div>
  </div>
  <div style="float:left">
    <label for="first_article"><%= _('Little Article')%></label><br />
    <%= box_news 'little_articles', { :size => 10, :multiple => true }%>
  </div>
  <div style="clear:both">&nbsp;</div> 
  <%= submit_tag _('Generate the newsletter'),:name => 'newsletter_result'%>
  <% end %>
</div>

