<%= error_messages_for 'commentaire' %>

<p><label for="commentaire_description"><%= _('Write your comment here"') %></label><br />
<%= text_area 'commentaire', 'corps' %></p>

<% if @ingenieur %>
  <p><label for="commentaire_prive"><%= _('Is this comment private ?') %></label>
  <%= check_box("commentaire", "prive", {}) %></p>
<% end %>

<p><label for="piecejointe_file"><%= _('You may also add a file') %></label><br />
<%= file_column_field 'piecejointe', 'file' %></p>
