<h1><%= "[#{sprintf "%06d", @request_tosca.id}] #{@request_tosca.resume}" %></h1>

<%= render :partial => "requests/tabs/description" %>

<%= render :partial => "requests/tabs/comment", :locals =>
         { :comment => @commentaire } %>

<%= link_to 'Modifier', edit_commentaire_path(@commentaire) %> |
<%= link_to_request @commentaire.request, :text => _('Return to the request') %>
