<% cache("requests/#{@request_tosca.id}/info-#{session[:user].kind}") do %>
<%= div_toggle _('Action'), 'menu_action', :class => 'menu_title' %>
<ul id="menu_action">
  <% if @ingenieur %>
    <% options = { :logiciel_id => @request_tosca.logiciel_id, :request_id => @request_tosca.id } %>
    <li><%=link_to_new_contribution(_('Add a contribution'), options )%></li>
    <li><%= _('Link to a contribution')%><br />
        <% form_tag link_contribution_request_path(@request_tosca.id) do %>
      <%= select_onchange @contributions, 'request', 'contribution_id' %>
    <% end %></li>
    <% if @request_tosca.contribution %>
       <li><%= link_to_unlink_contribution(@request_tosca.id) %></li>
    <% end %>
    <li><%= link_to_add_call @request_tosca.id %></li>
  <% end %>
  <li><%= link_to _("Print"), print_request_path(@request_tosca.id),
            :target => '_blank' %></li>
</ul>

<%= div_toggle _('Summary'), 'menu_resume', :class => "menu_title" %>
<ul id="menu_resume">
  <% if @ingenieur and @request_tosca.socle and @request_tosca.socle.machine%>
     <li><b><%= _("Vm") %>: </b><%=h @request_tosca.socle.machine %></li>
  <% end %>
  <li><b><%= _("System") %>: </b><%= link_to_socle @request_tosca.socle %></li>
  <li><b><%= _("Software") %>: </b><%= link_to_request_software @request_tosca %></li>
  <li><b><%=_("Status")%>: </b>
       <%= link_to_box_on_status(@request_tosca) %> <%=help_on_status%></li>
  <li><b><%= _("Type")%>: </b><%= @request_tosca.typerequest.name %></li>
  <li><b><%= _("Severity")%>: </b>
       <%= @request_tosca.severite.name %> <%=help_on_severity%></li>
  <% unless @request_tosca.mail_cc.blank? %>
     <li><b><%= _('CC') %>: </b><%= @request_tosca.mail_cc.gsub(',', ',<br />') %></li>
  <% end %>
  <% submitter_id = @request_tosca.submitter_id %>
  <% if submitter_id != 0 && @request_tosca.recipient.user_id != submitter_id %>
    <li><b><%=_("Declared by")%>: </b><%= @request_tosca.submitter.name %></li>
  <% end %>
  <% if @request_tosca.ingenieur %>
    <li><b><%=_("Assigned to")%>: </b> <%= @request_tosca.ingenieur.name %> </li>
  <% end %>
</ul>

<%= div_toggle _('Recipent'), 'menu_recipient', :class => "menu_title" %>
<% user = @request_tosca.recipient.user %>
<ul id="menu_recipient">
  <li><b><%= _("Contact") %>: </b><%= mail_to(user.email, user.name)%>
     <%= link_to_show(account_path(user)) if @ingenieur %></li>
  <li><b><%= _('Phone') %>: </b><%= user.phone %></li>
  <% contract = @request_tosca.contract %>
  <li><b><%= _('Concerning') %>: </b><%= link_to contract, contract_path(contract) %></li>
</ul>

<%= div_toggle _("Life cycle"), 'life_cycle_menu', :class => "menu_title" %>
<ul id="life_cycle_menu">
  <li><b><%= _("Created on") %>: </b><%= @request_tosca.created_on_formatted %></li>
  <li><b><%= _("Updated on") %>: </b><%= @request_tosca.updated_on_formatted %></li>
  <% if @request_tosca.elapsed %>
     <li><b><%= _("Time elapsed") %>: </b><%= @request_tosca.elapsed_formatted %></li>
  <% end %>
  <% contribution = @request_tosca.contribution %>
  <% if contribution %>
    <li><%= link_to_request_contribution(contribution) %></li>
  <% end %>
</ul>

<%= div_toggle _("Tags"), 'tags_menu', :class => "menu_title", :hide => true %>
<ul id="tags_menu">
  <li><b><%= _("Tags") %>: </b><%= @request_tosca.tag_list.join(', ') %></li>
  <li><%= link_to _("Edit the tags for this request"), tag_request_url(@request_tosca) %></li>
</ul>

<%= div_toggle _("Help"), 'menu_help', :class => "menu_title" %>
<ul id="menu_help">
 <li><%= public_link_to_howto_request %></li>
</ul>

<% end # Cache %>
