<%############ infos requests #########################
  # require : @request_tosca, @contributions, @count
  #           @users_ingenieurs
%>
<%# It's separated by roles, since viewer & customer see different things %>
<% cache("requests/#{@request_tosca.id}/front-#{session[:user].role_id}") do %>
 <div class="content">
   <% if @request_tosca.logiciel %>
     <div style="float: right">
        <%= public_link_to(software_logo(@request_tosca.logiciel),
	                       logiciel_path(@request_tosca.logiciel)) %>
     </div>
   <% end %>
   <h1>
    <% options = edit_request_path(@request_tosca.id) %>
    <%= link_to(StaticImage::edit, options) %>
    <%= "#{@request_tosca.pretty_id} #{@request_tosca.resume}" %>
    <% options = print_request_path(@request_tosca.id) %>
    <%= link_to(StaticImage::print, options) %>
   </h1>

   <%= render(:partial => 'requests/tabs/comment', :locals =>
         { :comment => @last_commentaire }) %>

   <div>
    <% if session[:user].authorized? "commentaires/comment" %>
     <% action = comment_commentaire_path(@request_tosca) %>
     <% form_tag(action, :method => :post, :multipart => true) do %>
      <%= render :partial => 'comment_form' %>
      <p>&nbsp;</p>
     <% end %>
    <% end %>
   </div>

   <%# see tab_menu for ajax links %>
   <div class="request_tab" id="request_tab">
    <%= render :partial => 'requests/tabs/tab_description' %>
   </div>
 </div>
<% end %>
