<h1><%= _("List of contracts") %></h1>

<%= show_pages_links(@contrat_pages, _('a contract')) %>

<% titles = [_('Name'), _('Type'), _('Softwares'), _('Packages'),
 _('Requests'), _('Users'), _('Mailing list'), _('Start'), _('=>'), _('End')]%>
<%= show_table(@contrats, Contrat, titles) { |c|
  result = ''
  result << "<td>#{link_to_contrat(c)}</td>"
  result << "<td>#{c.rule_type}</td>"
  result << "<td>#{c.logiciels.size}</td>"
  result << "<td>#{c.paquets.size}</td>"
  result << "<td>#{c.demandes.size}</td>"
  result << "<td>#{c.users.size}</td>"
  result << "<td>#{mail_to(c.mailinglist)}</td>"
  result << "<td>#{c.ouverture_formatted}</td>"
  result << '<td></td>' # used for the arrow
  result << "<td>#{c.cloture_formatted}</td>"
  result << "#{link_to_actions_table c}"
}%>

<%= show_pages_links(@contrat_pages, _('a contract')) %><br />
<%= link_to _('Ordered by end date'), actives_contrat_path %>
