<p><b><%= _('Client') %></b> : <%= link_to_client(@contrat.client) %></p>
<p><b><%= _('Name') %></b> : <%= @contrat.name %></p>
<% rule = @contrat.rule %>
<% if rule %>
  <p>&nbsp;&nbsp;<%= link_to_edit_rule(rule) %>
    <%= rule.short_description %>
    <%= link_to_rule(rule) %></p>
<% end %>
<p><b><%= _('Mailing list') %></b> : <%= @contrat.mailinglist %></p>
<p><b><%= _('Start') %></b> : <%= @contrat.ouverture_formatted %></p>
<p><b><%= _('End') %></b> : <%= @contrat.cloture_formatted %></p>


<% if false %>
  <p><b><%= _('Obligation') %> : </b> <%= @contrat.astreinte? %></p>
  <p><b><%= _('System') %> : </b> <%#= @contrat.socle? %></p>
<% elsif false %>
  <p><b><%= _('Number of tickets') %> : </b><%= @contrat.tickets_total %></p>
  <p><b><%= _('Number of used tickets') %> : </b><%= @contrat.tickets_consommes %></p>
                                          <% #We specify the plural for internationnalisation %>
  <p><b><%= _('Time per ticket') %> : </b><%= pluralize(@contrat.ticket_temps, _("minute"), _("minutes")) %></p>

  <br/><h1><b><%= _("Error, wrong type of contract") %></b></h1>
<% end %>

<p><b> Engagements contractuels : </b></p>
<%= show_table_engagements @contrat.engagements %>

<%= show_liste(@contrat.engineer_users, 'ingénieurs affecté') {|i| link_to i.name, account_path(i.user)} %>

<%= link_to_edit_and_list(@contrat) %>
