<%= error_messages_for 'document' %>
<div class="show" style="width: 70%">
  <div class="edit">
    <p><label for="document_client_id"><%= _('Recipient') %></label><br />
    <%= select(:document, :client_id, @clients) %>
    </p>

    <% if @action == :index %>
     <p><label for="document_user"><%= _('Author') %></label><br />
      <%= select(:document, :user_id, @users) %>
     </p>
    <% end %>

    <p><label for="document_documenttype_id"><%= _('Type') %></label><br />
     <%= select(:document, :documenttype_id, @documenttypes) %>
    </p>

    <p><label for="document_title"><%= _('Document|Title') %></label><br />
    <%= text_field 'document', 'title'  %></p>

    <p><label for="document_file"><%= _('Document|File') %></label><br />
    <%= file_column_field 'document', 'file'  %></p>

    <p><label for ="document_date_delivery"><%= _('Document|Delivery_date') %></label><br />
    <%= text_field :document, :date_delivery,  :size => 8 %>
    <span class="calendarPicker"><%= StaticScript::date_to %></span>
    <%= StaticScript::script_date('document_date_delivery', 'date_to') %><br /><br />
    </p>
  </div>
  <div style="float: left">
    <p><label for="document_description"><%= _('Document|Description') %></label><br />
    <%= text_area 'document', 'description'  %></p>
  </div>
  <div style="clear: both"> </div>
</div>
