<% options = { :update => 'col1_content', :method => :get,
    :url => documents_path,
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

<div class="menu_title" onclick="Element.toggle('menu_action')">
  > <%= _("Action") %>
</div>
<ul class="menu" id="menu_action">
 <li><%= link_to _('Add a document'), new_document_path %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_search')">
  > <%= _("Search") %>
</div>
<ul class="menu" id="menu_search">
 <li><b><%= _("Type of document") %></b><br />
     <%= select_filter(@documenttypes, :documenttype) %></li>
 <li><b><%= _("Title") %></b><br />
     <%= text_field :filters, :name %></li>
 <li><b><%= _("Filename") %></b><br />
     <%= text_field :filters, :filename %></li>
</ul>

<% end %>
<%= observe_form 'filters', options %>
