<h1><%= _('Modify the document :')%> <%= @document.title %></h1>

<% form_tag(document_path(@document.id),
            {:method => :put, :multipart => true, :id => 'main_form'}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Validate') %>
<% end %>
<br />
<%= link_to_show_and_list @document %>
