<p><b><%= _('Title') %> :</b> <%= @document.name %></p>
<p><b><%= _('Description') %> :</b> <%= @document.description %></p>
<p><b><%= _('Document|File') %> :</b><%= link_to_file @document, 'file' %></p>
<p><b><%= _('Size')%> :</b> <%= file_size(@document.file) %></p>
<p><b><%= _('Submitted by') %> :</b> <%= @document.user.name %></p>
<br />
<p><b><%= _('Document|Updated_on')%> :</b> <%= @document.updated_on_formatted %></p>
<br />
<%= link_to_edit_and_list @document %>
