<%= error_messages_for 'documenttype' %>

<p><label for="documenttype_name"><%= _("Name") %></label><br />
<%= text_field 'documenttype', 'name'  %></p>

<p><label for="documenttype_description"><%= _("Description") %></label><br />
<%= text_area 'documenttype', 'description'  %></p>
