<% options = { :update => 'col1_content',
    :url => admin_contributions_path,
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

<div class="menu_title" onclick="Element.toggle('menu_actions');Element.toggle('test1');Element.toggle('test2');">
  <span id="test1"><%= StaticPicture::expand %> </span>
  <span id="test2" style="display: none;"><%= StaticPicture::hide %></span>
  <%= t('Actions')%>
</div>

<ul class="menu" id="menu_actions">
 <li><%= link_to(t('Submit a contribution'), new_contribution_path)%></li>
 <li><%= link_to(t('Selection interface'), select_contributions_path)%></li>
 <li><%= link_to t('Administration interface'), admin_contributions_path %></li>
 <% Contribution::actions.each do |a| %>
   <li><%= send(a) %></li>
 <% end %>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_recherche');">
  > <%=t('Search')%>
</div>

<ul class="menu" id="menu_recherche">
 <li><b><%=t('Software')%> </b><br />
     <%= text_field :filters, :software %></li>
 <li><b><%=t('Contribution')%> </b><br />
     <%= text_field :filters, :contribution %></li>
 <li><b><%=t('Author')%> </b><br />
     <%= select_filter(@engineers, 'engineer') %></li>
 <li><b><%=t('State')%> </b><br />
     <%= select_filter(@contributionstates, 'contributionstate') %></li>
 <li><b><%=t('Contract')%> </b><br />
     <%= select_filter(@contracts, 'contract') %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_synthesis');">
  > <%=t('Summary')%>
</div>
<ul class="menu" id="menu_synthesis">
 <li><b><%=t('Contributions')%> : </b><%=@count[:contributions]%></li>
 <li><b><%=t('Software')%> : </b><%=@count[:softwares]%></li>
</ul>

<% end %>

<%= observe_form 'filters', options %>
