<% options = { :update => 'content',
    :url => admin_contributions_path,
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

<div class="menu_title" onclick="Element.toggle('menu_actions');Element.toggle('test1');Element.toggle('test2');">
  <span id="test1"><%= StaticImage::expand %> </span>
  <span id="test2" style="display: none;"><%= StaticImage::hide %></span>
  <%= _('Actions')%>
</div>

<ul class="menu" id="menu_actions">
 <li><%= link_to(_('Submit a contribution'), new_contribution_path)%></li>
 <li><%= link_to(_('Selection interface'), select_contributions_path)%></li>
 <li><%= link_to _('Administration interface'), admin_contributions_path %></li>
 <% Contribution::actions.each do |a| %>
   <li><%= send(a) %></li>
 <% end %>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_recherche');">
  > <%=_('Search')%>
</div>

<ul class="menu" id="menu_recherche">
 <li><b><%=_('Software')%> </b><br />
     <%= text_field :filters, :software %></li>
 <li><b><%=_('Contribution')%> </b><br />
     <%= text_field :filters, :contribution %></li>
 <li><b><%=_('Author')%> </b><br />
     <%= select_filter(@ingenieurs, 'ingenieur') %></li>
 <li><b><%=_('State')%> </b><br />
     <%= select_filter(@etatreversements, 'etatreversement') %></li>
 <li><b><%=_('Contract')%> </b><br />
     <%= select_filter(@contracts, 'contract') %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_synthesis');">
  > <%=_('Summary')%>
</div>
<ul class="menu" id="menu_synthesis">
 <li><b><%=_('Contributions')%> : </b><%=@count[:contributions]%></li>
 <li><b><%=_('Software')%> : </b><%=@count[:softwares]%></li>
</ul>

<% end %>

<%= observe_form 'filters', options %>
