<%= error_messages_for 'contribution' %>

<!--[form:contribution]-->
<table class="form"><tr valign='top'><td>

<p><label for="contribution_name"><%=_('Name')%></label><br />
<%= text_field 'contribution', 'name', :size => 20 %></p>

<p><label for="contribution_logiciel"><%=_('Software')%></label><br />
<%= select(:contribution, :logiciel_id, @logiciels) %>
<%= StaticImage::spinner %></p>

<p><label for="contribution_ingenieur"><%=_('Engineer')%></label><br />
<%= select(:contribution, :ingenieur_id, @ingenieurs) %></p>

<p><label for="demande_id"><%=_('Request number')%></label><br />
<%= text_field :demande, :id %></p>

<p><label for="contribution_patch"><%=_('Patch')%></label><br />
<%= file_column_field 'contribution', 'patch'  %></p>

<p><label for="contribution_affected_version"><%=_('Affected version')%></label><br />
<%= text_field 'contribution', 'affected_version', :size => 10 %></p>

<p><label for="contribution_fixed_version"><%=_('Fixed version')%></label><br />
<%= text_field 'contribution', 'fixed_version', :size => 10 %></p>

<p><label for="contribution_typecontribution"><%=_('Kind of contribution')%></label><br />
<%= select(:contribution, :typecontribution_id, @typecontributions) %></p>

<% if @ingenieur %>
<p><label for="contribution_id_mantis">Id Mantis</label><br />
<%= text_field 'contribution', 'id_mantis', :size => 3 %></p>
<% end %>

<p><label for="contribution_etatreversement"><%=_('State')%></label><br />
<%= select(:contribution, :etatreversement_id, @etatreversements) %></p>

<p><label for="urlreversement_valeur"><%=_('Add an url for the community issue')%></label><br />
<%= text_field 'urlreversement', 'valeur' %></p>

<p><label for="contribution_reverse"><%=_('Submitted on')%></label>
<%= check_box 'contribution', 'reverse', :onchange => "Element.toggle('reverse_le');"%></p>
<div id='reverse_le' <%unless @contribution.reverse%>style="display: none;"<%end%>><%= date_select 'contribution', 'reverse_le', :start_year => 1995 %></div>

<p><label for="contribution_clos"><%=_('Closed on')%></label>
<%= check_box 'contribution', 'clos', :onchange => "Element.toggle('cloture_le');"%></p>
<div id='cloture_le' <%unless @contribution.clos%>style="display: none;"<%end%>><%= date_select 'contribution', 'cloture_le', :start_year => 1995 %></div>

</td><td>

<p><label for="contribution_synthese"><%=_('Synthesis')%></label><br />
<%= text_field 'contribution', 'synthese', :size => 87 %></p>

<p><label for="contribution_description_fonctionnelle"><%=_('Description (public)')%></label><br />
<%= text_area 'contribution', 'description_fonctionnelle', :cols => 100, :rows => 20  %></p>

<p><label for="contribution_description"><%=_('Technical details (private)')%></label><br />
<%= text_area 'contribution', 'description', :cols => 100, :rows => 5  %></p>

<% # deactivated : TO DO : think it a better a way %>
<%# = observe_field 'contribution_logiciel_id', :update => 'versions',
  #       :before => "Element.show('spinner')", :success => "Element.hide('spinner')",
  #       :url => ajax_versions_contributions_path ,:with => 'id' %>

</td></tr>
<tr><td colspan="2">

<div id="versions">
  <%= render :partial => "liste_versions" %>
</div>

</td></tr>
</table>
<!--[eoform:contribution]-->
