<% last_inge = nil %>
<% @contributions.each do |c| %>
  <% if last_inge != c.ingenieur_id %>
    <br /><h1><%= c.ingenieur.nom %></h1>
    <% last_inge = c.ingenieur_id %>
  <% end %>
  <% if c.id_mantis %>
    <a href="http://www.08000linux.com/clients/minefi_SLL/mantis/view.php?id=<%=c.id_mantis%>" target="_blank"><%= c.id_mantis %></a> - 
  <% end %><%= c.nom %> -
  <%= link_to "#{c.id} (#{c.etatreversement.nom})", contribution_path(c) %><br />
<% end %>
<hr />
<%# TODO : erase below after 1st january of 2009 %>
<%# mapping hash between TOSCA & Mantis resolution %>
<%# mapping = { 1 => 100, 5 => 110, 4 => 120, 3 => 130 } %>
<%# @contributions.each do |c| %>
<%# UPDATE minefi_bug_table SET resolution = <%= mapping[c.etatreversement_id] where id=c.id_mantis;<br />%>
<%# end %>