<%= public_link_to _('Home'), welcome_path %> >
 <%= public_link_to _('Contributions'), contributions_path %> >
  <%= public_link_to @contribution.software.name, list_contribution_path(@contribution.software_id) %> >

<h2>
  <%= public_link_to_file @contribution, 'patch', :image => true, :else => '' %>
  <b><%= @contribution.name %></b>
  <%= link_to_edit(@contribution) %>
</h2>
<div class="info">
  <%= @contribution.description %>

  <%= link_to_new_urlreversement(@contribution.id) %>
  <% options = { :edit => 'urlreversement' } %>
  <%= show_list(@contribution.urlreversements, _('link'), options) do |u|
        " <a href=\"#{u.valeur.urlize}\" target=\"_blank\">#{u.valeur}</a> "
  end %>

  <% if @contribution.contributed_on %>
      <%= _('This contribution has been submitted on %s by <b>%s</b>') %
            [ @contribution.contributed_on_formatted, @contribution.ingenieur.name ] %>
      <% if @contribution.closed_on %>
         <%= _('and its has been approved on %s') % @contribution.closed_on_formatted %>
      <% end %>.<br/>
      <% if @contribution.affected_version %>
         <%= _('This bug has been discovered in the version %s ') % link_to_version(@contribution.affected_version) %>
      <% end %>
      <% if @contribution.fixed_version %>
         <%= _('and has been fixed in the version %s') % link_to_version(@contribution.fixed_version) %>
      <% end %>
  <% else %>
      <%= _('This patch was not submitted to the community') %>
  <% end %><br />

  <% if @ingenieur && @contribution.issue %>
    <%= link_to_issue(@contribution.issue, :show_id => true, :icon_severity => true) %><br/>
  <% end %>
</div>


<%= link_to_edit_and_list @contribution %>
