<%= public_link_to _('Home'), bienvenue_path %> >
 <%= public_link_to _('Contributions'), contributions_path %> >
  <%= public_link_to @contribution.logiciel.name, list_contribution_path(@contribution.logiciel_id) %> >

<h2>
  <%= public_link_to_file @contribution, 'patch', :image => true, :else => '' %>
  <b><%=h @contribution.name %></b>
  <%= link_to_edit(@contribution) %>
</h2>
<div class="info">
    <%= @contribution.description_fonctionnelle %>
<hr />

    <%= link_to_new_urlreversement(@contribution.id) %>
    <% options = { :edit => 'urlreversement' } %>
    <%= public_show_liste(@contribution.urlreversements, _('link'), options) { |u|
          " <a href=\"#{u.valeur.urlize}\" target=\"_blank\">#{u.valeur}</a> "
    } %>

    <% if @contribution.reverse_le %>
        <%= _('This contribution has been submitted on %s by <b>%s</b>') %
              [ @contribution.reverse_le_formatted, @contribution.ingenieur.name ] %>
        <% if @contribution.cloture_le %>
           <%= _('and its has been approved on %s') % @contribution.cloture_le_formatted %>
        <% end %>.<br/>
        <% unless @contribution.affected_version.blank? %>
           <%= _('This bug has been discovered in the version %s ') % @contribution.affected_version %>
        <% end %>
        <% unless @contribution.fixed_version.blank? %>
           <%= _('and has been fixed in the version %s') % @contribution.fixed_version %>
        <% end %>
    <% else %>
        <%= _('This patch was not submitted to the community') %>.
    <% end %><br />

<% if @ingenieur %>
<hr />
  <h2><%=_('Internal details')%></h2>
  <%= @contribution.description %>
  <% if @contribution.id_mantis %>
     <p><b>Demande du portail v1 : </b>
        <%=link_to_any_demande @contribution %></p>
  <% end %>
  <%= show_liste(@contribution.demandes, _('request')) { |d|
        link_to_demande(d, :show_id => true, :icon_severite => true)
      } %>
  <%= show_liste(@contribution.paquets, _('package(s) with the patch')) { |p|
        link_to_paquet(p)
      } %>
<% end %>

</div>


<%= link_to_edit_and_list @contribution %>
