<%= error_messages_for 'phonecall' %>

<table class="show">
 <tbody>
  <tr>
   <th><label for="phonecall_issue_id"><%= _('Issue Id')%></label></th>
   <td><%= text_field :phonecall, :issue_id %></td>
  </tr><tr>
    <th><label for="phonecall_contract_id"><%= _('Contract') %></label></th>
    <td><%= select :phonecall, :contract_id, @contracts %> <%= StaticImage::spinner %></td>
  </tr><tr>
    <th><label for="phonecall_engineer_id"><%= _('Engineers') %></label></th>
    <td><%= select :phonecall, :engineer_id, @engineers %></td>
  </tr><tr>
    <th><label for="phonecall_recipient_id"><%= _('Recipient') %></label></th>
    <td><div id="recipients"><%= select_empty(:phonecall, :recipient_id, @recipients) %></div></td>
  </tr><tr>
    <td colspan="2"><hr /></td>
  </tr><tr>
    <th><label for="phonecall_start"><%= _('Start of call') %></label></th>
    <td><%= datetime_select(:phonecall, :start) %></td>
  </tr><tr>
    <th><label for="phonecall_end"><%= _('End of call') %></label></th>
    <td><%= datetime_select(:phonecall, :end) %></td>
  </tr>
 </tbody>
</table>

<% options = { :before => "Element.show('spinner')",
  :success => "Element.hide('spinner')", :with => 'id',
  :update => 'recipients', :url => ajax_recipients_phonecalls_path, :method => :get } %>
<%= observe_field 'phonecall_contract_id', options %>
