<% form_options = PagesHelper::AJAX_OPTIONS.dup.update(:url => phonecalls_path) %>

<% form_remote_tag( form_options.dup.update(:html => {
     :id => 'filters', :name => 'filters', :method => :get})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

<%= div_toggle _('Action'), 'menu_action', :class => "menu_title" %>
<ul class="menu" id="menu_action">
 <li><%= link_to _('Add a call'), new_phonecall_path %></li>
 <% Phonecall::actions.each do |a| %>
   <li><%= send(a) %></li>
 <% end %>
</ul>

<%= div_toggle _('Search'), 'menu_search', :class => "menu_title" %>
<ul class="menu" id="menu_search">
 <li><b><%= _('Expert') %></b></li>
 <li><%=select_filter(@engineers, 'engineer')%></li>
 <li><b><%= _('Recipient') %></b></li>
 <li><%=select_filter(@recipients, 'recipient')%></li>
 <li><b><%= _('Contract') %></b></li>
 <li><%=select_filter(@contracts, 'contract')%></li>
</ul>

<% submit_function = remote_function(form_options) %>
<%= div_toggle _('Period'), 'menu_period', :class => "menu_title" %>
<ul class="menu" id="menu_period">
<li><b><%= _('From')%> </b>&nbsp;
   <% html_options = { :style => "width: 7em;", :onchange => submit_function } %>
   <%= text_field :filters, :after, html_options %>
   <span class="calendarPicker"><%= StaticScript::date_from %></span>
   <%= StaticScript::script_date('filters_after', 'date_from') %></li>
 <li><b><%= _('To')%> </b>&nbsp;
   <%= text_field :filters, :before, html_options %>
   <span class="calendarPicker"><%= StaticScript::date_to %></span>
   <%= StaticScript::script_date('filters_before', 'date_to') %></li>
</ul>

<%= div_toggle _('Perimeter'), 'menu_perimeter', :class => "menu_title" %>
<ul class="menu" id="menu_perimeter">
 <li><b><%=_('Calls')%>: </b><%=@count[:phonecalls]%></li>
 <li><b><%=_('Issues')%>: </b><%=@count[:issues] %></li>
 <li><b><%=_('Engineers')%>: </b><%=@count[:engineers]%></li>
 <li><b><%=_('Recipients')%>: </b><%=@count[:recipients]%></li>
</ul>

<% end %>
<%= observe_form 'filters', form_options %>
