<h1><%= _("Call #%s") % @phonecall.id %></h1>
<%= logo_client(@phonecall.recipient.client) if @phonecall.recipient %>

<table class="show">

<tr><td colspan="2"></td></tr>
<% if @phonecall.issue %>
<tr><td><b><%= _('Issue') %></b></td>
    <td><%= link_to_issue @phonecall.issue %></td></tr>
<% end %>
<tr><td><b><%= _('Interlocutor')%></b></td>
    <td><%= @phonecall.engineer.name %></td></tr>

<tr><td><b><%= _('Recipient')%></b></td>
    <td><%= @phonecall.recipient.name if @phonecall.recipient %></td></tr>

<tr><td colspan="2"><hr/></td></tr>
<tr><td><b><%= _('Started on')%></b></td>
    <td><%= @phonecall.start_formatted %></td></tr>
<tr><td><b><%= _('Ended on')%></b></td>
    <td><%= @phonecall.end_formatted %></td></tr>

</table>

<%= link_to_edit_and_list(@phonecall.id) %>

