<%= error_messages_for 'contributiontype' %>

<p><label for="contributiontype_name"><%= _("Name") %></label><br />
<%= text_field 'contributiontype', 'name'  %></p>

<p><label for="contributiontype_description"><%= _("Description") %></label><br />
<%= text_area 'contributiontype', 'description'  %></p>
