<h1><%= _("List of the types of contribution") %></h1>

<table>
  <tr>
    <% for column in Contributiontype.content_columns %>
      <th><%= column.human_name %></th>
    <% end %>
  </tr>

  <% for contributiontype in @contributiontypes %>
    <tr>
      <% for column in Contributiontype.content_columns %>
        <td><%= contributiontype.send(column.name) %></td>
      <% end %>
      <%= link_to_actions_table contributiontype %>
    </tr>
  <% end %>
</table>

<br />

<%= link_to _("Create a new type of contribution"), new_contributiontype_path %>
