<%= error_messages_for 'tag' %>

<p><label for="tag_name"><%= _('Name')%></label><br />
<%= text_field 'tag', 'name'  %></p>
<!-- Set when tag is saved
<p><label for="tag_user_id"><%= _('Submitter')%></label><br />
<% text_field 'tag', 'user_id'  %></p>
-->
<p><label for="tag_skill_id"><%= _('Skill')%></label><br />
<%= select_empty(:tag, :skill_id, @skills) %></p>
<p><label for="tag_contract_id"><%= _('Contract')%></label><br />
<%= select_empty(:tag, :contract_id, @contracts) %></p>
