<%= public_link_to t('Home'), welcome_path%> >
 <%= public_link_to t('Tags'), tags_path %> >
  <%=h @tag.name %> <%= link_to_edit(@tag) %>

<h2><%=t('Tag')%></h2>
<div class="show">
 <p><b><%=t('Name')%>:</b> <%= @tag.name %></p>
 <p><b><%=t('Submitter')%>:</b> <%= @tag.user %></p>
 <p><b><%=t('Skill')%>:</b> <%= @tag.skill %></p>
 <% if @tag.contract %>
   <p><b><%=t('Contract')%>:</b> <%= @tag.contract.name %></p>
 <% end %>
</div>


<%= link_to_edit_and_list(@tag) %>
