<%= public_link_to _('Home'), welcome_path%> >
 <%= public_link_to _('Tags'), tags_path %> >
  <%=h @tag.name %> <%= link_to_edit(@tag) %>

<h2><%=_('Tag')%></h2>
<div class="show">
 <p><b><%=_('Name')%>:</b> <%= @tag.name %></p>
 <p><b><%=_('Submitter')%>:</b> <%= @tag.user %></p>
 <p><b><%=_('Skill')%>:</b> <%= @tag.skill %></p>
 <% if @tag.contract %>
   <p><b><%=_('Contract')%>:</b> <%= @tag.contract.name %></p>
 <% end %>
</div>


<%= link_to_edit_and_list(@tag) %>
