<div id='issue_tab_content' class='issue_tab_content'>
<% if @session_user.engineer? %>
  <ul>
    <li><%= link_to_subscription(@issue, {:update => 'issue_tab'}) %></li>
    <li>
      <%= _('Subscribe') %>
      <%= select_onchange @engineers, 0, 'user_id', :onchange => '', :id => 'subscribe' %>
      <%= _('to this issue') %>
      <%= observe_field('subscribe', {:url => ajax_subscribe_someone_issue_url(@issue.id),
        :method => :post,
        :before => "Element.show('spinner')",
        :success => "alert('#{_('Succesfully subscribe')}')",
        :failure => "alert('#{_('Not so good')}')",
        :complete => "Element.hide('spinner')",
        :with => 'user_id'}) %>
    </li>

    <% options = { :software_id => @issue.software_id, :issue_id => @issue.id } %>
    <li><%=link_to_new_contribution(_('Add a contribution'), options )%></li>
    
    <% unless @contributions.empty? %>
    <li><%= _('Link to a contribution')%>
      <% form_tag link_contribution_issue_path(@issue.id) do %>
        <%= select_onchange @contributions, 'issue', 'contribution_id' %>
      <% end %>
    </li>
    <% end %>

  <% if @issue.contribution %>
    <li><%= link_to_unlink_contribution(@issue.id) %></li>
  <% end %>

    <li><%= link_to_add_call @issue.id %></li>
  </ul>
<% end %>
</div>