<div class="issue_tab_content" name="issue_tab_content">

<% commitment = @issue.commitment %>
<% elapsed = @issue.elapsed %>
<% interval = @issue.interval %>
<% if commitment.nil? %>
  <p><%= _("Your issue is not subject to a SLA.") %></p>
<% else %>
 <h1><%= _('Service Level Agreement') %></h1>
 <table class="show">
  <thead>
   <tr>
    <th></th>
    <th><%= _('Step') %></th>
    <th><%= _('Progress') %></th>
    <th><%= _('Commitment') %></th>
   </tr>
   <tr><td colspan="4"><hr /></td></tr>
  </thead><tbody>
   <% progress = elapsed.taken_into_account_progress %>
   <tr class="<%= cycle('even', 'odd') %>">
    <td><%= progress_image(elapsed.taken_into_account?, progress) %></td>
    <th><%= _("Taken into account") %></th>
    <td><%= progress_bar(progress) %></td>
    <td><%= progress_text(elapsed.taken_into_account, 1.hour, interval) %></td>
   </tr>
   <% progress = elapsed.workaround_progress %>
   <tr class="<%= cycle('even', 'odd') %>">
    <% if commitment.workaround <= 0 %>
     <td colspan="4"><%= _("Your issue has no commitment for workaround time") %></td>
    <% else %>
     <td><%= progress_image(elapsed.workaround?, progress) %></td>
     <th><%= _("Workaround") %></th>
     <td><%= progress_bar(elapsed.workaround_progress) %></td>
     <td><%= progress_text(elapsed.workaround, commitment.workaround.days, interval) %></td>
    <% end %>
   </tr>
  <% progress = elapsed.correction_progress %>
   <tr class="<%= cycle('even', 'odd') %>">
    <% if commitment.correction <= 0 %>
     <td colspan="4"><%= _("Your issue has no commitment for correction time") %></td>
    <% else %>
     <td><%= progress_image(elapsed.correction?, progress) %></td>
     <th><%= _("Correction") %></th>
     <td><%= progress_bar(progress) %></td>
     <td><%= progress_text(elapsed.correction, commitment.correction.days, @issue.interval) %></td>
    <% end %>
   </tr>
  </tbody>
 </table>
<% end %>
</div>
