<% delete_ho = { :method => :delete, :confirm =>
  _("Are you sure you want to delete this comment ?") } %>
<% user = comment.user %>
<% private = comment.private? %>
<% class_collapsed = 'collapsed' %>
<% class_collapsed = '' if not_collapsed %>


<% # It should not happen : comments list is filtered before requesting DB %>
<% # It's a paranoid protection : a private comment won't be displayed. %>
<% if (!private) or (private and @session_user.engineer?) %>
 <div id="comment_<%=comment.id%>"
      class="comment-container <%=class_collapsed%> <%=(private ? 'private' : 'public')%>">
  <div class="comment-header" onclick="tosca_toggle_comment('comment_<%=comment.id%>')">
    <% if user %><strong><%= user.name %></strong><% end %>
    - <span><%= comment.created_on.to_s(:short) %></span>
  </div>
  <div class="comment-content">
    <table class="comment-table">
     <tr>
      <td class="infos" align="center">
        <% display_edit = (@session_user.engineer? or
            (user and @session_user.recipient? and @session_user.id == user.id)) %>
        <p>
         <%= link_to(StaticPicture::edit, edit_comment_path(comment)) if display_edit %>
         <%= "##{comment.id}" %>
         <%= link_to(StaticPicture::delete, comment_path(comment), delete_ho) if @session_user.engineer? %><br />
        <% if user and user.recipient? %>
          <%= logo_client(user.client) %>
        <% else %>
          <%= StaticPicture::logo_service %>
        <% end %><br />
        <% if @session_user.engineer? and user %>
          <%= user.phone %>
        <% end %>
        </p>
      </td>
      <td class="text">
        <%= display_comment comment %>
      </td>
     </tr>
    </table>
  </div>
 </div>
<% end %>