<%= error_messages_for 'statut' %>

<p><label for="statut_name"><%=t('Name')%></label><br />
<%= text_field 'statut', 'name'  %></p>

<p><label for="statut_description"><%=t('Description')%></label><br />
<%= text_area 'statut', 'description'  %></p>
