<h1><%= _('List of the status') %></h1>

<% links = show_pages_links(@statut_pages, 'a new status') %>
<%= links %>

<table>
  <tr>
    <th><%= _("Id") %></th>
  <% for column in Statut.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>

<% for statut in @statuts %>
  <tr class=<%= "issue_#{statut.id}" %>>
    <td><%= statut.id %>
  <% for column in Statut.content_columns %>
    <td><%= statut.send(column.name) %></td>
  <% end %>
  <%= link_to_actions_table(statut) %>
  </tr>
<% end %>
</table>

<%= links %>
