<%= error_messages_for 'version' %>

<table class="topbox">
 <tr>
  <td>
   <table class="show">
     <tr>
       <th><label for="version_logiciel_id"><%= _('Software')%></label></th>
       <td><%= select(:version, :logiciel_id, @logiciels) %></td>
     </tr><tr>
       <th><label for="version_version"><%= _('Version')%></label></th>
       <td><%= text_field 'version', 'version'  %></td>
     </tr>
   </table>
  </td>
  </tr>
</table>
