<%= error_messages_for 'version' %>

<div class="subcolumns"><div class="c50l">
<div class="show">
   <table>
     <tr>
       <th><label for="version_software_id"><%= _('Software')%></label></th>
       <td><%= select(:version, :software_id, @softwares) %></td>
     </tr>
     <tr>
       <th><label for="version_name"><%= _('Version')%></label></th>
       <td><%= text_field :version, :name  %></td>
     </tr>
     <tr>
       <th><label for="version_generic"><%= _('Generic ?')%></label></th>
       <td><%= check_box :version, :generic %></td>
     </tr>
   </table>
 </div>
</div></div>