<h1><%= _('List of the versions') %> <%=StaticImage::spinner%></h1>

<% links = show_pages_links(@version_pages, _('a version'),
             :url => versions_path) %>
<%= links %>
<% titles = [ _('Software'), _("Versions")] %>
<%= show_table(@versions, Version, titles) { |v|
  result = ''
  result << "<td>#{link_to v.software, software_path(v.software)}</td>"
  result << "<td>#{v.name}</td>"
  result << "#{link_to_actions_table v}"
}%>
<%= links %>
