<% software = @version.software %>
<%= public_link_to _('Homepage') , welcome_url%> >
 <%= public_link_to _('Software') , softwares_path %> >
  <%= public_link_to software.group.name, software_path(software.group_id) %> >
   <%= public_link_to software, software_path(software) %> >
    <%= @version %>
     <%= link_to_edit(@version) %>

   <h2><%= _('Version of a software')%></h2>

<table>
  <tr><td>
   <div class="show">
    <p><b><%= _('Software') + ' : '%></b> <%= @version.software.name %></p>
    <p><b><%= _('Version') + ' : '%></b> <%= @version %></p>
    <p><b><%= _('Generic ?') %></b> <%= @version.generic? ? _('Yes') : _('No')%></p>
   </div>

   <p><b><%= pluralize(@version.releases.count, _('release') ) %></b> <%= link_to_new_release(@version.id) %></p>
   <p>
     <% options = { :no_title => true, :edit => 'release'} %>
     <% if @version.releases.size > 0 %>
        <%= show_list(@version.releases, _('release'), options) {|r|
            link_to r.full_name, release_path(r)
          } %>
     <% end %>
   </p>
  </td>
  </tr>
</table>

<br />

<p>&nbsp;</p>

<%= link_to_edit_and_list(@version) %>
