<%= f.error_messages %>

<div class="subcolumns">
 <div class="c50l">
  <div class="show">
   <table>
    <tr>
     <th><%= f.label :name %></th>
     <td><%= f.text_field :name %></td>
	</tr><tr>
     <th><%= f.label :summary %></th>
     <td><%= f.text_field :summary %></td>
    </tr>
   </table>

   <p><%= f.label :description %><br />
      <%= f.text_area :description, :cols => 60 %></p>

   <p><%= f.label :logo %><br />
      <%= file_column_field 'image', 'image' %></p>

  </div>
 </div><div class="c50r">
  <div class="show">
   <table>
    <tr>
     <th><%= f.label :copyright %></label>
         <%= link_to_new_license %></th>
     <td><%= f.select :license_id, @licenses %></td>
    </tr><tr>
     <th><%= f.label :group %></label>
      <%= link_to_new_group %></th>
     <td><%= f.select :group_id, @groups %></td>
    </tr><tr>
     <th><%= f.label :private %></th>
     <td><%= f.check_box :private %></td>
    </tr>
   </table>

   <p><%= f.label :skills %></label> <%= link_to_new_skill %></p>
     <%= hbtm_check_box( @software.skills, @skills,
                         'software[skill_ids]', :size => 4) %>
   <% # Tags are dynamically dependent of related technologies %>
   <%= render :partial => 'tags' %>
   <%= observe_form('form_software', :update => 'tags',
        :before => "Element.show('spinner')",
        :success => "Element.hide('spinner')",
        :url => ajax_update_tags_softwares_path,
        :method => :get ) %>
  </div>
 </div>
</div>