<%= error_messages_for 'software' %>

<div class="subcolumns">
 <div class="c50l">
  <div class="show">
   <table>
    <tr>
     <th><label for="software_name"><%=_('Name')%></label></th>
     <td><%= text_field :software, :name %></td>
	</tr><tr>
     <th><label for="software_summary"><%=_('Summary')%></label></th>
     <td><%= text_field :software, :summary %></td>
    </tr>
   </table>

   <p><label for="software_description"><%=_('Description')%></label><br />
   <%= text_area :software, :description, :cols => 60 %></p>

   <p><label for="image_image"><%=_('Logo')%></label><br />
   <%= file_column_field 'image', 'image' %></p>

  </div>
 </div><div class="c50r">
  <div class="show">
   <table>
    <tr>
     <th><p><label for="software_licence_id"><%=_('Copyright')%></label>
      <%= link_to_new_license %></p></th>
     <td><%= select(:software, :license_id, @licenses) %></td>
    </tr><tr>
     <th><p><label for="software_group_id"><%=_('Group')%></label>
      <%= link_to_new_group %></p></th>
     <td><%= select(:software, :group_id, @groups) %></td>
    </tr><tr>
     <th><label for="software_private"><%=_('Private')%></label></th>
     <td><%= check_box(:software, :private) %></td>
    </tr>
   </table>

   <p><label><%=_('Technologies')%></label> <%= link_to_new_skill %></p>
     <%= hbtm_check_box( @software.skills, @skills,
                         'software[skill_ids]', :size => 4) %>
   <% # Tags are dynamically dependent of related technologies %>
   <%= render :partial => 'tags' %>
   <%= observe_form('form_software', :update => 'tags',
      :before => "Element.show('spinner')",
      :success => "Element.hide('spinner')",
      :url => ajax_update_tags_softwares_path,
      :method => :get ) %>
  </div>
 </div>
</div>