<% options = { :update => 'col1_content', :method => :get,
    :url => softwares_path,
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

<%# used_by remote_link_to_software %>
<%= hidden_field_tag 'active', '1' %>

<% if session[:user] %>
 <div class="menu_title" onclick="Element.toggle('menu_consultation')">
 > <%= _('Consultation') %></div>
 <ul id="menu_consultation">
  <% if @recipient %>
   <li><%= remote_link_to_software :supported %></li>
   <li><%= remote_link_to_software :all %></li>
  <% end %>
  <li><%= link_to _('List of the versions'), versions_path %></li>
 </ul>
<% end %>

<div class="menu_title" onclick="Element.toggle('menu_recherche')">
> <%= _('Search') %></div>
<ul id="menu_recherche">
 <li><b><%= _('By name') %></b><br />
     <%= text_field :filters, :software %></li>
 <% if @ingenieur %>
  <li><b><%= _('By client') %> </b><br />
      <%= select_filter(@contracts, 'contract') %></li>
 <% end %>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_caracteristique')">
> <%=_('Characteristic')%></div>
<ul id="menu_caracteristique">
 <li><b><%= _('Description') %> </b><br />
     <%= text_field :filters, :description %></li>
 <li><b><%= _('Group') %> </b><br />
     <%= select_filter(@groupes, 'groupe') %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_perimetre')">
> <%=_('Perimeter')%></div>
<ul id="menu_perimetre">
 <li><b><%=_('Technologies')%>: </b><%=@count[:technologies]%></li>
 <li><b><%=_('Versions')%>: </b><%=@count[:versions]%></li>
  <li><b><%=_('Software')%>: </b><%=@count[:software]%></li>
</ul>

<% end %>
<%= observe_form 'filters', options %>
