<h1>TODO : Vue à travailler / Traduire / Routifier</h1>
<h2>TODO : Il faut aussi mettre les finders dans le controller</h2>

<h1><%= "Software \"#{@software.name}\"" %></h1>

<table>


<tr><td colspan="2" align="center"><b>RESUME</b></td></tr>

<tr><td><b>Name du projet</b></td>
    <td><%=h @software.nom %></td></tr>

<tr><td><b>Classification</b></td>
    <td><%= link_to(@software.groupe.nom, groupe_path(@software.groupe_id) ) if @software.groupe %></td></tr>

<tr><td><b>Description courte</b></td>
    <td><%=h @software.resume %></td></tr>

<tr><td><b>Site(s)</b></td>
    <td><%= show_list(Urlsoftware.find_all_by_software_id_and_typeurl_id(@software.id, 3), 'url', {:no_title => true}) {|u| "#{link_to u.typeurl.nom+' : ',show_urlsoftware_path(u)} <a href=\"#{u.valeur.urlize}\">#{u.valeur}</a>" } %></td></tr>

<tr><td><b>Version</b></td>
    <td><%=h '-' %></td></tr>

<tr><td><b>Utilisateur cibles</b></td>
    <td><%=h '-' %></td></tr>

<tr><td><b>License</b></td>
    <td><%=h @software.license.nom if @software.license %></td></tr>


<tr><td colspan="2" align="center"><b>DESCRIPTION COMPLETE</b></td></tr>

<tr><td><b>Historique</b></td>
    <td>La première version de <%= @software.nom %> est apparue le @software.launched_on.<br />
        <%= @software.description %><br />
        @software.logo</td></tr>

<tr><td><b>Fonctionnalités</b></td>
    <td>@software.fonctionnalites</td></tr>

<tr><td><b>Documentation</b></td>
    <td><%= show_list(Urlsoftware.find_all_by_software_id_and_typeurl_id(@software.id, 7), 'url', {:no_title => true}) {|u|
            "#{link_to u.typeurl.nom+' : ', show_urlsoftware_path(u)}
            <a href=\"#{u.valeur.urlize}\">#{u.valeur}</a>" } %></td></tr>

<tr><td><b>Support en ligne</b></td>
    <td><%= show_list(Urlsoftware.find_all_by_software_id_and_typeurl_id(@software.id, 0), 'url', {:no_title => true}) {|u|
            "#{link_to u.typeurl.nom+' : ', show_urlsoftware_path(u)}
            <a href=\"#{u.valeur.urlize}\">#{u.valeur}</a>" } %></td></tr>

<tr><td><b>OS</b></td>
    <td>@software.plateformes.collect{|s| s.nom} * ', ' </td></tr>

<tr><td><b>Langues</b></td>
    <td>@software.langues.collect{|l| l.symbole} * ', ' </td></tr>

<tr><td><b>Extensions possibles</b></td>
    <td>@software.extensions?</td></tr>

<tr><td><b>Langage de programmation</b></td>
    <td>@software.langages.collect{|l| l.nom} *', ' </td></tr>

<tr><td><b>Status</b></td>
    <td>@software.stabilite.nom </td></tr>


<tr><td colspan="2" align="center"><b>CONTRIBUER</b></td></tr>

<tr><td><b>Copyright Assignment</b></td>
    <td>@software.copyright_assignement <br />
        link_to_file(@software.copyright_assignement)</td></tr>

<tr><td><b>Appendice à ajouter au patch</b></td>
    <td>@software.patch_add_on </td></tr>

<tr><td><b>Bug Tracker</b></td>
    <td><%= show_list(Urlsoftware.find_all_by_software_id_and_typeurl_id(@software.id, 8), 'url', {:no_title => true}) {|u|
            "#{link_to u.typeurl.nom+' : ', show_urlsoftware_path(u)}
            <a href=\"#{u.valeur.urlize}\">#{u.valeur}</a>" } %></td></tr>

<tr><td><b>Contributions</b></td>
    <td><%= show_list(@software.contributions, 'Contribution', :no_title => true) { |c|
              link_to c.nom, contribution_path(c.id)
            } %></td></tr>

<tr><td><b>Contact</b></td>
    <td>@software.ingenieurs.colect{|i| "#{i.nom} (#{i.email})"} * ', ' </td></tr>

<tr><td><b>Commentaires</b></td>
    <td>@software.comment </td></tr>

<tr><td><b>Attention</b></td>
    <td>@software.warning </td></tr>

</table>

<%= link_to_edit_and_list @software %>
