<h1><%= t(:Edit)%> <%= StaticPicture::spinner %></h1>
<%= link_to_show_and_list( @software.id) %>


<% form_for(@software, :multipart => true) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag t(:Validate) %>
<% end %>
<br />