<%= public_link_to _('Homepage') , welcome_path %> >
<%= public_link_to _('Software') , softwares_path %> >
<%= public_link_to @software.group, group_path(@software.group_id) %> >
<%= @software %> <%= link_to_edit(@software) %>
<% expert = @session_user and @session_user.engineer? %>
<div class="subcolumns">
  <div class="c50l">
    <div class="show">
      <table>
        <tr>
          <td><b><%= _('Name') %></b> </td>
          <td><%= @software.name %>
            <% if @software.private? and expert %>
              (<%= _('Private') %>)
            <% end %>
          </td>
        </tr>
        <tr><th><%= _('Summary') %></th>
        <td><%= @software.summary %></td></tr>
        <tr>
          <td colspan="2">
            <fieldset>
              <% unless @software.picture.blank? %>
                <div style="float: left; padding: 0.2em 0.5em;"><%= software_logo(@software, :size => :thumb) %></div>
              <% end %>
              <%= @software.description %>
            </fieldset>
          </td>
        </tr>

        <tr>
          <th><%= _('Copyright') %></th>
          <td><%=h @software.license.name if @software.license %></td>
        </tr>

        <tr>
          <th><%= _('Technologies') %></th>
          <td><%= @software.skills.collect{|c| c.name}.join(', ') %></td>
        </tr>

        <tr>
          <th><%= _('Group') %></th>
          <td><%= public_link_to(@software.group.name, group_path(@software.group_id) ) if @software.group %></td>
        </tr>

        <tr>
          <%# collecting before calling .size to versions allows to skip a COUNT(*) request %>
          <% versions = @software.versions.collect{|v| link_to_version v}.join(', ') %>
          <th><%=n_('Version', 'Versions', @software.versions.size)%> <%= link_to_new_version(@software) %></th>
          <td><%= versions %></td>
        </tr>

        <tr>
          <td><b><%= _('Links') %></b> <%= link_to_new_hyperlink("software", @software.id) %></td>
          <% options = {:no_title => true, :edit => 'hyperlink'} %>
          <td><%= show_list(@software.hyperlinks, 'hyperlink', options) {|u|
              "<a href=\"#{u.name.urlize}\" target=\"_blank\">#{u.name}</a>"
            } %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="c50r">
    <div class="show">
      <table>
        <tr>
          <td colspan="2"><b><%=_('Issues')%></b> <%= link_to_new_issue(:software_id => @software.id)%> <br />
            <% options[:edit] = nil %>
            <% options[:public_summarized] = true %>
            <% if @issues.size > 0  %>
              <div class="bloc_scroll">
                <%=show_list(@issues, _('Issue'), options) {|d| link_to_issue d}%>
              </div>
          <% end %></td>
        </tr>

        <tr>
          <td colspan="2"><b><%=_('Contributions')%></b>
            <%= link_to_new_contribution(nil, :software_id => @software.id)%><br />
            <%= public_table_of_contributions(@software.contributions) %> </td>
        </tr>

        <tr>
          <td><b><%=_('Tags')%></b></td>
          <td><%= @software.tag_list %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%= link_to_edit_and_list @software %>
