<h1>Editing subscription</h1>

<% form_for(@subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.select :contact_id, @users %>
  </p>
  <p>
    <%= f.label :model_id %><br />
    <%= f.text_field :model_id %>
  </p>
  <p>
    <%= f.label :model_type %><br />
    <%= f.text_field :model_type %>
  </p>
  <p>
    <%= f.label :updated_on %><br />
    <%= f.datetime_select :updated_on %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @subscription %> |
<%= link_to 'Back', subscriptions_path %>
