<h1><%= t('List of the subscriptions') %></h1>

<table>
  <tr>
    <th><%= t('User') %></th>
    <th><%= t('Subscribed to') %></th>
    <th><%= ('Updated on') %></th>
  </tr>

<% for subscription in @subscriptions %>
  <tr>
    <td><%=h subscription.user %></td>
    <td><%=h subscription.model %></td>
    <td><%=h subscription.updated_on %></td>
    <td><%= link_to t('Show'), subscription %></td>
    <td><%= link_to t('Edit'), edit_subscription_path(subscription) %></td>
    <td><%= link_to t('Destroy'), subscription, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('Create a new subscription'), new_subscription_path %>
