<h1><%= t(:Index) %></h1>

<table>
  <tr>
    <th><%= t(:'Models.User') %></th>
    <th><%= t(:subscribed_to) %></th>
    <th><%= t(:updated_on) %></th>
  </tr>

<% for subscription in @subscriptions %>
  <tr>
    <td><%=h subscription.user %></td>
    <td><%=h subscription.model %></td>
    <td><%=h subscription.updated_on %></td>
    <td><%= link_to t(:Show), subscription %></td>
    <td><%= link_to t(:Edit), edit_subscription_path(subscription) %></td>
    <td><%= link_to t(:Destroy), subscription, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:New), new_subscription_path %>
