<p>
  <b><%= t(:'Models.User') %> :</b>
  <%= @subscription.user_id %>
</p>

<p>
  <b><%= t(:Model) %> :</b>
  <%= @subscription.model_id %>
</p>

<p>
  <b><%= t(:Type) %> :</b>
  <%= t("Models.#{@subscription.model_type}") %>
</p>

<p>
  <b><%= t(:updated_on) %> :</b>
  <%=h @subscription.updated_on %>
</p>


<%= link_to t(:Edit), edit_subscription_path(@subscription) %> |
<%= link_to t(:Back), subscriptions_path %>
