<%= error_messages_for 'commitment' %>

<p><label for="commitment_typeissue"><%= _('Type of the issue') %></label><br />
  <%= select(:commitment, :typeissue_id, @typeissues) %>
</p>

<p><label for="commitment_severite"><%= _('Severity') %></label><br />
  <%= select(:commitment, :severite_id, @severites) %>
</p>	

<p><label for="commitment_workaround"><%= _("Workaround") %></label><br />
<%= text_field 'commitment', 'workaround'  %></p>

<p><label for="commitment_correction"><%= _('Correction') %> </label><br />
<%= text_field 'commitment', 'correction'  %></p>
