<div class="content" id="content">
  <h1><%= _('%s activity from ') % App::ServiceName %>
    <span class="date"><%= @date[:first_day].strftime("%A %d %B %Y") %></span> <%= _('to') %>
    <span class="date"><%= @date[:end_day].strftime("%A %d %B %Y") %></span></h1>
  <br />
  <table class="show report">
    <tr>
      <td></td>
	<th colspan="4"><%= _('To be closed') %> (I)=(IV) <br /> <%= _('"last week"') %> </th>
	<th colspan="4"><%= _('New issues') %> (III)</th>
        <th colspan="4"><%= _('Issues closed <br /> this week') %> (IV)</th>
	<th colspan="4"><%= _('Total in progress <br /> end week') %> (V=I+III-IV)</th>
	<th colspan="4"><%= _('TOTAL') %> (VI)</th>
    </tr><tr>
	<th><%= _('Customer') %></th>
	<% 4.times do %>
          <td><%= _('Blocking') %></td>
	  <td><%= _('Major') %> </td>
	  <td><%= _('Minor') %> </td>
          <td><%= _('None') %></td>
	<% end %>
	<th colspan="4"><%= _('To close') %></th>
    </tr>
    <% @clients.each do |c| %>
     <tr class="<%=cycle('even','odd')%>">
      <td><%= c %></td>
        <% name = c.name.intern %>
	<% 4.times do |i| %>
	  <td><%= @issues[:last_week][name][i+1] %></td>
        <% end %>
	<% 4.times do |i| %>
          <td><%= @issues[:new][name][i+1] %></td>
        <% end %>
	<% 4.times do |i| %>
          <td><%= @issues[:closed][name][i+1] %></td>
        <% end %>
	<% 4.times do |i| %>
          <td><%= @total[:active][name][i] %></td>
        <% end %>
        <td><%= @total[:final][name] %></td>
      </tr>
     <% end %>
     <tr><td colspan="18"><hr /></td></tr><tr>
	<th><%= _('TOTALS') %></th>
        <% 4.times do |i| %>
	    <td><%= @issues[:last_week][:total][i] %></td>
        <% end %>
        <% 4.times do |i| %>
            <td><%= @issues[:new][:total][i] %></td>
        <% end %>
        <% 4.times do |i| %>
	    <td><%= @issues[:closed][:total][i] %></td>
        <% end %>
        <% 4.times do |i| %>
	    <td><%= @total[:active][:total][i] %></td>
        <% end %>
        <td><%= @total[:final][:total] %></td>
     </tr>
   </table>
  <%= comex_export_link %>
</div>
