<% client = (@contract ? @contract.client : nil) %>
<% display_name = (client ? client.name : App::Name) %>

<%#= render_partial 'form' %>

<h1 class="title">
  <%= display_name %><br />
  <%= _("Activity report of %s") % App::Name %><br />
  <%= _('from') %> <%= @report[:middle_date].strftime('%B %Y') %>
  <%= _('to') %> <%= @report[:end_date].strftime('%B %Y') %>
  (<%= @report[:middle_report] %> <%= _('months') %>)
</h1>

<div class="report_images">
  <%= StaticImage::linagora %>
  <%= image_tag(url_for_file_column(client.image, 'image', 'thumb')) if client %>
</div>
