<% client = (@contracts ? @contracts.first.client : nil) %>

<div class="report_images" style="float: left;">
  <%= StaticImage::linagora %>
</div>
<% if client %>
<div class="report_images" style="float: right;">
  <%= image_tag(url_for_file_column(client.image, 'image', 'thumb')) %>
</div>
<% end %>


<h1 class="title">
  <%= (client ? client.name : App::Name) %><br />
  <%= _("Activity report") %><br />
  <% if @report[:middle_date].month == @report[:end_date].month %>
    <%= _('of') %> <%= @report[:middle_date].strftime('%B %Y') %>
  <% else %>
    <%= _('from') %> <%= @report[:middle_date].strftime('%B %Y') %>
    <%= _('to') %> <%= @report[:end_date].strftime('%B %Y') %>
  <% end %>
  (<%= @report[:middle_report] %> <%= _('months') %>)
</h1>
