
<p><%= _('This report presents the state of the service from the')%>
 <%= @report[:middle_date].strftime('%d %B %Y') %> <%= _('to the')%>
 <%= @report[:end_date].strftime('%d %B %Y') %> <% _('including (') %> (<%= @report[:middle_report] %> <%= _(' months')%>).</p>

<p><%= _('The beginning of the report is organized in four regions for each type of information: ') %></p>
<ul>
  <li><%= _('the first pie chart is a summary over the chosen period corresponding to the number of months you selected, ') %></li>
  <li><%= _("the second pie chart draws all data since the begining of the deal: it thus doesn't change with the period you've chosen, ") %></li>
  <li><%= _('the third graph show another view of the summary through a bar chart showing the evolution of these data over the duration of the deal') %></li>
  <li><%= _('the last table show a numerical view of the data used to draw the graphs, presented to you in the same zone. ') %></li>
</ul>
<p><%= _('You will observe in particular that the numbers have sometimes on their right side a second number between brackets: the first corresponds to the number of issues, whereas the second indicates, if needed, which issues are still “active”.') %></p>
