<% options = { :method => :get,
  :url => weekly_reporting_path,
  :before => "Element.show('spinner')",
  :success => "Element.hide('spinner')" } %>

<% form_remote_tag(options.dup.update(:html => {
      :id => 'filters', :name => 'filters'})) do %>
  
  <%= div_toggle _('Filters'), 'menu_filters', :class => "menu_title" %>
  <ul class="menu" id="menu_filters">
    <% if @session_user.engineer? %>
      <li>
        <b><%= _('By contract') %></b><br />
        <%= select_filter(@contracts, :contract) %>
      </li>
    <% end %>
  </ul>

  <% submit_function = 
    remote_function(options.dup.update(:with => "Form.serialize(document.forms['filters'])")) %>
  <%= div_toggle _('Date'), 'menu_date', :class => "menu_title" %>
  <ul class="menu" id="menu_legend">
    <li>
      <b><%= _('Start date') %></b>&nbsp;
      <span class="calendarPicker"><%= StaticScript::date_from %></span><br/>
      <%= text_field :report, :start_date, :onchange => submit_function %>
      <%= StaticScript::script_date('report_start_date', 'date_from') %>
    </li>
  </ul>

  <div id="weekly_statistics">
    <%= render :partial => 'reporting/weekly_statistics' %>
  </div>

  <%= div_toggle _('Legend'), 'menu_legend', :class => "menu_title" %>
  <ul class="menu" id="menu_legend">
    <li>
      <b><%= _('New issues are preceded by') %> <%= StaticPicture::new %></b>
    </li>
    <li>
      <b><%= _('Running issues are preceded by') %> <%= StaticPicture::sla_running %></b>
    </li>
    <li>
      <b><%= _('Closed issues are preceded by') %> <%= StaticPicture::stop %></b>
    </li>
  </ul>

<% end %>

<%= observe_form 'filters', options %>