<%= div_toggle _('Statictics'), 'menu_stats', :class => "menu_title" %>
<ul class="menu" id="menu_stats">
  <li>
    <b><%= _('Number of new issues') %></b> : <%= @number_new_issues %>
  </li>
  <li>
    <b><%= _('Number of updated issues') %></b> : <%= @number_updated_issues %>
  </li>
  <% if @issues_by_contract.length > 0 %>
    <li>
      <b> <%= _('Number of open issues by contracts') %></b>
      <ul>
        <% @issues_by_contract.each_pair do |key, value| %>
          <li>
            <b><%= link_to_contract(key) %></b> : <%= value.length %>
          <li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>