<div class="content" id="content">
  <h1><%= _('%s activity per week') % App::ServiceName %></h1><br />
  <% form_tag comex_resultat_reporting_path, :method => :get do %>
    <table class='show'>
      <tr>
        <th><%= _('Please select')%></th>
        <th><%= _('Select customer')%></th>
      </tr>
      <tr>
        <td>
          <label for="results_week_num"><%= _('Number of the week:')%></label>
          <%= text_field :results, :week_num, :size => 2,
            :value => Time.now.strftime("%W") %>
        </td>
        <td rowspan='4'><%= box_clients(9)%></td>
      </tr>
      <tr><th><%= _('Or search by period') %></th></tr>
      <tr>
        <td>
          <label for="results_first_day"><%= _('First day : ') %></label>
          <%= text_field :results, :first_day, :size =>8 %>
          <span class="calendarPicker"><%= StaticScript::date_from %></span>
          <%= StaticScript::script_date('results_first_day', 'date_from') %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="results_end_day"><%= _('Last day : ') %></label>
          <%= text_field :results, :end_day,  :size => 8 %>
          <span class="calendarPicker"><%= StaticScript::date_to %></span>
          <%= StaticScript::script_date('results_end_day', 'date_to') %>
          </td>
      </tr><tr>
        <td colspan="2"><hr /></td>
      </tr><tr>
        <td align='center'>
          <%= submit_tag _('See the comex report'),
            {:name => "reporting" } %>
        </td>
        <td align='center'>
          <%= submit_tag _("See the SLA report"), {:disabled => true, :name => "cns"} %>
        </td>
      </tr><tr>
        <td colspan="2"><hr /></td>
      </tr><tr>
        <td colspan="2" align="center">
          <%= submit_tag _('See the weekly report'), {:name => "weekly" } %>
        </td>
      </tr>
    </table>
    <% end %>
</div>
