<h1><%= _("Requests of this %s") % @period %></h1>

<% @result.each do |c| %>
  <% contract = c.contract %>
  <% c_id = "contract_#{contract.id}" %>
  <h2><%= toggle(c_id) %>&nbsp;<%= _("Contract : ") + contract.name %></h2>
  <ul id="<%= c_id %>" style="list-style: none; display: none;">

  <% c.requests.each do |d| %>
    <% request = d.request %>
    <% old_request = d.request_at %>
    <% d_id = "request_#{request.id}" %>
    <li>
      <h3><%= toggle(d_id) %>&nbsp;<%= "##{request.id} " + link_to_demande(request) %></h3>
      <%= request.typedemande %>
      <%= request.severite %><%= " (#{old_request.severite})" if old_request.severite and old_request.severite != request.severite %>,
      <%= request.statut %><%= " (#{old_request.statut})" if old_request.statut and old_request.statut != request.statut %>,
      <%= _("open since %s") % distance_of_time_in_words_to_now(request.created_on) %><br/><br/>
      <ul id="<%= d_id %>" style="list-style: none; display: none;">

        <% d.comments.each do |com| %>
          <li>
            <% com_user = com.user  %>
            <% if com_user and com_user.client? and com_user.recipient %>
              <%= logo_client(com_user.recipient.client, :small) %>
            <% else %>
              <%= StaticImage::logo_08000_small %>
            <% end %> : <%= digest_text(com.corps, 120) %>
          </li>
        <% end %>

      </ul>
    </li>
  <% end %>

  </ul>
<% end %>
