<h1><%= _("Issues of this %s") % @period %></h1>

<% @result.each do |c| %>
  <% contract = c.contract %>
  <% c_id = "contract_#{contract.id}" %>
  <h2><%= toggle(c_id) %>&nbsp;<%= _("Contract : ") + contract.name %></h2>
  <ul id="<%= c_id %>" style="list-style: none; display: none;">

  <% c.issues.each do |d| %>
    <% issue = d.issue %>
    <% old_issue = d.issue_at %>
    <% d_id = "issue_#{issue.id}" %>
    <li>
      <h3><%= toggle(d_id) %>&nbsp;<%= "##{issue.id} " + link_to_issue(issue) %></h3>
      <%= issue.typeissue %>
      <%= issue.severite %><%= " (#{old_issue.severite})" if old_issue.severite and old_issue.severite != issue.severite %>,
      <%= issue.statut %><%= " (#{old_issue.statut})" if old_issue.statut and old_issue.statut != issue.statut %>,
      <%= _("open since %s") % distance_of_time_in_words_to_now(issue.created_on) %><br/><br/>
      <ul id="<%= d_id %>" style="list-style: none; display: none;">

        <% d.comments.each do |com| %>
          <li>
            <% com_user = com.user  %>
            <% if com_user and com_user.client? and com_user.recipient %>
              <%= logo_client(com_user.recipient.client, :small) %>
            <% else %>
              <%= StaticImage::logo_service_small %>
            <% end %> : <%= digest_text(com.text, 120) %>
          </li>
        <% end %>

      </ul>
    </li>
  <% end %>

  </ul>
<% end %>
