<%# gap : espacement à l'affichage
  # break_here : saut de page à l'impression  %>
<% gap = '<p>&nbsp;</p>'*2 %>

<div class='report' >
<%= render :partial => 'header' %>

<h2 class="chapter"><%= _('Summary') %></h2>
<%= render :partial => 'summary' %>

<%# =indent @data.inspect.gsub(/, :/,"\n") %><br />
<%# =indent @colors.inspect.gsub(/, :/,"\n") %><br />
<%# =indent @data[:severity_total].sort{|x,y| x[0].to_s <=> y[0].to_s}.inspect.gsub(/, :/,"\n") %><br />

<h2 class="chapter"><a name="introduction"><%=_('Introduction')%></a></h2>
<%= render :partial => 'introduction' %><%= gap %>
<p class="break_here"/>

<%# do NOT forget to update _summary if you change a title ! %>

<h1 class="chapter"><a name="distribution">1. <%=@titles[:distribution]%></a></h1>
<h2 class="chapter"><a name="by_type">1.1 <%= @titles[:by_type] %></a></h2>
 <%= report_distribution(:by_type, :separated => true, :with_table => true) %><%= gap %>
 <%= report_evolution(:by_type, :separated => true, :with2rows => _('Issues')) %><%= gap %>
<h2 class="chapter"><a name="by_severity">1.2 <%= @titles[:by_severity] %></a></h2>
 <%= report_distribution(:by_severity, :separated => true, :with_table => true) %><%= gap %>
 <%= report_evolution(:by_severity, :separated => true, :with2rows => _('Issues')) %><%= gap %>
<h2 class="chapter"><a name="by_status">1.3 <%= @titles[:by_status] %></a></h2>
 <%= report_distribution(:by_status, :with_table => true, :without_firstcol => true) %><%= gap %>
 <%= report_evolution(:by_status, :with2rows => _('Issues')) %><%= gap %>
<h2 class="chapter"><a name="by_software">1.4 <%= @titles[:by_software] %></a></h2>
 <p><%=_('Software are selected over the duration of the deal')%>.</p>
 <%= report_distribution(:by_software, :with_table => true, :cut_table => true, :without_firstcol => true) %><%= gap %>
 <%= report_evolution(:by_software, :with2rows => _('Issues'), :only_graph => true) %><%= gap %>
<p class="break_here"/>


<h1 class="chapter"><a name="rocessing_time">2. <%= @titles[:processing_time] %></a></h1>
<h2 class="chapter"><a name="callback_time">2.1 <%= @titles[:callback_time] %></a></h2>
 <%= report_distribution(:callback_time) %><%= gap %>
 <%= report_evolution(:callback_time, :with2rows => _('Issues'), :without_graph => true) %><%= gap %>
<h2 class="chapter"><a name="workaround_time">2.2 <%= @titles[:workaround_time] %></a></h2>
 <%= report_distribution(:workaround_time) %><%= gap %>
 <%= report_evolution(:workaround_time, :with2rows => _('Issues'), :without_graph => true) %><%= gap %>
<h2 class="chapter"><a name="correction_time">2.3 <%= @titles[:correction_time] %></a></h2>
 <%= report_distribution(:correction_time) %><%= gap %>
 <%= report_evolution(:correction_time, :with2rows => _('Issues'), :without_graph => true) %><%= gap %>
<p class="break_here"/>

</div><!-- end of report -->
