<div class="content" id="content">
  <h1><%= _('Weekly activity from ') %>
    <span class="date"><%= @date[:first_day].strftime("%A %d %B %Y") %></span> <%= _('to') %>
    <span class="date"><%= @date[:end_day].strftime("%A %d %B %Y") %></span></h1>
  <br />
  <h2>I. <%=@issues_created.size%>
    <%=n_('issue created', 'issues created', @issues_created.size)%></h2>
  <%= display_weekly_issues(@issues_created) %>
  <h2>II. <%=@issues_closed.size%>
    <%=n_('issue closed', 'issues closed', @issues_closed.size)%></h2>
  <%= display_weekly_issues(@issues_closed) %>
  <h2>III. <%=@issues_cancelled.size%>
    <%=n_('issue cancelled', 'issues cancelled', @issues_cancelled.size)%></h2>
  <%= display_weekly_issues(@issues_cancelled) %>
  </ol>
</div>
