<h1><%= t(:Edit) %></h1>

<% form_tag issuetype_path(@issuetype), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t(:Validate) %>
<% end %>

<%= link_to t(:Index), issuetype_path(@issuetype) %> |
<%= link_to_back %>
