<%= public_link_to _('Homepage') , welcome_path %> >
 <%= link_to _('Contracts') , contracts_path %> >
  <%= @issuetype.name %>
<div class="show">
  <h1><%= _("Workflow of %s") % @issuetype.name%></h1>
  <p><%= "#{_('Workflows')} #{link_to_new_workflow(@issuetype.id)}" %></p>
  <%= show_list(@issuetype.workflows, '', :no_title => true, :edit => 'workflow') do |w|
        w.name
      end %>
</div>
  <%= link_to_edit_and_list @issuetype %>
