<% paquet = @binaire.paquet %>
<% logiciel = paquet.logiciel %>
<%= public_link_to _('Home'), bienvenue_path%> >
 <%= public_link_to _('Softwares'), logiciels_path %> >
  <%= public_link_to logiciel.groupe.name, logiciel_path(logiciel.groupe_id) %> >
   <%= public_link_to_logiciel logiciel %> >
    <%= link_to_paquet(paquet) %> >
     <%=h @binaire.name %> <%= link_to_edit(@binaire) %>

<h2><%=_('Binary package')%></h2>
<div class="show">
 <p><b><%=_('Software')%>:</b> <%= logiciel.name %></p>
 <p><b><%=_('Contract')%>:</b> <%= paquet.contract.client.name %></p>
 <p><b><%=_('System')%>:</b> <%= @binaire.socle.name if @binaire.socle %></p>
 <p><b><%=_('Arch')%>:</b> <%= @binaire.arch.name if @binaire.arch %></p>
 <p><b><%=_('Source')%>:</b> <%= link_to_paquet(@binaire.paquet) %></p>
 <p><b><%=_('Name')%>:</b> <%= @binaire.name %></p>
 <p><b><%=_('Version')%>:</b> <%= paquet.version %></p>
<% unless paquet.release.blank? %>
 <p><b><%=_('Release')%>:</b> <%= paquet.release %></p>
<% end %>
</div>

<% if @binaire.archive and File.exist? @binaire.archive %>
<br />
<p><b><%=_('This package can be downloaded')%> : </b><%= link_to_file(@binaire, 'archive') %></p>
<% end %>


<p>&nbsp;</p>

<%= link_to_edit_and_list(@binaire) %>
