<%= error_messages_for 'picture' %>

<p><label for="image_image"><%= _("Picture") %></label><br />
<%= file_column_field 'picture', 'image'  %></p>

<p><label for="image_description"><%= _("Description") %></label><br />
<%= text_field 'picture', 'description'  %></p>
