<%= error_messages_for 'picture' %>

<p><label for="image_image"><%= t("Picture") %></label><br />
<%= file_column_field 'picture', 'image'  %></p>

<p><label for="image_description"><%= t("Description") %></label><br />
<%= text_field 'picture', 'description'  %></p>
