<%= error_messages_for 'role' %>

<p><label for="role_name"><%= t('Name') %></label><br />
<%= text_field 'role', 'name' %></p>

<p><label for="role_info"><%= t('Short description') %></label><br />
<%= text_field 'role', 'info' %></p>

<p><label for="role_permission"><%= t('Permissions') %></label><br />
  <%= hbtm_check_box(@role.permissions, @permissions, 'role[permission_ids]', :size => 4) %>
</p>
