<h1><%= _('Roles list') %></h1>
<small>[<%= link_to _('and associated permissions'), permissions_path %>]</small>

<% titres = [ _('Rule'), _('Description') ]
  titres.concat(@roles.collect{|r| link_to(r.name, edit_role_path(r))})
%>
<%= show_table(@permissions, Permission, titres) { |p|
  result = ''
  result << "<td>#{link_to p.name, edit_permission_path(p) }</td>"
  result << "<td>#{p.info}</td>"
  @roles.each { |r|
    if p.roles.include? r
      result << "<td>X</td>"
    else
      result << "<td></td>"
    end
  }
  result << "#{link_to_actions_table p}"
  result
}%>

<%= link_to _('Permission list'), permissions_path %> |
<%= link_to _('Add a permission'), new_permission_path %>

<p>&nbsp;</p>

<%= link_to _('Add a role'), new_role_path %> <br />
