<h1><%= t(:Index) %></h1>
<small>[<%= link_to t(:associated_permissions), permissions_path %>]</small>

<% titles = [ t(:Name), t(:Description) ] %>
<%= show_table(@roles, Role, titles) { |r|
  result = ''
  result << "<td>#{r.name}</td>"
  result << "<td>#{r.info}</td>"
  result << "#{link_to_actions_table r}"
  result
}%>

<%= link_to t(:'permissions.Index'), permissions_path %> |
<%= link_to t(:'permissions.New'), new_permission_path %>

<p>&nbsp;</p>

<%= link_to t(:'New'), new_role_path %> <br />
