<% release = @archive.release %>
<% version = release.version %>
<% logiciel = release.logiciel %>
<%= public_link_to _('Home'), welcome_path %> >
 <%= public_link_to _('Software'), logiciels_path %> >
  <%= public_link_to logiciel.groupe.name, logiciel_path(logiciel.groupe_id) %> >
   <%= public_link_to logiciel, logiciel_path(logiciel) %> >
    <%= link_to version, version_path(version) %> >
     <%= link_to_release(release) %> >
      <%= @archive.name %> <%= link_to_edit(@archive) %>

<h2><%=_('Archive')%></h2>
<div class="show">
 <p><b><%=_('Name')%>:</b> <%= link_to_file(@archive, 'file') %></p>
 <p><b><%=_('Size')%>:</b> <%= size_in_megabytes(@archive.size) %></p>
 <p><b><%=_('Release')%>:</b> <%= link_to_release(@archive.release) %></p>
</div>
 
<p>&nbsp;</p>

<%= link_to_edit_and_list(@archive) %>
