<% release = @archive.release %>
<% version = release.version %>
<% software = release.software %>
<%= public_link_to _('Home'), welcome_path %> >
 <%= public_link_to _('Software'), softwares_path %> >
  <%= public_link_to software.groupe.name, software_path(software.groupe_id) %> >
   <%= public_link_to software, software_path(software) %> >
    <%= link_to version, version_path(version) %> >
     <%= link_to_release(release) %> >
      <%= @archive.name %> <%= link_to_edit(@archive) %>

<h2><%=_('Archive')%></h2>
<div class="show">
 <p><b><%=_('Name')%>:</b> <%= link_to_file(@archive, 'file') %></p>
 <p><b><%=_('Size')%>:</b> <%= number_to_human_size(@archive.size) %></p>
 <p><b><%=_('Release')%>:</b> <%= link_to_release(@archive.release) %></p>
</div>

<br/>

<%= link_to_edit_and_list(@archive) %>
