<table class="sommaire"><tr><td>
 <div class="sommaire show">
  <h3><%=_('Help')%></h3>
  <p>
    <%
    joins = 'INNER JOIN contracts_teams ct ON ct.team_id=teams.id'
    conditions = [ 'ct.contract_id = ?', 26 ]
    teams = Team.find(:all, :conditions => conditions, :joins => joins)
      %>
    <select id="commentaire_ingenieur_id" name="commentaire[ingenieur_id]"><option value="">» </option>
       <%= option_groups_from_collection_for_select(teams, :engineers_collection_select, :name, :id, :name) %>
       <%= options_from_collection_for_select(Ingenieur.find(:all), :id, :name) %>
    </select>
  </p>

  <% links = [ public_link_to_help_new_request,
               public_link_to_howto_request,
               public_link_to_help_request_status ] %>
  <%= show_list(links) %>
  <p><%=_("Don't hesitate to")%>
    <%=mail_to('contact@08000linux.com',_('contact us'))%>
    <%=_("if needed")%>.</p>
 </div>

 <div class="sommaire show">
  <h1><%= _('About')%> <%=App::Name%> v<%=App::Version%></h1>

  <p><%= _('This application was created by <b>Michel Loiseleur</b> at ')%>
      <a href="http://www.linagora.com">Linagora</a>.</p>
      <p><%= _('This journey would not have been possible whithout
      the <b>contributors</b> who have taken part to this project,
      without the testers who have contributed to it quality and
      without quite a few <b>free softwares</b> which have enable the
      development to be fast and agile. They are all thanks here
      warmly. %s would be nothing without them.') % App::Name %></p>
 </div>
 <div class="sommaire show">
   <h2><%= _('Contributors')%></h2>
  <ul>
    <li>Adrien Grellier</li>
    <li>Guillaume Dufloux</li>
    <li>Jonathan Clarke</li>
    <li>Julien Heyman</li>
    <li>Munteanu Olimpiu Andrei</li>
    <li>Rémy-Christophe Schermesser</li>
    <li>Sébastien Bahloul</li>
  </ul>
 </div></td>
 <td><div class="sommaire show">
     <h2><%= _('Testers') %></h2>
  <ul>
    <li>Richard Samson</li>
    <li>Philippe Brière</li>
    <li>Mehdi Rande</li>
  </ul>
 </div><div class="sommaire show">
  <h2><%= _('Free software used by %s') % App::Name %></h2>
  <ul>
    <li><a href="http://www.ruby-lang.org">Ruby</a>
      <ul>
        <li><a href="http://www.yotabanana.com/hiki/ruby-gettext.html">Ruby-GetText (LGPL)</a></li>
        <li><a href="http://fastercsv.rubyforge.org">FasterCSV (GPLv2)</a></li>
        <li><a href="http://mongrel.rubyforge.org/">Mongrel (GPLv2)</a></li>
      </ul>
    </li>
    <li><a href="http://www.rubyonrails.org">Ruby on Rails (MIT)</a>
      <ul>
        <li><a href="http://www.kanthak.net/opensource/file_column">FileColumn (MIT)</a></li>
        <li><a href="http://nubyonrails.com/pages/gruff">Gruff (MIT)</a></li>
        <li><a href="http://wiki.rubyonrails.org/rails/pages/HowToUseTinyMCE">TinyMCE (LGPL)</a></li>
        <li><a href="http://www.craigambrose.com/projects/redbox">RedBox (MIT)</a></li>
        <li><a href="http://gettextlocalize.rubyforge.org/">GetText-Localize (MIT)</a></li>
        <li><a href="http://ultraviolet.rubyforge.org/index.xhtml">UltraViolet (MIT)</a></li>
        <li><a href="http://john.guen.in/rdoc/x_send_file/">XSendFile (MIT)</a></li>
        <li><a href="http://plugins.require.errtheblog.com/browser/classic_pagination">Classic Pagination (MIT)</a></li>
        <li><a href="http://form-test-helper.googlecode.com/svn/form_test_helper/">Form Test Helper (MIT)</a></li>
      </ul>
    </li>
    <li><a href="http://www.mysql.com">MySQL (GPL)</a></li>
    <li><a href="http://httpd.apache.org/">Apache (APL)</a></li>
  </ul>
 </div></td>
</tr></table>
