<% create_account = (controller.action_name == 'signup' ||
				     controller.action_name == 'ajax_place') %>

<% if @user_recipient and not session[:user].recipient %>
  <h1><b><%= _('Recipient') %></b></h1><br />

  <p><label for="recipient_client">Client</label>
    <%= select(:user_recipient, :client_id, @clients) %>
  </p>
  <hr />

  <div id="contracts"><%= _('Contracts')%><br />
    <%= hbtm_check_box( @user.own_contracts, @contracts, 'user[own_contract_ids]', :size => 2) %>
  </div>

  <%= observe_client_field if create_account %>
  <%= observe_client_list %>
<% end %>
