<% create_account = (controller.action_name == 'signup' ||
				     controller.action_name == 'ajax_place') %>
<% if @user.engineer? %>
<div class="show">
  <h1><b><%= _('Engineer') %></b></h1>

  <p><h3><%= _('Knowledges') %> <%= link_to_new_knowledge %> : </h3></p>
  <% unless @user.knowledges.empty? %>
     <% options = {:edit => 'knowledge', :no_title => true} %>
     <%= show_list(@user.knowledges, '', options) do |k|
        link_to_knowledge k
      end %>
  <hr />
  <% end %>

  <p><h3><%= _('Subscriptions :') %></h3></p>
  <% unless @user.contracts_subscribed.empty? %>
    <%= show_list(@user.contracts_subscribed, 'contract') { |c| link_to_contract c } %>
  <% end %>
  <% unless @user.softwares_subscribed.empty? %>
    <%= show_list(@user.softwares_subscribed, 'software') { |s| link_to_softwares s } %>
  <% end %>
  <hr/>

  <% unless @contracts.empty? %>
   <p><h3><%= _('Contracts :')%></h3></p>
   <div id="contracts" class="long_bloc_scroll">
    <%# We display only the contracts of the user %>
    <%= hbtm_check_box( @user.own_contracts,
                        @contracts,
                        'user[own_contract_ids]', :size => 1) %>
   </div>
  <% end %>

  <% if @user.team %>
  <p><h3><%= _('Contracts of the Team :') %></h3></p>
  <div id="team_contracts" class="long_bloc_scroll">
    <%= show_list(@user.team.contracts, '') do |c|
           link_to c.name, contract_path(c)
        end %>
  </div>
  <hr/>
  <% end %>

  <%= observe_client_field if create_account %>
  <%= observe_client_list %>
</div>
<% end %>