<% create_account = (controller.action_name == 'signup' ||
				     controller.action_name == 'ajax_place') %>

<% if @user.recipient? %>
<div class="show">
  <h1><b><%= _('Recipient') %></b></h1><br />

  <p><label for="user_recipient_client_id">Client</label>
    <%= select(:user_recipient, :client_id, @clients) %>
  </p>
  <hr />

  <p><label><%= _('Contracts')%></label></p>
  <div id="contracts" class="bloc_scroll">
    <%# We display only the contracts of the user %>
    <%= hbtm_check_box( @user.own_contracts, @contracts, 'user[own_contract_ids]', :size => 1) %>
  </div>

  <%= observe_client_field if create_account %>
  <%= observe_client_list %>
</div>
<% end %>