<% create_account = (controller.action_name == 'signup' ||
				     controller.action_name == 'ajax_place') %>

<% if @user_engineer %>

  <h1><b><%= _('Engineer') %></b></h1><br />

  <p><label for="ingenieur_chef_de_projet"><%= _('Project manager') + ' ?'%></label>
  <%= check_box 'user_engineer', 'chef_de_projet' %></p>

  <p><label for="ingenieur_expert_ossa"><%= _('OSSA expert') + ' ?'%></label>
  <%= check_box 'user_engineer', 'expert_ossa' %></p>

  <p><b><%= _('Knowledges') %> <%= link_to_new_knowledge %> : </b></p>
  <% unless @user_engineer.knowledges.empty? %>
     <% options = {:edit => 'knowledge', :no_title => true} %>
     <%= show_liste(@user_engineer.knowledges, '', options) do |k|
        link_to_knowledge k
      end %>
  <hr />
  <% end %>
  
  <p><label><%= _('Contracts')%></label></p>
  <div id="contracts" class="long_bloc_scroll">
    <% # We display only the contracts of the user %>
    <%= hbtm_check_box( @user.own_contracts, @contrats, 'user[own_contract_ids]', :size => 1) %>
  </div>
  
  <p><label><%= _('Contracts of the Team') %></label></p>
  <div id="team_contracts" class="long_bloc_scroll">
    <%= show_liste(@user.team.contrats, '', :public => true) do |c|
           link_to c.name, contrat_path(c)
        end if @user.team %>
  </div>
  <hr/>
  
  <%= observe_client_field if create_account %>
  <%= observe_client_list %>
<% end %>
