
<% if @user_engineer %>

  <h1><b><%= _('Engineer') %></b></h1><br />

  <p><label for="ingenieur_chef_de_projet"><%= _('Project manager') + ' ?'%></label>
  <%= check_box 'ingenieur', 'chef_de_projet' %></p>

  <p><label for="ingenieur_expert_ossa"><%= _('OSSA expert') + ' ?'%></label>
  <%= check_box 'ingenieur', 'expert_ossa' %></p>

  <% unless @user_engineer.knowledges.empty? %>
  <hr />
     <% options = {:title => true, :edit => 'knowledge'} %>
     <%= show_liste(@user_engineer.knowledges, _('Knowledges'), options) do |k|
        link_to_knowledge k
      end %>
  <hr />
  <% end %>

  <table width="100%" border="0"><tr>
    <td><label for="user_contrats"><%= _('Contracts')%></label></td>
    <td style="text-align: right;">
       (<%= _('only') %>
      <%= select(:user_recipient, :client_id, @clients) %>
        <%= _('contracts') %>)
    </td>
  </tr></table>
  <hr />
   <div id="contracts" class="long_bloc_scroll">
     <%= hbtm_check_box( @user.contrats, @contrats, 'user[contrat_ids]', :size => 1) %>
   </div>
  <%= observe_client_field %>
  <%= observe_client_list %>
<% end %>
