<% create_account = (controller.action_name == 'signup' ||
				     controller.action_name == 'ajax_place') %>

<% if @user_engineer %>
<div class="show">
  <h1><b><%= _('Engineer') %></b></h1><br />

  <p><b><%= _('Knowledges') %> <%= link_to_new_knowledge %> : </b></p>
  <% unless @user_engineer.knowledges.empty? %>
     <% options = {:edit => 'knowledge', :no_title => true} %>
     <%= show_list(@user_engineer.knowledges, '', options) do |k|
        link_to_knowledge k
      end %>
  <hr />
  <% end %>

  <% unless @contracts.empty? %>
   <p><label><%= _('Contracts')%></label></p>
   <div id="contracts" class="long_bloc_scroll">
    <%# We display only the contracts of the user %>
    <%= hbtm_check_box( @user.own_contracts,
                        @contracts,
                        'user[own_contract_ids]', :size => 1) %>
   </div>
  <% end %>

  <% if @user.team %>
  <p><label><%= _('Contracts of the Team') %></label></p>
  <div id="team_contracts" class="long_bloc_scroll">
    <%= show_list(@user.team.contracts, '') do |c|
           link_to c.name, contract_path(c)
        end %>
  </div>
  <hr/>
  <% end %>

  <%= observe_client_field if create_account %>
  <%= observe_client_list %>
</div>
<% end %>
