<div class="show">
<table class="show">
  <tr>
    <td colspan="2"><%= avatar(@user_recipient, @user_engineer) %></td>
  </tr><tr>
    <th><%= _('User|Login') %></th>
    <td><%= @user.login %></td>
  </tr><tr>
    <th><%= _('User|Title') %></th>
    <td><%= @user.title %></td>
  </tr><tr>
    <th><%= _('User|Name') %></th>
    <td><%= @user.name %></td>
  </tr><tr>
    <th><%= _('User|Email') %></th>
    <td><%= @user.email %></td>
  </tr><tr>
    <th><%= _('User|Phone') %></th>
    <td><%= @user.phone %></td>
  </tr>
  <% if @user.team %>  
  <tr>
    <th><%= _('User|Team') %></th>
    <td><%= @user.team.name %></td>
  </tr>
  <% end %>
  <% if @user.team_manager? %>
  <tr>
    <th><%= _('Manager of the team') %></th>
    <td><%= @user.team.name %></td>
  </tr>
  <% end %>
  <tr>
    <th><%= _('User|Role') %></th>
    <td><%= @user.role.name %></td>
  </tr>
  <% unless @user.informations.blank? %>
    <tr><td colspan="2"><fieldset>
      <legend><%=_('User|Informations')%></legend><%= @user.informations %>
    </fieldset></td></tr>
  <% end %>
</table>
</div>

<div class="show">
<table class="show">
  <tr>
    <td colspan="2"><h2><%= _("Preferences") %></h2></td>
  </tr>
  <tr>
    <th><%= _("Daily Digest") %></th>
    <td><%= "X" if @user.prefers_digest_daily? %></td>
  </tr>
  <tr>
    <th><%= _("Weekly Digest") %></th>
    <td><%= "X" if @user.prefers_digest_weekly? %></td>
  </tr>
  <tr>
    <th><%= _("Monthly Digest") %></th>
    <td><%= "X" if @user.prefers_digest_monthly? %></td>
  </tr>
</table>
</div>