<% if @user_engineer %>

<div title="<%= _("Show an account") %>" class="show">
  <h1><b><%= _('Engineer') %></b></h1><br />

  <% for column in Ingenieur.content_columns %>
   <p><b><%= column.human_name %>:</b> <%= @user_engineer.send(column.name) %>
   </p>
  <% end %>

  <p><b><%= _('Knowledges') %> <%= link_to_new_knowledge %> : </b>
  <% unless @user_engineer.knowledges.empty? %>
     <% options = {:edit => 'knowledge', :no_title => true } %>
     <%= show_list(@user_engineer.knowledges, '', options) do |k|
        link_to_knowledge k
      end %>
  <% end %>
  </p>

  <p><b><%= _('Contracts') %>:</b></p>
  <ul>
    <% @user.contracts.each do |c| %>
      <li><%= c.name %></li>
    <% end %>
  </ul>

</div>

<% end %>
