<% options = { :update => 'col1_content', :url => accounts_path, :method => :get,
  :before => "Element.show('spinner')",:success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

<% manager = (session[:user].role_id <= 2) %>
<% if manager %>
 <div class="menu_title" onclick="Element.toggle('menu_action')">
  > <%= _('Action') %></div>
 <ul id="menu_action">
  <li><%= link_to _('Add a user'), signup_new_account_path %></li>
  <%# deactivated TODO : <li><%= link_to _('Add several users'), multiple_signup_new_account_path </li> %>
  <% User::actions.each do |a| %>
    <li><%= send(a) %></li>
  <% end %>
</ul>
<% end %>

<div class="menu_title" onclick="Element.toggle('menu_search')">
  > <%= _('Search ')%></div>
<ul id="menu_search">
 <li><b><%= _('Name')%></b><br />
     <%= text_field :filters, :name %></li>
 <% if manager %>
  <li><b><%= _('Customer ')%></b><br />
      <%=select_filter(@clients, 'client')%></li>
  <li><b><%= _('Roles ')%> </b><br />
      <%=select_filter(@roles, 'role')%></li>
 <% end %>
</ul>

<% if manager %>
<div class="menu_title" onclick="Element.toggle('menu_perimeter')">
  > <%=_('Perimeter')%></div>
<ul id="menu_perimeter">
  <li><b><%= _('Logins: ')%> </b><%=@count[:users]%></li>
  <li><b><%= _('Recipients: ')%></b><%=@count[:recipients]%></li>
  <li><b><%= _('Engineers: ')%></b><%=@count[:ingenieurs]%></li>
  <li><b><%= _('Inconsistencies: ')%></b><%=(@count[:users] -
    (@count[:recipients] + @count[:ingenieurs])).to_s %></li>
</ul>
<% end %>

<% end %>

<%= observe_form 'filters', options %>
