<%= error_messages_for 'user' %><br />

<h1><%= _('Modify %s') % get_title %><%= StaticPicture::spinner %></h1>
<% form_tag(account_path(@user), :method => :put, :id => 'main_form') do %>
  <%= render :partial => "form" %>
  <%= submit_tag _('Validate') %>
<% end %>

<br />
<%= link_to_back %>
