<% form_tag login_accounts_path do %>
 <table class="show">
  <tr>
    <td colspan="2"><h1><%= _('%s login') % App::InternetAddress %></h1></td>
    <% if(defined?(show_close_icon) and show_close_icon) %>
      <td><%= link_to_close_redbox(StaticImage::hide_notice) %></td>
    <% end %>
  </tr><tr>
    <td><label for="user_login"><%= _('Login')%> :</label></td>
    <td><input type="text" name="user_login" id="user_login" size="16" value="" /></td>
  </tr><tr>
    <td><label for="user_password"><%= _('Password')%> :</label></td>
    <td><input type="password" name="user_password" id="user_password" size="16"/>
        <input type="hidden" name="user_crypt" id="user_crypt" size="24" value="false"/></td>
  </tr><tr>
    <td colspan="2"><div style="text-align: right">
        <input type="submit" name="login" value="<%=_('Validate')%> &#187;"/>
    </div></td>
  </tr>
 </table>
<% end %>
<% # used to indent this link properly when this view is put in the red box %>
&nbsp;&nbsp;&nbsp;<%= public_link_to_forgotten_pwd %>
