<%= error_messages_for 'credit' %>

<p><label for="credit_name"><%=t('Credit|Name')%></label><br/>
<%= text_field 'credit', 'name'  %></p>

<p><label for="credit_max"><%=t('Maximum number of time credits')%></label><br/>
<%= text_field 'credit', 'max'  %></p>

<p><label for="credit_time"><%= t('Time of one credit, expressed in hours')%></label><br/>
<%= text_field 'credit', 'time'  %></p>
