<% options = { :update => 'col1_content', :method => :get,
    :url => knowledges_path,
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" } %>

<% form_remote_tag( options.dup.update(:html => {
    :id => 'filters', :name => 'filters'})) do %>

<%# used for iteration in ajaxified list %>
<%= hidden_field_tag 'page', '1' %>

 <div class="menu_title" onclick="Element.toggle('menu_consultation')">
 > <%= t('Consultation') %></div>
 <ul class="menu" id="menu_consultation">
  <li><%= link_to t('Add a knowledge'), new_knowledge_path %></li>
 </ul>

<div class="menu_title" onclick="Element.toggle('menu_recherche')">
> <%= t('Search') %></div>
<ul class="menu" id="menu_recherche">
  <li><b><%= t('By name') %> </b><br />
      <%= select_filter(@experts, 'engineer') %></li>
  <li><b><%= t('By software') %> </b><br />
      <%= select_filter(@software, 'software') %></li>
  <li><b><%= t('By technology') %> </b><br />
      <%= select_filter(@skills, 'skill') %></li>
</ul>

<% end %>
<%= observe_form 'filters', options %>
