<table class="show">
 <tr>
  <th><%= _('Expert') %>:</th>
  <td><%= @knowledge.engineer.name %></td>
 </tr><tr>
  <th><%= _('Level') %>:</th>
  <td><%= @knowledge.level %></td>
 </tr><tr>
  <th><%= _('Knowledge') %>:</th>
  <td><%= @knowledge.name %></td>
 </tr>
</table>

<%= link_to_edit_and_list(@knowledge) %>
