<table class="show">
 <tr>
  <th><%= t('Expert') %>:</th>
  <td><%= @knowledge.engineer.name %></td>
 </tr><tr>
  <th><%= t('Level') %>:</th>
  <td><%= @knowledge.level %></td>
 </tr><tr>
  <th><%= t('Knowledge') %>:</th>
  <td><%= @knowledge.name %></td>
 </tr>
</table>

<%= link_to_edit_and_list(@knowledge) %>
