<%= error_messages_for 'release' %>

<p><label for="release_version"><%=  _('Version') %></label><br />
  <%= select(:release, :version_id, @versions) %>
</p>

<p><label for="release_release"><%=_('Release')%></label><br />
  <%= text_field :release, :name %>
</p>

<p><label for="release_contract"><%= _('Contract') %></label><br/>
  <%= select(:release, :contract_id, @contracts) %>
</p>

<p><label for="release_packaged"><%= _("Is this release packaged ?") %></label>
  <%= check_box :release, :packaged %>
</p>

<p><label for="release_inactive"><%= _("Is this release inactive ?") %></label>
  <%= check_box :release, :inactive %>
</p>
