<%= error_messages_for 'release' %>

<p><label for="release_version"><%=  t('Version') %></label><br />
  <%= select(:release, :version_id, @versions) %>
</p>

<p><label for="release_release"><%=t('Release')%></label><br />
  <%= text_field :release, :name %>
</p>

<p><label for="release_contract"><%= t('Contract') %></label><br/>
  <%= select(:release, :contract_id, @contracts) %>
</p>

<p><label for="release_packaged"><%= t("Packaged") %> ?</label>
  <%= check_box :release, :packaged %>
</p>

<p><label for="release_inactive"><%= t("Inactive") %> ?</label>
  <%= check_box :release, :inactive %>
</p>
