<% version = @release.version %>
<% logiciel = @release.logiciel %>
<%= public_link_to _('Home'), welcome_path %> >
 <%= public_link_to _('Software'), logiciels_path %> >
  <%= public_link_to logiciel.groupe.name, logiciel_path(logiciel.groupe_id) %> >
   <%= public_link_to logiciel.name, logiciel_path(logiciel) %> >
    <%= link_to version.version, version_path(version) %> >
      <%= h @release.release %> <%= link_to_edit(@release) %>

<h2><%=_('Release')%></h2>
<div class="show">
 <p><b><%=_('Software')%>:</b> <%= public_link_to logiciel.name, logiciel_path(logiciel) %></p>
 <p><b><%=_('Contract')%>:</b> <%= link_to @release.contract.client.name, contract_path(@release.contract) %></p>
 <p><b><%=_('Version')%>:</b> <%= link_to version.version, version_path(version) %></p>
 <p><b><%=_('Packaged ?')%>:</b> <%= _('Yes') if @release.packaged? %></p>
 <p><b><%=_('Inactive ?')%>:</b> <%= _('Yes') unless @release.inactive? %></p>
 
 <% if @release.changelog %>
 <fieldset>
   <legend><%=_('Changelog') %></legend>
   <p><%= @release.changelog %></p>
 </fieldset>
 <% end %>  
</div>

<p>&nbsp;</p>

<%= link_to_edit_and_list(@release) %>
