<h1><%= _('System list')%></h1>

<%= show_pages_links(@socle_pages, _('a customer system') ) %>

<% titres = [_('System'), _('Computer'), _('Virtual'), _('Customers')]%>
<%= show_table(@socles, Socle, titres) { |m|
  result = ''
  result << "<td>#{link_to_socle(m)}</td>"
  result << "<td>#{m.machine.to_s if m.machine}</td>"
  result << "<td>#{'VM' if m.machine and m.machine.virtuelle}</td>"
  result << '<td>'
  m.clients.each { |c| result << "#{link_to_client(c)}<br />" }
  result << '</td>'
  result << "#{link_to_actions_table m}"
}%>

<%= show_pages_links(@socle_pages, _('a customer system') ) %>
<%= [ link_to( _('computer'), machines_path),
      link_to( _('customers'), clients_path)
    ].compact.join('|') %>
