<% for column in Socle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @socle.send(column.name) %>
</p>
<% end %>

<% if @session_user.engineer? %>
<p>
<b><%= _('Computer :')%></b> <%= link_to_machine(@socle.machine) %>
</p>
<% end %>


<%= link_to_edit_and_list(@socle) %>


