<table>
  <tr>
    <th></th>
    <th><%= _("Name") %></th>
    <th><%= _("Version") %></th>
    <th><%= _("Workarounded on") %></th>
    <th><%= _("Corrected on") %></th>
    <th></th>
    <th><%= _("Binary") %></th>
  </tr>
  <% old_version = nil %>
  <% @binaires.each do |b| %>
    <tr>
      <% if old_version == b.version %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% else %>
        <td><%= check_box_tag('demande[version_ids][]', b.version.id,
                  (@demande.versions.include? b.version)) %></td>
        <td><%= b.version.name %></td>
        <td><%= "#{b.version.version}-#{b.version.release}" %></td>
        <td><%= Time.in_words(b.version.contournement(@demande.typedemande_id, @demande.severite_id).days, true) %></td>
        <td><%= Time.in_words(b.version.correction(@demande.typedemande_id, @demande.severite_id).days, true) %></td>
      <% end %>
      <td><%= check_box_tag('demande[binaire_ids][]', b.id,
                (@demande.binaires.include? b)) %></td>
      <td><%= b.name %></td>
    </tr>
    <% old_version = b.version %>
  <% end %>
</table>
