<% client = @demande.client %>

<p><label><%= _("Recipient :") %></label>
<% if client %>
<%= select('demande', 'recipient_id',
      client.recipients.collect{|l| [ l.name, l.id]}) %>
<% #collection_select(:demande, :recipient_id, client, :id, :name, PROMPT_SELECT) %></p>
<% end %>

<p><label><%= _("Engineer :") %></label>
<% if client %>
<%= select('demande', 'ingenieur_id',
        client.ingenieurs.collect{|l| [ l.name, l.id]},
        :include_blank => true) %>
<% #collection_select(:demande, :ingenieur_id, client, :id, :name, PROMPT_SELECT) %></p>
<% end %>

<p><label><%= _("Request type :") %></label>
<% if client %>
<%= select('demande', 'typedemande_id',
        client.typedemandes.collect{|l| [ l.name, l.id]}) %></p>
<% end %>

<p><label><%= _("Severity :") %></label>
<% if client %>
<%= select('demande', 'severite_id',
        client.severites.collect{|l| [ l.name, l.id]}) %></p>
<% end %>

<p><label><%= _("Base :") %></label>
<% if client %>
<%= select('demande', 'socle_id',
        client.socles.collect{|l| [ l.name, l.id]}) %></p>
<% end %>

<p><label><%= _("Software :") %></label>
<% if client %>
<%= select('demande', 'logiciel_id',
        client.logiciels.collect{|l| [ l.name, l.id]}) %></p>
<% end %>
