<%= error_messages_for 'demande' %>

<% # hidden_on_create : à placer si on veut cacher un élément %>
<% new_request = case controller.action_name
     when 'new', 'create' : true
     else false
   end %>
<table>
 <tr>
  <td valign="top"><div class="show">
   <table>
    <tr>
     <th><label for="demande_typedemande_id"><%= _("Type") %></label></th>
     <td><%= select(:demande, :typedemande_id, @typedemandes) %>
         <% if new_request %>
           <%= select(:demande, :severite_id, @severites) %>
         <% end %></td>
    </tr><tr>
    <% if @contrats.size > 1 %>
     <th><label for="demande_contrat_id"><%= _("Concerning ") %></label></th>
     <td><%= select(:demande, :contrat_id, @contrats) %>
         <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with => "contrat_id",
             :url => ajax_display_contract_demandes_path) %>
         <%= observe_field "demande_contrat_id", options %>
         </td>
    <% end %>
    </tr><tr>
     <th><label for="demande_beneficiaire_id"><%= _("Recipient") %></label></th>
     <% # Warning, the code of this cell is also in ajax_display_contract.rjs %>
     <td><div id="recipient"><%= select(:demande, :beneficiaire_id, @beneficiaires) %></div></td>
    </tr>
    <% if @ingenieur %>
     <tr><th><label for="demande_ingenieur_id"><%=_("Assigned to")%></label></th>
     <td><div id="engineer"><%= select_empty(:demande, :ingenieur_id, @ingenieurs) %></div></td></tr>
    <% end %>
    <tr>
     <td colspan="2"><hr /></td>
    </tr><tr>
     <th><label for="demande_socle_id"><%= _("System") %></label></th>
     <% # Warning, the code of this cell is also in ajax_display_contract.rjs %>
     <td><div id="system"><%= select(:demande, :socle_id, @socles) %></div></td>
    </tr><tr>
     <th><label for="demande_logiciel_id"><%= _("Software") %></label></th>
     <td><%= render(:partial => 'logiciel') %></td>
    </tr>
     <%= render :partial => 'version' %>
    <% if @ingenieur %>
     <tr>
      <td colspan="2"><hr /></td>
     </tr><tr>
      <th><label for="demande_mail_cc"><%= _("CC") %></label></th>
      <td><%= text_field :demande, :mail_cc, :size => 20 %></td>
     </tr>
     <% unless new_request %>
      <tr>
       <th><label for="demande_expected_on"><%= _("Demande|Expected on") %></label></th>
      <td>
       <%= text_field :demande, :expected_on, :size => 20 %>
       <span class="calendarPicker"><%= StaticScript::date_from %></span>
       <%= StaticScript::script_date('demande_expected_on', 'date_from') %>
      </td>
     </tr>
    <% end %>
    <% end %>
    <tr>
     <td colspan="2"><hr /></td>
    </tr><tr>
     <th><%= _("Commitments") %></th>
     <td><div id="commitment"><%= display_commitment(@demande)%></div></td>
    </tr>
   </table>
  </div></td><td valign="top" class="show">
   <table>
    <tr>
     <th><label for="demande_resume"><%= _("Summary") %></label></th>
     <td><%= text_field :demande, :resume, :size => 70, :maxlength => 70 %></td>
    </tr><tr>
     <td colspan="2"><fieldset style="width: 45em;">
      <legend><%=  _("Detailed description") %></legend>
      <%= text_area 'demande', 'description', :cols => 75, :rows =>17 %>
     </fieldset></td>
    </tr><tr>
    <% if new_request %>
     <th><label for="piecejointe_file"><%= _("Add a file") + " :" %></label></th>
     <td><%= file_column_field 'piecejointe', 'file', :size => 55 %></td>
    <% end %>
    </tr>
   </table>
  </td>
 </tr>
</table>


<% if @contrats.size > 1 %>
 <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with =>
     "Form.serializeElements($('demande_typedemande_id','demande_severite_id','demande_contrat_id'))",
     :url => ajax_display_commitment_demandes_path) %>
<% else %>
 <% options = PagesHelper::SPINNER_OPTIONS.dup.update(:with =>
     "Form.serializeElements($('demande_typedemande_id','demande_severite_id'))",
     :url => ajax_display_commitment_demandes_path) %>
<% end %>
<% %w(demande_typedemande_id demande_severite_id demande_contrat_id).each do |f| %>
  <%= observe_field f, options %>
<% end %>
