<% cache("#{@demande.id}/#{@ingenieur.nil?}/requests/info") do %>
<div class="menu_title" onclick="Element.toggle('menu_action')">
> <%= _('Action') %></div>
<ul class="menu" id="menu_action">
  <% if @ingenieur %>
    <li><%=link_to_new_contribution(@demande.logiciel_id,_('Add a contribution'))%></li>
    <li><%= _('Link to a contribution')%><br />
        <% form_tag associer_contribution_demande_path(@demande.id) do %>
      <%= select_onchange @contributions, 'demande', 'contribution_id' %>
    <% end %></li>
    <% if @demande.contribution %>
       <li><%= link_to_delete_contribution(@demande.id) %></li>
    <% end %>
    <li><%= link_to_add_call @demande.id %></li>
  <% end %>
  <li><%= link_to _("Print"), print_demande_path(@demande.id),
            :target => '_blank' %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_resume')">
> <%= _('Summary') %></div>
<ul class="menu" id="menu_resume">
  <% if @ingenieur and @demande.socle and @demande.socle.machine%>
     <li><b><%= _("Vm") %>: </b><%=h @demande.socle.machine %></li>
  <% end %>
  <li><b><%= _("System") %>: </b><%= link_to_socle @demande.socle %></li>
  <li><b><%= _("Software") %>: </b><%= public_link_to_logiciel @demande.logiciel %></li>
  <li><label for="demande_statut_id"><%=_("Status")%>: </label>
       <%= link_to_box_on_status(@demande) %> <%=help_on_status%></li>
  <li><b><%= _("Type")%>: </b><%= @demande.typedemande.name %></li>
  <li><label for="demande_severite_id"><%= _("Severity")%>: </label>
       <%= @demande.severite.name %> <%=help_on_severity%></li>
  <% unless @demande.mail_cc.blank? %>
     <li><b><%= _('CC') %>: </b><%= @demande.mail_cc.gsub(',', ',<br />') %></li>
  <% end %>
  <% if @demande.beneficiaire.user_id != @demande.submitter_id %>
    <li><b><%=_("Declared by")%>: </b><%= @demande.submitter.name %></li>
  <% end %>
  <% if @demande.ingenieur %>
    <li><label for="demande_ingenieur_id"><%=_("Assigned to")%>: </label>
         <%= @demande.ingenieur.name %> </li>
  <% end %>
</ul>

<div class="menu_title" onclick="Element.toggle('menu_beneficiaire')">
> <%= _('Recipent') %></div>
<% user = @demande.beneficiaire.user %>
<ul class="menu" id="menu_beneficiaire">
  <li><b><%= _("Contact") %>: </b><%= mail_to(user.email, user.name)%>
     <%= link_to_show(account_path(user)) if @ingenieur %></li>
  <li><b><%= _('Phone') %>: </b><%= user.phone %></li>
  <% client = @demande.beneficiaire.client %>
  <li><b><%= _('Company') %>: </b><%= link_to client.name, client_path(client) %></li>
</ul>

<div class="menu_title" onclick="Element.toggle('life_cycle_menu')" >
> <%=_("Life cycle") %></div>
<ul class="menu" id="life_cycle_menu">
  <li><b><%= _("Created on") %>: </b><%= @demande.created_on_formatted %></li>
  <li><b><%= _("Updated on") %>: </b><%= @demande.updated_on_formatted %></li>
  <% if @demande.elapsed %>
     <li><b><%= _("Time elapsed") %>: </b><%= @demande.elapsed_formatted %></li>
  <% end %>
  <% contribution = @demande.contribution %>
  <% if contribution %>
    <li><b><%= link_to_request_contribution(contribution) %>: </b><%= contribution.cloture_le_formatted %></li>
  <% end %>

</ul>

<div class="menu_title" onclick="Element.toggle('menu_aide')">
> <%= _("Help") %></div>
<ul class="menu" id="menu_aide">
 <li><%= public_link_to_howto_request %></li>
</ul>
<%# mandatory for seeing last link ... :/ %>
<br />

<% end # Cache %>
