<script type="text/javascript"><!--
  window.onload = print();
//--></script>

<h1><%= @demande.resume %></h1>
<%= render :partial => 'demandes/tabs/description' %>
<br />

<h1><%= _("Comments") %></h1>
<%= render :partial => 'demandes/tabs/tab_comments' %>
<br />

<h1><%= _("History") %></h1>
<%= render :partial => 'demandes/tabs/history' %>
<br />

<h1><%= _("Phonecalls") %></h1>
<%= render :partial => 'demandes/tabs/appels' %>
<br />

<h1><%= _("SLA") %></h1>
<%= render :partial => 'demandes/tabs/cns' %>
<br />
