<% # Don't display both if one is empty %>
<% unless @own_issues.empty? %>
 <h1><%= n_('My pending issue', 'My pending issues', @own_issues.size) %>
    <%= StaticPicture::spinner %></h1>

   <%= render :partial => 'issues/lists/pending_table',
             :locals => { :issues => @own_issues } %>
<% end %>

<% if @session_user.engineer? and not @tam_issues.empty? %>
  <h1><%= n_('The contracts I manage has %d pending issue', 
  'The contracts I manage has %d pending issues', 
  @tam_issues.size) % @tam_issues.size %>
    <%= StaticPicture::spinner %></h1>
  <%= render :partial => 'issues/lists/pending_table',
             :locals => { :issues => @tam_issues } %>
<% end %>

<% # Don't display both if one is empty %>
<% unless @team_issues.empty? %>
 <h1><%= n_("My team has %d pending issue", "My team has %d pending issues",
            @team_issues.size) % @team_issues.size %></h1>

  <%= render :partial => 'issues/lists/pending_table',
             :locals => { :issues => @team_issues } %>
<% end %>

<% if @team_issues.empty? and @own_issues.empty? and @tam_issues.empty? %>
  <h1><%= _('No pending issue') %></h1>
<% end %>