<h1><%= "Groupe softwares \"#{@groupe.name}\"" %></h1>

<table class="show">
<% for column in Groupe.content_columns %>
<tr><td><b><%= column.human_name %>:</b>
    <td><%=h @groupe.send(column.name) %></td></tr>
<% end %>

  <tr>
    <td><b>Softwares:</b>
    <td><%= show_list(@groupe.softwares, 'Softwares',
             {:no_title => true}) { |l| public_link_to_software l} %></td>
  </tr>

</table>

<%= link_to_edit_and_list @groupe %>
