<%= error_messages_for 'component' %>

<p><label for="component_name"><%=t('Component|Name')%></label><br/>
<%= text_field 'component', 'name'  %></p>

<p><label for="component_max"><%=t('Maximum number of components')%></label><br/>
<%= text_field 'component', 'max'  %></p>
