<h1><%= _("Editing a severity") %></h1>

<% form_tag severity_path(@severity), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>

<%= link_to 'Show', severity_path(@severity) %> |
<%= link_to_back %>
