<h1><%= t(:Edit) %></h1>

<% form_tag severity_path(@severity), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t(:Edit) %>
<% end %>

<%= link_to t(:Show), severity_path(@severity) %> |
<%= link_to_back %>
