<h1><%= t('Edit a changelog') %></h1>

<% form_tag changelog_path(@changelog), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('Edit') %>
<% end %>

<%= link_to t('Show'), changelog_path(@changelog) %> |
<%= link_to_back %>
