<h1><%= _('Edit a changelog') %></h1>

<% form_tag changelog_path(@changelog), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>

<%= link_to _('Show'), changelog_path(@changelog) %> |
<%= link_to_back %>
