<div class="demande_tab_content" name="demande_tab_content">

<% commitment = @demande.engagement %>
<% elapsed = @demande.elapsed %>
<% if commitment.nil? %>
  <p><%= _("Your request is not subject to a SLA.") %></p>
<% else %>
 <table class="show">
  <tr class="<%= cycle('pair', 'impair') %>">
    <th><%= _("Taken into account") %></th>
    <td><%= progress_bar(elapsed.taken_into_account / 1.hour) %></td>
    <td><%= Time.in_words(elapsed.taken_into_account) %> /
        <%= Time.in_words(1.hour) %></td>
  </tr>
  <% workaround = elapsed.workaround %>
  <% workaround = elapsed.until_now if workaround == 0.0 || workaround.nil?%>
   <tr class="<%= cycle('pair', 'impair') %>">
    <th><%= _("Workaround") %></th>
    <td><% if commitment.contournement > 0 %>
      <% progress = elapsed.progress(workaround, commitment.contournement, @demande.interval) %>
      <%= progress_bar(progress) %> (<%= (progress * 100).round %> %)
    <% end %></td>
    <td><%= Time.in_words(workaround, @demande.interval) %> /
        <%= Time.in_words(commitment.contournement.days) %></td>
   </tr>
  <% correction = elapsed.correction %>
  <% correction = elapsed.until_now if correction == 0.0 || correction.nil? %>
   <tr class="<%= cycle('pair', 'impair') %>">
    <th><%= _("Correction") %></th>
    <td><% if commitment.correction > 0 %>
     <% progress = elapsed.progress(correction, commitment.correction, @demande.interval) %>
     <%= progress_bar(progress) %> (<%= (progress * 100).round %> %)
    <% end %></td>
    <td><%= Time.in_words(correction, @demande.interval) %> /
        <%= Time.in_words(commitment.correction.days) %></td>
   </tr>
 </table>
<% end %>

</div>
