<% cache("requests/#{@demande_id || @demande.id}/history") do %>
<div class="demande_tab_content" name="demande_tab_content">

<table>
  <tr>
    <th><%= _("Date") %></th>
    <th></th>
    <th><%= _("Change(s)") %></th>
  </tr>

  <% contrat, rule = nil, nil %>
  <% @commentaires.each do |c| %>
     <% contrat ||= c.demande.contrat %>
     <% rule ||= contrat.rule %>
     <% history = display_history(c, rule, contrat) %>
     <% unless history.nil? %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= c.created_on_formatted %></td>
        <td>&nbsp;</td>
        <td><%= history %></td>
      </tr>
     <% end %>
  <% end %>
</table>
</div>
<% end %>
