<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Locale.get%>" lang="<%=Locale.get%>">
<head>
  <%# precomputing header for having 80 r/s instead of 55 (~63% of more speed) %>
  <% locale = Locale.get.language.intern %>
  <% user = session[:user] %>
  <% role_localised = :"#{locale}#{user.role_id}" if user %>
  <% @@public_menu ||= {}; @@public_links ||= {}; @@public_head ||= {}; @@menu ||= {} %>
  <% @@public_head[locale] =
      '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8;"/>' <<
      "<link rel=\"shortcut icon\" href=\"#{StaticImage::favimage_ico}\" type=\"image/x-icon\" />" <<
      "<link rel=\"icon\" href=\"#{StaticImage::favimage_png}\" type=\"image/png\" />" <<
      stylesheet_link_tag("yaml/core/base.css", "yaml/navigation/nav_shinybuttons.css", 
        "builder/basemod.css", "builder/content_default.css", "common.css",  "tosca/specific.css",
        "yaml/print/print_003_draft.css", "tosca/custom_tiny.css",
        :media => 'all', :cache => true) <<
      "<!--[if lte IE 7]>" <<
      stylesheet_link_tag("ie_hacks/patch.css", :media => 'all', :cache => true) << 
      "<![endif]-->"
  %>
  <%= @@public_head[locale] %>
  <!-- TinyMCE can be loaded after the page : -->
  <%= javascript_include_tag('tiny_mce/tiny_mce') %>
  <%# Tuned according to the wiki : http://wiki.moxiecode.com/index.php/TinyMCE:Performance_tuning_TinyMCE %>
  <script type="text/javascript">
	 //<![CDATA[
     tinyMCE.init({
        editor_deselector : 'mceNoEditor',
        entity_encoding : 'raw',
        language : '<%=locale%>',
        mode : 'textareas',
        relative_urls : false,
        paste_auto_cleanup_on_paste : true,
        button_tile_map : true,
		verify_html : false,
		entity_encoding : "raw",
        remove_script_host : false,
        theme : 'advanced',
        theme_advanced_buttons1 : "formatselect,bold,italic,underline,strikethrough,separator,bullist,numlist,forecolor,separator,link,unlink,separator,undo,redo,separator,code",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_align : 'left',
        theme_advanced_toolbar_location : 'top'
     }); //]]> </script>

 <title><%= @page_title || _(controller.controller_name)%></title>
</head>
<body>
  <%# All the menu are built during first rendering or during login, in account controller %>
  <% @@public_menu[locale] ||= build_simple_menu([
       public_link_to_home,
       public_link_to_software,
       public_link_to_contributions,
       public_link_to_about ]) %>
  <% @@menu[role_localised] ||= build_simple_menu([
        public_link_to_home,
        link_to_tobd_requests,
        link_to_all_requests,
        '<a>'+search_demande+'</a>',
        link_to_admin,
        public_link_to_about
       ], :form => true) if user %>

<div id="page_margins">
    <div id="border-top">
      <div id="edge-tl"></div>
      <div id="edge-tr"></div>
    </div>
    <div id="page">
      <div id="header">
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
          <!-- end: skip link navigation -->
          <% @@public_links[locale] ||= link_to_redbox(_('Log in'), 'login_box') %>
          <% if user %>
            <% infos = [
                link_to(_("My account"), edit_account_path(user)),
                public_link_to(_("Logout"), logout_accounts_path) ] %>
             <%= infos.join(' | ') %>
          <% else %>
            <%= @@public_links[locale] %>
          <% end %>
        </div>
        <%= public_link_to StaticImage::logo_08000, welcome_url%>
      </div>
      <div id="nav">
        <a id="navigation" name="navigation"></a>
        <div id="nav_main">
          <%= (user ? @@menu[role_localised] : @@public_menu[locale]) %>

        </div>
      </div>
      <div id="teaser">
        <%= show_notice if flash[:notice] %>
        <%= show_warn if flash[:warn] %>
      </div>
      <!-- Javascript starts to be used here : -->
      <%= javascript_include_tag('calendar', "calendar-#{locale}",
         'calendar-setup', 'prototype', 'effects', 'controls',
         'application', 'redbox', 'tosca', :cache => "all-#{locale}") %>

      <div id="main">
        <% if @partial_for_summary %>
         <%#onclick="Element.toggle('col1_content')" title="Montrer/cacher le menu latéral"%>
        <div id="col1">
          <div id="col1_content" class="clearfix">
            <%= render_partial @partial_for_summary %>
          </div>
        </div>
        <div id="col3">
          <div id="col3_content" class="clearfix">
        <% end %>
        
        <%= @content_for_layout %>
          
        <% if @partial_for_summary %>
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
        </div>
        <% end %>
      </div>
      <!-- begin: #footer -->
      <div id="footer">
        <% @@footer ||=
            public_link_to(App::ServiceFullName,
                           App::CompanySite + App::CompanySitePath) <<
                  '&nbsp;' <<
                  public_link_to(StaticImage::ruby, 'http://rubyonrails.org/') <<
                  '&nbsp;' <<
                  public_link_to(App::Copyright, App::CompanySite)
         %>
         <%= @@footer %>
      </div>
    </div>
    <div id="border-bottom">
      <div id="edge-bl"></div>
      <div id="edge-br"></div>
    </div>
  </div>
  
  <% unless user %>
    <div id="login_box" style="display: none">
      <%= render :file => "account/login", :locals => { :show_close_icon => true } %>
    </div>
  <% end %>

</body>
</html>
