<?xml version="1.0" encoding="UTF-8"?>
<% user = session[:user] %>
<% role_id = (user ? user.role_id : 6) %>
<% locale = Locale.get.language.intern %>
<% role_localised = :"#{locale}#{user.role_id}" if user %>
<% #We use '-' and the end not to generate new lines
  cache("layout/#{role_id}/head") do -%>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Locale.get%>" lang="<%=Locale.get%>">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;"/>
   <link rel="shortcut icon" href="<%=StaticImage::favimage_ico%>" type="image/x-icon" />
   <link rel="icon" href="<%=StaticImage::favimage_png%>" type="image/png" />
   <%= stylesheet_link_tag("yaml/core/base.css", "yaml/core/print_base.css",
        "builder/basemod.css", "builder/content_default.css", "tosca/specific.css",
        "tosca/navigation.css", "tosca/print.css", "tosca/custom_tiny.css", "tosca/calendar.css",
        "tosca/ajax.css", "tosca/big_calendar.css",
        :media => 'all', :cache => true) %>
   <!--[if lte IE 7]>
     <%= stylesheet_link_tag('yaml/core/iehacks.css', 'ie_hacks/patch.css', 'ie_hacks/tosca.css', :media => 'all', :cache => 'ie') %>
   <![endif]-->

   <!-- TinyMCE can be loaded after the page : -->
   <%= javascript_include_tag('tiny_mce/tiny_mce') %>
   <%# Tuned according to the wiki : http://wiki.moxiecode.com/index.php/TinyMCE:Performance_tuning_TinyMCE %>
   <script type="text/javascript">
	 //<![CDATA[
     tinyMCE.init({
        editor_deselector : 'mceNoEditor',
        entity_encoding : 'raw',
        language : '<%=locale%>',
        mode : 'textareas',
        relative_urls : false,
        paste_auto_cleanup_on_paste : true,
        button_tile_map : true,
		verify_html : false,
		entity_encoding : "raw",
        remove_script_host : false,
        theme : 'advanced',
        theme_advanced_buttons1 : "formatselect,bold,italic,underline,strikethrough,separator,bullist,numlist,forecolor,separator,link,unlink,separator,undo,redo,separator,code",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_align : 'left',
        theme_advanced_toolbar_location : 'top'
     }); //]]> </script>
   <%= javascript_include_tag('calendar', "calendar-#{locale}",
        'calendar-setup', 'prototype', 'effects', 'controls',
        'application', 'redbox', 'md5', 'tosca', :cache => "all-#{locale}") %>
<% end %>
 <% theme = session[:theme] %>
 <%= stylesheet_link_tag(theme, :media => 'all') unless theme.blank? %>
 <title><%= @page_title || _(controller.controller_name) %></title>
</head>
<body>
  <div id="page_margins">
    <div id="page">
     <% cache("layout/#{role_id}/menu") do %>
      <div id="header">
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation"><%= _("Skip to the navigation") %></a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content"><%= _("Skip to the content") %></a><span class="hideme">.</span>
          <!-- end: skip link navigation -->
        </div>
      </div>

      <div id="nav">
        <a id="navigation" name="navigation"></a>
        <div id="nav_main">
          <% if user %>
            <%= build_simple_menu([ public_link_to_home, link_to_tobd_issues, link_to_all_issues, search_issue, link_to_admin ], :form => true) %>
          <% else %>
            <%= build_simple_menu([ public_link_to_home, public_link_to_softwares, public_link_to_contributions ]) %>
          <% end %>
          <%= public_link_to StaticImage::logo_service, welcome_url, :class => "logo"%>
          <ul class="nav_user">
          <% if user %>
            <% infos = [ link_to(_('My account'), edit_account_path(user)),
                         link_to_remote_redbox('D', :url => theme_welcome_path, :method => :get, :update => 'theme_box'),
                         public_link_to(image_disconnect, logout_accounts_path, :class => "disconnect") ] %>
            <li><%= infos.join('</li><li>') %></li>
          <% else %>
            <li><%= link_to_redbox(image_connect, 'login_box', :class => "connect") %></li>
          <% end %>
          <li><%= public_link_to_about %></li>
          </ul>
        </div>
      </div>
     <% end %>
      <% if flash[:notice] || flash[:warn] %>
        <div id="teaser">
          <%= show_notice if flash[:notice] %>
          <%= show_warn if flash[:warn] %>
        </div>
      <% end %>

      <div id="main">
        <div id="col1" <%=' style="width: 75%"' if @partial_for_summary%>>
          <div id="col1_content" class="clearfix">
            <%= @content_for_layout %>
          </div>
        </div>
        <% if @partial_for_summary %>
          <div id="col3">
            <div id="col3_content" class="clearfix">
              <%= render_partial @partial_for_summary %>
            </div>
            <!-- IE Column Clearing -->
            <div id="ie_clearing"> &#160; </div>
          </div>
        <% end %>
      </div>

<% cache ("layout/#{role_id}/footer") do %>
      <!-- begin: #footer -->
      <div id="footer">
        <%= public_link_to(App::ServiceFullName, App::CompanySite + App::CompanySitePath) %>&nbsp;
        <%= public_link_to(StaticImage::ruby, 'http://rubyonrails.org/') %>&nbsp;
        <%= public_link_to(App::Copyright, App::CompanySite) %>
      </div>
    </div>

    <div id="theme_box" style="display: none"></div>
  <% unless user %>
    <div id="login_box" style="display: none">
     <%= render :file => "account/login", :use_full_path => true,
                :locals => { :show_close_icon => true } %>
    </div>
  <% end %>
  </div>
 </body>
 </html>
<% end %>